<!-- ナビページ公開申請ここから -->
<form method="POST">
  <table width="580" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#5B94FD"> 
      <td colspan="5"><img src="image/naviedit_open_ttl.gif" width="159" height="25" hspace="10" alt="ナビページ公開申請"></td>
    </tr>
    <tr> 
      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
    </tr>
    <tr> 
      <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
    </tr>
    <tr> 
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td colspan="3" class="char120">公開には事務局の承認が必要となります。<br>
        ナビページ公開申請をします。よろしいですか？<br>
      </td>
      <td><img src="image/spacer.gif" width="10" height="1"></td>
    </tr>
    <tr> 
      <td colspan="5"><img src="image/spacer.gif" width="1" height="10"> 
        <table width="180" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="90">
              <input type="image" border="0" value="公開申請する" name="submit" src="image/naviedit_btn_open.gif" width="90" height="20" alt="公開申請する">
            </td>
            <td width="10"><img src="image/spacer.gif" width="20" height="1"></td>
            <td width="39">
              <a href="index.php?module=Navi&amp;action=ShowNaviEdit&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>"><img border="0" value="戻る"  name="button" src="image/return_btn.gif" width="39" height="20" alt="戻る"></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td valign="top">　 </td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="270" valign="top">　 </td>
      <td><img src="image/spacer.gif" width="10" height="1"></td>
    </tr>
    <tr> 
      <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
    </tr>
  </table>
</form>