<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#5B94FD">

    <td colspan="3"><img src="image/naviedit_trackback_ttl.gif" width="162" height="25" hspace="10" alt="トラックバック管理"></td>
  </tr>
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
    <td width="555" valign="top">
      <table width="555" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>

	  <td><img src="image/naviedit_trackback_edit_ttl.gif" width="127" height="14" alt="トラックバック編集"></td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="4"></td>
	</tr>
	<tr>
	  <td bgcolor="#5B94FD"><img src="image/spacer.gif" width="555" height="1"></td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
	<tr>
	  <td>
	    <{$editform->getHtmlErrors()}>
	  </td>
	</tr>
      </table>
      <form name="form3" method="post" action="" enctype="multipart/form-data">

	<table width="555" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td width="85" class="char120">ブログタイトル</td>
	    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	    <td width="460">
	      <input type="text"  name="navi_blog_name" value="<{$editform->navi_blog_name|escape}>"  size="20" style="width:350px;">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	  <tr>
	    <td width="85" class="char120">タイトル</td>
	    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	    <td width="460">
	      <input type="text"  name="navi_title" value="<{$editform->navi_title|escape}>"  size="20" style="width:350px;">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	  <tr>
	    <td width="85" class="char120">URL</td>
	    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	    <td width="460">
	      <input type="text"  name="navi_url" value="<{$editform->navi_url|escape}>"  size="20" style="width:350px;">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	  <tr>
	    <td class="char120" valign="top">投稿内容</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td>
	      <textarea name="navi_excerpt" rows="5" cols="50" style="width:360px;"><{$editform->navi_excerpt|escape}></textarea>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr>
	    <td class="char120">公開</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <{html_radios name="navi_status" options=$status_options selected=$editform->navi_status}>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	  </tr>
	  <tr>
	    <td class="char120">投稿日時</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120"><{$editform->navi_date}></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	</table>
	<table width="555" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="5"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr>
	    <td>
	      <table width="180" border="0" cellspacing="0" cellpadding="0">
		<tr>

		  <td width="50"><input type="image" src="image/naviedit_btn_regist.gif" width="50" height="20" border="0" alt="登録"></td>
		  <td width="10"><img src="image/spacer.gif" width="20" height="1"></td>
		  <td width="110"><a href="index.php?module=Navi&amp;action=adminTrackback&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>"><img src="image/naviedit_btn_cancel.gif" width="110" height="20" border="0" alt="登録しないで戻る"></a></td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	</table>
      </form>
    </td>
    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
  </tr>
</table>
