/************************************************************************
 *									*
 *		ＯＳ／２　オンラインユーザサポートシステム		*
 *			ＰＣ－ＮＥＴ／２				*
 *									*
 *		名称		: アクセラレータリソースファイル	*
 *		ファイル名	: acceltbl.rc				*
 *		作成者		: s.aizawa				*
 *									*
 ************************************************************************/

ACCELTABLE ID_RESOURCE_MAIN
{
	13,		IDM_MAIN_FILE_LOGDISP,	CHAR
	VK_PAGEUP,	IDK_LINEUP,	VIRTUALKEY
	VK_PAGEDOWN,	IDK_LINEDOWN,	VIRTUALKEY
	VK_PAGEUP,	IDK_PAGEUP,	VIRTUALKEY, SHIFT
	VK_PAGEDOWN,	IDK_PAGEDOWN,	VIRTUALKEY, SHIFT
	VK_UP,		IDK_UP,		VIRTUALKEY
	VK_DOWN,	IDK_DOWN,	VIRTUALKEY
	VK_UP,		IDK_DRAG_UP,	VIRTUALKEY, SHIFT
	VK_DOWN,	IDK_DRAG_DOWN,	VIRTUALKEY, SHIFT
	VK_ESC,		IDK_CANCEL,	VIRTUALKEY
}

ACCELTABLE ID_RESOURCE_USER
{
	13, IDM_USER_FILE_UPDATE, CHAR
	VK_PAGEUP,	IDK_LINEUP,	VIRTUALKEY
	VK_PAGEDOWN,	IDK_LINEDOWN,	VIRTUALKEY
	VK_PAGEUP,	IDK_PAGEUP,	VIRTUALKEY, SHIFT
	VK_PAGEDOWN,	IDK_PAGEDOWN,	VIRTUALKEY, SHIFT
	VK_UP,		IDK_UP,		VIRTUALKEY
	VK_DOWN,	IDK_DOWN,	VIRTUALKEY
	VK_UP,		IDK_DRAG_UP,	VIRTUALKEY, SHIFT
	VK_DOWN,	IDK_DRAG_DOWN,	VIRTUALKEY, SHIFT
	VK_ESC,		IDK_CANCEL,	VIRTUALKEY
}

ACCELTABLE ID_RESOURCE_BBS
{
	13, IDM_BBS_FILE_UPDATE, CHAR
	VK_PAGEUP,	IDK_LINEUP,	VIRTUALKEY
	VK_PAGEDOWN,	IDK_LINEDOWN,	VIRTUALKEY
	VK_PAGEUP,	IDK_PAGEUP,	VIRTUALKEY, SHIFT
	VK_PAGEDOWN,	IDK_PAGEDOWN,	VIRTUALKEY, SHIFT
	VK_UP,		IDK_UP,		VIRTUALKEY
	VK_DOWN,	IDK_DOWN,	VIRTUALKEY
	VK_UP,		IDK_DRAG_UP,	VIRTUALKEY, SHIFT
	VK_DOWN,	IDK_DRAG_DOWN,	VIRTUALKEY, SHIFT
	VK_ESC,		IDK_CANCEL,	VIRTUALKEY
}

ACCELTABLE ID_RESOURCE_MAIL
{
	13, IDK_CR, CHAR
	VK_PAGEUP,	IDK_LINEUP,	VIRTUALKEY
	VK_PAGEDOWN,	IDK_LINEDOWN,	VIRTUALKEY
	VK_PAGEUP,	IDK_PAGEUP,	VIRTUALKEY, SHIFT
	VK_PAGEDOWN,	IDK_PAGEDOWN,	VIRTUALKEY, SHIFT
	VK_UP,		IDK_UP,		VIRTUALKEY
	VK_DOWN,	IDK_DOWN,	VIRTUALKEY
	VK_UP,		IDK_DRAG_UP,	VIRTUALKEY, SHIFT
	VK_DOWN,	IDK_DRAG_DOWN,	VIRTUALKEY, SHIFT
	VK_ESC,		IDK_CANCEL,	VIRTUALKEY
}
