/************************************************************************
 *									*
 *		ÇnÇrÅ^ÇQÅ@ÉIÉìÉâÉCÉìÉÜÅ[ÉUÉTÉ|Å[ÉgÉVÉXÉeÉÄ		*
 *			ÇoÇbÅ|ÇmÇdÇsÅ^ÇQ				*
 *									*
 *		ñºèÃ		: ÉwÉãÉvÉäÉ\Å[ÉXÉtÉ@ÉCÉã		*
 *		ÉtÉ@ÉCÉãñº	: help.rc				*
 *		çÏê¨é“		: s.aizawa				*
 *									*
 ************************************************************************/

#define	SUBTBL_MAIN		910
#define	SUBTBL_USER		920
#define	SUBTBL_BBS		930
#define	SUBTBL_MAIL		940
#define	SUBTBL_MONITOR		950
#define	SUBTBL_TERMINAL		960
#define	SUBTBL_NULL		999

#define	HP_MAIN			1000
#define	HP_MAIN_FILE		1100
#define	HP_MAIN_FILE_USER	1110
#define	HP_MAIN_FILE_BBS	1120
#define	HP_MAIN_FILE_MAIL	1130
#define	HP_MAIN_FILE_USERINF	1140
#define	HP_MAIN_FILE_LOGDISP	1150
#define	HP_MAIN_FILE_LOGFDEL	1160
#define	HP_MAIN_FILE_LOGDEL	1170
#define	HP_MAIN_FILE_EXIT	1180
#define	HP_MAIN_FILE_PROFILE	1190
#define	HP_MAIN_SETTEI		1200
#define	HP_MAIN_SET_PORT	1210
#define	HP_DLG_SET_PORT		1211
#define	HP_DLG_SET_MODEM	1212
#define	HP_MAIN_SET_ENV		1220
#define	HP_DLG_SET_ENV		1221
#define	HP_MAIN_SET_CMSG	1230
#define	HP_MAIN_SET_LMSG	1240
#define	HP_MAIN_MONITOR		1300
#define	HP_MAIN_MON_CH1		1310
#define	HP_MAIN_MON_CH2		1320
#define	HP_MAIN_MON_CH3		1330
#define	HP_MAIN_TERMINAL	1400
#define	HP_MAIN_TERM_CH0	1410
#define	HP_MAIN_TERM_CH1	1420
#define	HP_MAIN_TERM_CH2	1430
#define	HP_MAIN_TERM_CH3	1440
#define	HP_MAIN_HELP		1500
#define	HP_MAIN_HELP_HELP	1510
#define	HP_MAIN_HELP_EXT	1520
#define	HP_MAIN_HELP_INDEX	1530
#define	HP_MAIN_HELP_KEYS	1540

#define	HP_USER			2000
#define	HP_USER_FILE		2100
#define	HP_USER_FILE_NEW	2110
#define	HP_DLG_KIHON		2111
#define	HP_DLG_HANBAI		2112
#define	HP_DLG_TUUSHIN		2113
#define	HP_USER_FILE_UPDATE	2120
#define	HP_USER_FILE_DELETE	2130
#define	HP_USER_EXIT		2140
#define	HP_USER_DISPLAY		2200
#define	HP_USER_SEQ_USERID	2210
#define	HP_USER_SEQ_FURIGANA	2220
#define	HP_USER_DSP_USERID	2230
#define	HP_USER_DSP_PASSWORD	2231
#define	HP_USER_DSP_GROUP	2232
#define	HP_USER_DSP_LEVEL	2233
#define	HP_USER_DSP_NAME	2234
#define	HP_USER_DSP_FURIGANA	2235
#define	HP_USER_DSP_COMPANY	2236
#define	HP_USER_DSP_SDATE	2237
#define	HP_USER_DSP_EDATE	2238
#define	HP_USER_DSP_CCOUNT	2239
#define	HP_USER_DSP_CTIME	2240
#define	HP_USER_SEARCH		2300
#define	HP_DLG_SEARCH_USERID	2310
#define	HP_DLG_SEARCH_FURIGANA	2320

#define	HP_BBS			3000
#define	HP_BBS_FILE		3100
#define	HP_BBS_FILE_SELECT	3110
#define	HP_DLG_SELECT		3111
#define	HP_DLG_BBSM		3112
#define	HP_BBS_FILE_NEW		3120
#define	HP_DLG_BBS		3121
#define	HP_BBS_FILE_UPDATE	3130
#define	HP_BBS_FILE_DELETE	3140
#define	HP_BBS_FILE_READ	3150
#define	HP_BBS_DISPLAY		3200
#define	HP_BBS_DSP_CREATE	3210
#define	HP_BBS_DSP_USERID	3220
#define	HP_BBS_DSP_LEVEL	3230
#define	HP_BBS_DSP_FNAME	3240
#define	HP_BBS_DSP_SIZE		3250
#define	HP_BBS_DSP_TITLE	3260
#define	HP_BBS_EXIT		3300

#define	HP_MAIL			4000
#define	HP_MAIL_FILE		4100
#define	HP_MAIL_FILE_SEND	4110
#define	HP_DLG_MAIL_SEND	4111
#define	HP_MAIL_FILE_SEND2	4120
#define	HP_MAIL_FILE_UPDATE	4130
#define	HP_DLG_MAIL_UPDATE	4131
#define	HP_MAIL_FILE_DELETE	4140
#define	HP_MAIL_FILE_READ	4150
#define	HP_MAIL_DISPLAY		4200
#define	HP_MAIL_DSP_SMAIL	4210
#define	HP_MAIL_DSP_RMAIL	4220
#define	HP_MAIL_DSP_ALL		4230
#define	HP_MAIL_DSP_SID		4240
#define	HP_MAIL_DSP_RID		4250
#define	HP_MAIL_DSP_SDATE	4260
#define	HP_MAIL_DSP_RDATE	4270
#define	HP_MAIL_DSP_TYPE	4280
#define	HP_MAIL_DSP_TITLE	4290
#define	HP_MAIL_EXIT		4300

#define	HP_MONITOR		5000
#define	HP_MON_EXIT		5100

#define	HP_TERMINAL		6000
#define	HP_TERM_FILE		6100
#define	HP_TERM_FILE_TRCV	6110
#define	HP_TERM_FILE_TSND	6120
#define	HP_TERM_FILE_XRCV	6130
#define	HP_TERM_FILE_XSND	6140
#define	HP_TERM_RESET		6200
#define	HP_TERM_EXIT		6300

#define	HP_FILECOPY		9001

HELPTABLE PCNET_HELP_TABLE
{
	HELPITEM ID_RESOURCE_MAIN,	SUBTBL_MAIN,	HP_MAIN
	HELPITEM IDD_PORT,		SUBTBL_NULL,	HP_DLG_SET_PORT
	HELPITEM IDD_MODEM,		SUBTBL_NULL,	HP_DLG_SET_MODEM
	HELPITEM IDD_ENV,		SUBTBL_NULL,	HP_DLG_SET_ENV
	HELPITEM ID_RESOURCE_USER,	SUBTBL_USER,	HP_USER
	HELPITEM IDD_USER,		SUBTBL_NULL,	HP_DLG_KIHON
	HELPITEM IDD_SALES,		SUBTBL_NULL,	HP_DLG_HANBAI
	HELPITEM IDD_COMINF,		SUBTBL_NULL,	HP_DLG_TUUSHIN
	HELPITEM IDD_USER_SRID,		SUBTBL_NULL,	HP_DLG_SEARCH_USERID
	HELPITEM IDD_USER_SRFURI,	SUBTBL_NULL,	HP_DLG_SEARCH_FURIGANA
	HELPITEM ID_RESOURCE_BBS,	SUBTBL_BBS,	HP_BBS
	HELPITEM IDD_BBS_SELECT,	SUBTBL_NULL,	HP_DLG_SELECT
	HELPITEM IDD_BBSM,		SUBTBL_NULL,	HP_DLG_BBSM
	HELPITEM IDD_BBS,		SUBTBL_NULL,	HP_DLG_BBS
	HELPITEM ID_RESOURCE_MAIL,	SUBTBL_MAIL,	HP_MAIL
	HELPITEM IDD_MAIL_SEND,		SUBTBL_NULL,	HP_DLG_MAIL_SEND
	HELPITEM IDD_MAIL_UPDATE,	SUBTBL_NULL,	HP_DLG_MAIL_UPDATE
	HELPITEM ID_RESOURCE_MONITOR,	SUBTBL_MONITOR,	HP_MONITOR
	HELPITEM ID_RESOURCE_TERMINAL,	SUBTBL_TERMINAL,HP_TERMINAL
	HELPITEM IDD_FILE,		SUBTBL_NULL,	HP_FILECOPY
}
HELPSUBTABLE SUBTBL_MAIN
{
	HELPSUBITEM IDM_MAIN_FILE,		HP_MAIN_FILE
	HELPSUBITEM IDM_MAIN_FILE_USER,		HP_MAIN_FILE_USER
	HELPSUBITEM IDM_MAIN_FILE_BBS,		HP_MAIN_FILE_BBS
	HELPSUBITEM IDM_MAIN_FILE_MAIL,		HP_MAIN_FILE_MAIL
	HELPSUBITEM IDM_MAIN_FILE_USERINF,	HP_MAIN_FILE_USERINF
	HELPSUBITEM IDM_MAIN_FILE_LOGDISP,	HP_MAIN_FILE_LOGDISP
	HELPSUBITEM IDM_MAIN_FILE_LOGFDEL,	HP_MAIN_FILE_LOGFDEL
	HELPSUBITEM IDM_MAIN_FILE_LOGDEL,	HP_MAIN_FILE_LOGDEL
	HELPSUBITEM IDM_EXIT,			HP_MAIN_FILE_EXIT
	HELPSUBITEM IDM_ABOUT,			HP_MAIN_FILE_PROFILE
	HELPSUBITEM IDM_MAIN_SETTEI,		HP_MAIN_SETTEI
	HELPSUBITEM IDM_MAIN_SET_PORT,		HP_MAIN_SET_PORT
	HELPSUBITEM IDM_MAIN_SET_ENV,		HP_MAIN_SET_ENV
	HELPSUBITEM IDM_MAIN_SET_CMSG,		HP_MAIN_SET_CMSG
	HELPSUBITEM IDM_MAIN_SET_LMSG,		HP_MAIN_SET_LMSG
	HELPSUBITEM IDM_MAIN_MONITOR,		HP_MAIN_MONITOR
	HELPSUBITEM IDM_MAIN_MON_CH1,		HP_MAIN_MON_CH1
	HELPSUBITEM IDM_MAIN_MON_CH2,		HP_MAIN_MON_CH2
	HELPSUBITEM IDM_MAIN_MON_CH3,		HP_MAIN_MON_CH3
	HELPSUBITEM IDM_MAIN_TERMINAL,		HP_MAIN_TERMINAL
	HELPSUBITEM IDM_MAIN_TERM_CH0,		HP_MAIN_TERM_CH0
	HELPSUBITEM IDM_MAIN_TERM_CH1,		HP_MAIN_TERM_CH1
	HELPSUBITEM IDM_MAIN_TERM_CH2,		HP_MAIN_TERM_CH2
	HELPSUBITEM IDM_MAIN_TERM_CH3,		HP_MAIN_TERM_CH3
	HELPSUBITEM IDM_MAIN_HELP,		HP_MAIN_HELP
	HELPSUBITEM IDM_MAIN_HELP_HELP,		HP_MAIN_HELP_HELP
	HELPSUBITEM IDM_MAIN_HELP_EXT,		HP_MAIN_HELP_EXT
	HELPSUBITEM IDM_MAIN_HELP_INDEX,	HP_MAIN_HELP_INDEX
	HELPSUBITEM IDM_MAIN_HELP_KEYS,		HP_MAIN_HELP_KEYS
}

HELPSUBTABLE SUBTBL_USER
{
	HELPSUBITEM IDM_USER_FILE,		HP_USER_FILE
	HELPSUBITEM IDM_USER_FILE_NEW,		HP_USER_FILE_NEW
	HELPSUBITEM IDM_USER_FILE_UPDATE,	HP_USER_FILE_UPDATE
	HELPSUBITEM IDM_USER_FILE_DELETE,	HP_USER_FILE_DELETE
	HELPSUBITEM IDM_USER_DISPLAY,		HP_USER_DISPLAY
	HELPSUBITEM IDM_USER_SEQ_USERID,	HP_USER_SEQ_USERID
	HELPSUBITEM IDM_USER_SEQ_FURIGANA,	HP_USER_SEQ_FURIGANA
	HELPSUBITEM IDM_USER_DSP_USERID,	HP_USER_DSP_USERID
	HELPSUBITEM IDM_USER_DSP_PASSWORD,	HP_USER_DSP_PASSWORD
	HELPSUBITEM IDM_USER_DSP_GROUP,		HP_USER_DSP_GROUP
	HELPSUBITEM IDM_USER_DSP_LEVEL,		HP_USER_DSP_LEVEL
	HELPSUBITEM IDM_USER_DSP_NAME,		HP_USER_DSP_NAME
	HELPSUBITEM IDM_USER_DSP_FURIGANA,	HP_USER_DSP_FURIGANA
	HELPSUBITEM IDM_USER_DSP_COMPANY,	HP_USER_DSP_COMPANY
	HELPSUBITEM IDM_USER_DSP_SDATE,		HP_USER_DSP_SDATE
	HELPSUBITEM IDM_USER_DSP_EDATE,		HP_USER_DSP_EDATE
	HELPSUBITEM IDM_USER_DSP_CCOUNT,	HP_USER_DSP_CCOUNT
	HELPSUBITEM IDM_USER_DSP_CTIME,		HP_USER_DSP_CTIME
	HELPSUBITEM IDM_USER_SEARCH,		HP_USER_SEARCH
	HELPSUBITEM IDM_EXIT,			HP_USER_EXIT
}

HELPSUBTABLE SUBTBL_BBS
{
	HELPSUBITEM IDM_BBS_FILE,		HP_BBS_FILE
	HELPSUBITEM IDM_BBS_FILE_SELECT,	HP_BBS_FILE_SELECT
	HELPSUBITEM IDM_BBS_FILE_NEW,		HP_BBS_FILE_NEW
	HELPSUBITEM IDM_BBS_FILE_UPDATE,	HP_BBS_FILE_UPDATE
	HELPSUBITEM IDM_BBS_FILE_DELETE,	HP_BBS_FILE_DELETE
	HELPSUBITEM IDM_BBS_FILE_READ,		HP_BBS_FILE_READ
	HELPSUBITEM IDM_BBS_DISPLAY,		HP_BBS_DISPLAY
	HELPSUBITEM IDM_BBS_DSP_CREATE,		HP_BBS_DSP_CREATE
	HELPSUBITEM IDM_BBS_DSP_USERID,		HP_BBS_DSP_USERID
	HELPSUBITEM IDM_BBS_DSP_LEVEL,		HP_BBS_DSP_LEVEL
	HELPSUBITEM IDM_BBS_DSP_FNAME,		HP_BBS_DSP_FNAME
	HELPSUBITEM IDM_BBS_DSP_SIZE,		HP_BBS_DSP_SIZE
	HELPSUBITEM IDM_BBS_DSP_TITLE,		HP_BBS_DSP_TITLE
	HELPSUBITEM IDM_EXIT,			HP_BBS_EXIT
}

HELPSUBTABLE SUBTBL_MAIL
{
	HELPSUBITEM IDM_MAIL_FILE,		HP_MAIL_FILE
	HELPSUBITEM IDM_MAIL_FILE_SEND,		HP_MAIL_FILE_SEND
	HELPSUBITEM IDM_MAIL_FILE_SEND2,	HP_MAIL_FILE_SEND2
	HELPSUBITEM IDM_MAIL_FILE_UPDATE,	HP_MAIL_FILE_UPDATE
	HELPSUBITEM IDM_MAIL_FILE_DELETE,	HP_MAIL_FILE_DELETE
	HELPSUBITEM IDM_MAIL_FILE_READ,		HP_MAIL_FILE_READ
	HELPSUBITEM IDM_MAIL_DISPLAY,		HP_MAIL_DISPLAY
	HELPSUBITEM IDM_MAIL_DSP_SMAIL,		HP_MAIL_DSP_SMAIL
	HELPSUBITEM IDM_MAIL_DSP_RMAIL,		HP_MAIL_DSP_RMAIL
	HELPSUBITEM IDM_MAIL_DSP_ALL,		HP_MAIL_DSP_ALL
	HELPSUBITEM IDM_MAIL_DSP_SID,		HP_MAIL_DSP_SID
	HELPSUBITEM IDM_MAIL_DSP_RID,		HP_MAIL_DSP_RID
	HELPSUBITEM IDM_MAIL_DSP_SDATE,		HP_MAIL_DSP_SDATE
	HELPSUBITEM IDM_MAIL_DSP_RDATE,		HP_MAIL_DSP_RDATE
	HELPSUBITEM IDM_MAIL_DSP_TYPE,		HP_MAIL_DSP_TYPE
	HELPSUBITEM IDM_MAIL_DSP_TITLE,		HP_MAIL_DSP_TITLE
	HELPSUBITEM IDM_EXIT,			HP_MAIL_EXIT
}

HELPSUBTABLE SUBTBL_MONITOR
{
	HELPSUBITEM IDM_EXIT,			HP_MON_EXIT
}

HELPSUBTABLE SUBTBL_TERMINAL
{
	HELPSUBITEM IDM_TERM_FILE,		HP_TERM_FILE
	HELPSUBITEM IDM_TERM_FILE_TRCV,		HP_TERM_FILE_TRCV
	HELPSUBITEM IDM_TERM_FILE_TSND,		HP_TERM_FILE_TSND
	HELPSUBITEM IDM_TERM_FILE_XRCV,		HP_TERM_FILE_XRCV
	HELPSUBITEM IDM_TERM_FILE_XSND,		HP_TERM_FILE_XSND
	HELPSUBITEM IDM_TERM_RESET,		HP_TERM_RESET
	HELPSUBITEM IDM_EXIT,			HP_TERM_EXIT
}

HELPSUBTABLE SUBTBL_NULL
{
}
