/************************************************************************
 *									*
 *		ＯＳ／２　オンラインユーザサポートシステム		*
 *			ＰＣ－ＮＥＴ／２				*
 *									*
 *		名称		: メニューリソースファイル		*
 *		ファイル名	: menu.rc				*
 *		作成者		: s.aizawa				*
 *									*
 ************************************************************************/

MENU ID_RESOURCE_MAIN
{
	SUBMENU "ファイル(\036F\037ﾌ)", IDM_MAIN_FILE
	{
		MENUITEM "ユーザ管理(\036U\037ﾕ)", IDM_MAIN_FILE_USER
		MENUITEM "掲示板管理(\036B\037ｹ)", IDM_MAIN_FILE_BBS
		MENUITEM "メール管理(\036M\037ﾒ)", IDM_MAIN_FILE_MAIL
		MENUITEM SEPARATOR
		MENUITEM "ユーザ情報(\036I\037ｲ)", IDM_MAIN_FILE_USERINF
		MENUITEM SEPARATOR
		MENUITEM "通信内容表示(\036D\037ﾋ)", IDM_MAIN_FILE_LOGDISP
		MENUITEM "通信内容削除(\036E\037ｻ)", IDM_MAIN_FILE_LOGFDEL
		MENUITEM SEPARATOR
		MENUITEM "通信履歴削除(\036L\037ﾘ)", IDM_MAIN_FILE_LOGDEL
		MENUITEM SEPARATOR
		MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
		MENUITEM "プロフィール", IDM_ABOUT
	}
	SUBMENU "設定(\036S\037ｾ)", IDM_MAIN_SETTEI
	{
		MENUITEM "通信ポート設定(\036P\037ﾂ)", IDM_MAIN_SET_PORT
		MENUITEM "環境設定(\036E\037ｶ)", IDM_MAIN_SET_ENV
		MENUITEM "接続メッセージ(\036C\037ｾ)", IDM_MAIN_SET_CMSG
		MENUITEM "ログインメッセージ(\036L\037ﾛ)", IDM_MAIN_SET_LMSG
	}
	SUBMENU "モニター(\036M\037ﾓ)", IDM_MAIN_MONITOR
	{
		MENUITEM "チャネル１", IDM_MAIN_MON_CH1
		MENUITEM "チャネル２", IDM_MAIN_MON_CH2
		MENUITEM "チャネル３", IDM_MAIN_MON_CH3
	}
	SUBMENU "ターミナル(\036T\037ﾀ)", IDM_MAIN_TERMINAL
	{
		MENUITEM "ローカル", IDM_MAIN_TERM_CH0
		MENUITEM SEPARATOR
		MENUITEM "チャネル１", IDM_MAIN_TERM_CH1
		MENUITEM "チャネル２", IDM_MAIN_TERM_CH2
		MENUITEM "チャネル３", IDM_MAIN_TERM_CH3
	}
	SUBMENU "ヘルプ(\036H\037ﾙ)",                    IDM_MAIN_HELP
	{
		MENUITEM "ヘルプのヘルプ(\036H\037ﾍ)...", IDM_MAIN_HELP_HELP
		MENUITEM "全般ヘルプ(\036E\037ｶ)...",     IDM_MAIN_HELP_EXT
		MENUITEM "キーのヘルプ(\036K\037ｷ)...",   IDM_MAIN_HELP_KEYS
		MENUITEM "ヘルプの索引(\036I\037ｻ)...",   IDM_MAIN_HELP_INDEX
   }
}

MENU ID_RESOURCE_USER
{
	SUBMENU "ファイル(\036F\037ﾌ)", IDM_USER_FILE
	{
		MENUITEM "新規登録(\036R\037ﾄ)", IDM_USER_FILE_NEW
		MENUITEM "更新(\036U\037ｺ)", IDM_USER_FILE_UPDATE
		MENUITEM "削除(\036D\037ｻ)", IDM_USER_FILE_DELETE
		MENUITEM SEPARATOR
		MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
	}
	SUBMENU "表示設定(\036D\037ﾋ)", IDM_USER_DISPLAY
	{
		MENUITEM "ユーザＩＤ順", IDM_USER_SEQ_USERID
		MENUITEM "名前(ﾌﾘｶﾞﾅ)順", IDM_USER_SEQ_FURIGANA
		MENUITEM SEPARATOR
		MENUITEM "ユーザＩＤ", IDM_USER_DSP_USERID
		MENUITEM "パスワード", IDM_USER_DSP_PASSWORD
		MENUITEM "グループ", IDM_USER_DSP_GROUP
		MENUITEM "許可レベル", IDM_USER_DSP_LEVEL
		MENUITEM "名前", IDM_USER_DSP_NAME
		MENUITEM "フリガナ", IDM_USER_DSP_FURIGANA
		MENUITEM "会社名", IDM_USER_DSP_COMPANY
		MENUITEM "接続開始日", IDM_USER_DSP_SDATE
		MENUITEM "最終接続日", IDM_USER_DSP_EDATE
		MENUITEM "接続回数", IDM_USER_DSP_CCOUNT
		MENUITEM "通信時間", IDM_USER_DSP_CTIME
	}
	MENUITEM "検索(\036S\037ｹ)", IDM_USER_SEARCH
	MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
}

MENU ID_RESOURCE_BBS
{
	SUBMENU "ファイル(\036F\037ﾌ)", IDM_BBS_FILE
	{
		MENUITEM "掲示板選択(\036S\037ｹ)", IDM_BBS_FILE_SELECT
		MENUITEM SEPARATOR
		MENUITEM "新規登録(\036R\037ﾄ)", IDM_BBS_FILE_NEW
		MENUITEM "更新(\036U\037ｺ)", IDM_BBS_FILE_UPDATE
		MENUITEM "削除(\036D\037ｻ)", IDM_BBS_FILE_DELETE
		MENUITEM "取り出し(\036G\037ﾘ)", IDM_BBS_FILE_READ
		MENUITEM SEPARATOR
		MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
	}
	SUBMENU "表示設定(\036D\037ﾋ)", IDM_BBS_DISPLAY
	{
		MENUITEM "登録日付", IDM_BBS_DSP_CREATE
		MENUITEM "ユーザＩＤ", IDM_BBS_DSP_USERID
		MENUITEM "許可レベル", IDM_BBS_DSP_LEVEL
		MENUITEM "ファイル名", IDM_BBS_DSP_FNAME
		MENUITEM "サイズ", IDM_BBS_DSP_SIZE
		MENUITEM "タイトル", IDM_BBS_DSP_TITLE
	}
	MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
}

MENU ID_RESOURCE_MAIL
{
	SUBMENU "ファイル(\036F\037ﾌ)", IDM_MAIL_FILE
	{
		MENUITEM "メール送信(\036S\037ｿ)", IDM_MAIL_FILE_SEND
		MENUITEM "返信(\036R\037ﾍ)", IDM_MAIL_FILE_SEND2
		MENUITEM "参照／変更(\036U\037ｺ)", IDM_MAIL_FILE_UPDATE
		MENUITEM "削除(\036D\037ｻ)", IDM_MAIL_FILE_DELETE
		MENUITEM "取り出し(\036G\037ﾘ)", IDM_MAIL_FILE_READ
		MENUITEM SEPARATOR
		MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
	}
	SUBMENU "表示設定(\036D\037ﾋ)", IDM_MAIL_DISPLAY
	{
		MENUITEM "送信メール", IDM_MAIL_DSP_SMAIL
		MENUITEM "受信メール", IDM_MAIL_DSP_RMAIL
		MENUITEM "全メール", IDM_MAIL_DSP_ALL
		MENUITEM SEPARATOR
		MENUITEM "送信ＩＤ", IDM_MAIL_DSP_SID
		MENUITEM "受信ＩＤ", IDM_MAIL_DSP_RID
		MENUITEM "送信日付", IDM_MAIL_DSP_SDATE
		MENUITEM "受信日付", IDM_MAIL_DSP_RDATE
		MENUITEM "種別", IDM_MAIL_DSP_TYPE
		MENUITEM "タイトル", IDM_MAIL_DSP_TITLE
	}
	MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
}

MENU ID_RESOURCE_MONITOR
{
	MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
}

MENU ID_RESOURCE_TERMINAL
{
	SUBMENU "ファイル(\036F\037ﾌ)", IDM_TERM_FILE
	{
		MENUITEM "テキストファイル受信", IDM_TERM_FILE_TRCV
		MENUITEM "テキストファイル送信", IDM_TERM_FILE_TSND
		MENUITEM SEPARATOR
		MENUITEM "ＸＭＯＤＥＭ受信", IDM_TERM_FILE_XRCV
		MENUITEM "ＸＭＯＤＥＭ送信", IDM_TERM_FILE_XSND
	}
	MENUITEM "リセット(\036R\037ﾘ)", IDM_TERM_RESET
	MENUITEM "終了(\036X\037ｼ)", IDM_EXIT
}
