form
{
	margin: 0
}
table
{
	border-collapse: separate;
	empty-cells: show
}
th
{
	white-space: nowrap;
}
pre
{
	margin: 0px
}
a:link
{
	color: blue
}
a:visited
{
	color: blue
}
a:active
{
	color: blue
}
a:hover
{
	color: red
}
a.thread:link
{
	color = blue;
	text-decoration: none
}
a.thread:visited
{
	color = blue;
	text-decoration: none
}
a.thread:active
{
	color = blue;
	text-decoration: none
}
a.thread:hover
{
	color: red;
	background-color: #ffffaa
}
hr.header
{
	color: #5673fc
}
hr.footer
{
	margin-top: 4px;
	color: #5673fc
}
th.sort
{
	cursor: hand
}
.note
{
	font-size: smaller;
	color: forestgreen
}
tr.tch
{
	background-color: #ffcc99
}
tr.tc0
{
	background-color: #ffffdd
}
tr.tc1
{
	background-color: #ffffff
}
tr.subhead
{
	font-size: smaller;
	font-weight: bold;
	color: #ffffff;
	background-color: #4682B4
}
tr.submenu
{
	font-size: smaller;
	font-weight: bold;
	color: #555555;
	background-color: #cccccc
}
td.tc0
{
	background-color: #ddffdd
}
td.tc1
{
	background-color: #ffffff
}
.np
{
	font-size: 10.5pt;
	font-family: '£Í£Ó ¥´¥·¥Ã¥¯'
}
.disabled
{
	color: #888888
}
td.lt
{
	white-space: nowrap;
}
td.lb
{
	text-align: right;
	white-space: nowrap;
}
td.lc
{
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	width: 100%;
	color: navy;
	background-color: #ddffdd;
	font-size: smaller
}
td.ls
{
	background-color: #ddffdd;
	text-align: right
}
td.m0
{
	font-weight: bold;
	color: slateblue;
	white-space: nowrap;
	vertical-align: bottom;
	padding-top: 10px;
	padding-bottom: 0px
}
td.m1
{
	color: black;
	white-space: nowrap;
	background-color: #ccccff
}
td.n1
{
	background-color: #eeeeee
}
td.menuitem
{
	border: outset;
	font-weight: bold;
	cursor: hand;
	color: white;
	text-align: center;
	white-space: nowrap;
	background-color: steelblue
}
p.msg
{
	color: darkblue
}
.kanji
{
	ime-mode: active
}
.alpha
{
	ime-mode: inactive
}
.number
{
	ime-mode: disabled
}
.small
{
    font-size: 90%
}
.small2
{
    font-size: 80%
}
