BODY
{
}
DIV.page
{
		PAGE-BREAK-BEFORE: always
}
A:link
{
		COLOR: blue
}
A:visited
{
		COLOR: blue
}
A:active
{
		COLOR: blue
}
A:hover
{
		COLOR: red
}
HR.footer
{
		COLOR: #5673fc
}
XMP.print
{
		FONT-FAMILY: 'ÇlÇr ÉSÉVÉbÉN'
}
TABLE.print
{
		FONT-WEIGHT: bolder
}
TD.m1
{
		FONT-WEIGHT: bolder;
		COLOR: white;
		WHITE-SPACE: nowrap;
		BACKGROUND-COLOR: #3366aa
}
TD.m2
{
		FONT-WEIGHT: bolder;
		COLOR: white;
		WHITE-SPACE: nowrap;
		BACKGROUND-COLOR: peru
}
TD.n2
{
		BACKGROUND-COLOR: #f8e0d0
}
TD.m3
{
		FONT-WEIGHT: bolder;
		COLOR: white;
		WHITE-SPACE: nowrap;
		BACKGROUND-COLOR: #888888
}
TD.n3
{
		BACKGROUND-COLOR: #e0e0e0
}
TD.m4
{
		FONT-WEIGHT: bolder;
		COLOR: white;
		WHITE-SPACE: nowrap;
		BACKGROUND-COLOR: #66bb66
}
TD.n4
{
		BACKGROUND-COLOR: #eeeedd
}
.np
{
		FONT-SIZE: 10.5pt;
		FONT-FAMILY: 'ÇlÇr ÉSÉVÉbÉN'
}
.info
{
		FONT-SIZE: 12px
}
H1.title
{
		BORDER-RIGHT: cadetblue 0px solid;
		PADDING-RIGHT: 0px;
		BORDER-TOP: cadetblue 0px solid;
		PADDING-LEFT: 0px;
		FONT-WEIGHT: bold;
		FONT-SIZE: 18pt;
		PADDING-BOTTOM: 0px;
		MARGIN: 0px;
		BORDER-LEFT: cadetblue 0px solid;
		WIDTH: 100%;
		COLOR: navy;
		PADDING-TOP: 0px;
		BORDER-BOTTOM: cadetblue 0px solid
}
TD.n1
{
		BACKGROUND-COLOR: #d0e0f8
}
TD.menu
{
		BORDER-RIGHT: ridge;
		BORDER-TOP: ridge;
		FONT-WEIGHT: bold;
		BORDER-LEFT: ridge;
		CURSOR: hand;
		COLOR: white;
		BORDER-BOTTOM: ridge;
		BACKGROUND-COLOR: #3366aa
}
.small
{
		FONT-SIZE: smaller
}
.hc
{
		FONT-SIZE: smaller;
		COLOR: navy
}
.tc0
{
		BACKGROUND-COLOR: #ffffff
}
.tc1
{
		BACKGROUND-COLOR: #fff0e0
}
.note
{
		FONT-SIZE: smaller;
		COLOR: forestgreen
}
.tc2
{
		BACKGROUND-COLOR: #fffff0
}
TD.m0
{
		COLOR: slateblue
}
TABLE.log
{
		BORDER-RIGHT: navy thin solid;
		BORDER-TOP: navy thin solid;
		BORDER-LEFT: navy thin solid;
		BORDER-BOTTOM: navy thin solid
}
HR.separator
{
		COLOR: red
}
HR.headerH
{
		COLOR: cadetblue;
		HEIGHT: 8px
}
