<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#F5E156">

    <td colspan="3"><img src="image/member_ttl_regist_mail.gif" width="149" height="25" hspace="10" alt="メール配信の変更"></td>
  </tr>
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
    <td width="555">

      <table width="555" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>
	  <td class="char120">
	    <{$message}>
	  </td>
	</tr>
	<tr>
	  <td><img src="image/member_split555.gif" width="555" height="1"></td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="25"></td>
	</tr>
      </table>
      <form name="form2" method="post" action="">

	<table width="555" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td class="char120">ひとびと便り</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <{$letter_option}>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	  </tr>
	  <tr>
	    <td class="char120">ワイワイ会議メール</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <{$status_option}>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr bgcolor="#666666">
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="5"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
              <tr> 
                <td colspan="3">
                  <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Member">メンバー登録情報編集画面へ</a></span></p>
                </td>
              </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	</table>
      </form>
    </td>
	  </tr>
</table>