<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#F5E156">

    <td colspan="3"><img src="image/member_ttl_regist_mail.gif" width="149" height="25" hspace="10" alt="メール配信の変更"></td>
  </tr>
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="8"></td>
    <td width="555">

      <table width="555" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>
	      <td class="char120"> 
            <p>毎週水曜日に配信される「ひとびと便り」の受信・停止を設定できます。<br>
              <br>
              また個別のワイワイ会議の配信設定に関わらず、ワイワイ会議からのメールを一括して一時停止状態にすることができます。長期不在時等にご利用ください。<br>
              <br>
              変更後は「登録情報更新」ボタンを押して作業を完了してください。</p>
            </td>
	</tr>
	<tr>
	  <td><img src="image/member_split555.gif" width="555" height="1"></td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="25"></td>
	</tr>
      </table>
      <form name="form2" method="post" action="">

	<table width="555" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	        <td class="char120">ひとびと便りの受信</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <{html_radios options=$letter_options name=member_hitobito_letter selected=$editform->member_hitobito_letter}>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	  </tr>
	  <tr>
	        <td class="char120">ML投稿の一時停止</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <{html_radios options=$status_options name=member_status selected=$editform->member_status}>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr bgcolor="#666666">
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="5"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr>
	    <td colspan="3">
	      <input type="image" border="0" name="imageField" src="image/member_sign_btn_submit.gif" width="95" height="20" alt="登録情報更新" >
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	</table>
      </form>
    </td>
	  </tr>
</table>