<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#F5E156">
    <td colspan="3"><img src="image/member_ttl_logout.gif" width="93" height="25" hspace="10" alt="ログアウト"></td>
  </tr>
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
    <td width="555" valign="top">

      <table width="555" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
	<tr>
	  <td class="char120">ログアウトしました。</td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="4"></td>
	</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
				<tr bgcolor="#666666">
					<td colspan="3"><img src="image/spacer.gif" width="1" height="5"></td>
				</tr>
	<tr>
	  <td>　</td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="20">
	  </td>
	</tr>
      </table>
    </td>
  </tr>
</table>
