<!-- メンバー登録情報編集 -->
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#F5E156">
		<td colspan="3"><img src="image/member_ttl_edit.gif" width="170" height="25" hspace="10" alt="メンバー登録情報"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555">
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					<td class="char120">メンバーメニューでは登録情報の更新を行うことができます。</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
			</table>
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top">
            <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Member&amp;action=Edit">基本情報の変更</a></span></p>
					<p class="ind15"><span class="char120">登録メールアドレス / パスワード / ひとびと便りの有無を変更できます。</span></p></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td valign="top"> <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&amp;action=EntryList">ワイワイ会議の確認 / 解除</a></span></p>
					<p class="ind15"><span class="char120">登録済みのワイワイ会議一覧の参照と解除を行なうことができます。</span></p></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
			</table>
			
      <table width="555" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top"> 
            <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Member&amp;action=changeMailStatus">メール配信の変更</a></span></p>
            <p class="ind15"><span class="char120">ひとびと便りやワイワイ会議から届くメールの配信停止と再開を行なえます。</span></p>
          </td>
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=MailMag&amp;action=SubscriptionList">メルマガの確認 
              / 解除</a></span></p>
            <p class="ind15"><span class="char120">購読メールマガジン一覧の参照と解除を行なうことができます。</span></p>
            </td>
        </tr>
        <tr> 
          <td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td>
            <p class="menuind15">　</p>
            <img src="image/spacer.gif" width="270" height="1"></td>
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0" bgcolor="#E6F2FF">
              <tr> 
                <td width="10"><img src="image/member_top_box_lt.gif" width="10" height="10"></td>
                <td width="250"><img src="image/spacer.gif" width="250" height="1"></td>
                <td width="10"><img src="image/member_top_box_rt.gif" width="10" height="10"></td>
              </tr>
              <tr> 
                <td><img src="image/spacer.gif" width="10" height="1"></td>
                <td>
                  <p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Member&amp;action=Resign">ひとびと・netからの退会</a></span></p>
                  <p class="ind15"><span class="char120">大変残念ではございますが、退会手続きを行なうことができます。</span></p>
                </td>
                <td><img src="image/spacer.gif" width="10" height="1"></td>
              </tr>
              <tr> 
                <td><img src="image/member_top_box_lb.gif" width="10" height="10"></td>
                <td><img src="image/spacer.gif" width="250" height="1"></td>
                <td><img src="image/member_top_box_rb.gif" width="10" height="10"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td colspan="3"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
<!-- メンバー登録情報編集ここまで -->
