		<!-- ナビエディット -->
			<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#5B94FD">
					<td colspan="5"><img src="image/naviedit_edit_ttl.gif" width="110" height="25" hspace="10" alt="ナビエディット"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
				<tr>
					<td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td colspan="3" class="char120">ナビエディット説明ナビエディット説明ナビエディット説明ナビエディット説明ナビエディット説明ナビエディット説明ナビエディット説明ナビエディット説明。<br>
						エディット説明ナビエディット説明ナビエディット説明ナビエディット説明。<br>
						エディット説明ナビエディット説明。</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
				<tr>
					<td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td valign="top">
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/naviedit_edit_sttl_edit.gif" width="72" height="14" alt="編集 / 設定"></td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="1" height="4"></td>
							</tr>
							<tr>
								<td bgcolor="#666666"><img src="image/spacer.gif" width="270" height="1"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/spacer.gif" width="1" height="15"></td>
							</tr>
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="blog.html">記事投稿管理</a></span></p>
									<p class="ind15"><span class="char120">ナビ記事の修正やカテゴリー追加 / 変更を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="post.html">記事新規投稿</a></span></p>
									<p class="ind15"><span class="char120">ナビ記事の新規編集を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="mobile.html">携帯からの投稿設定</a></span></p>
									<p class="ind15"><span class="char120">携帯からの投稿を管理 / 設定します。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="mail.html">メルマガ管理</a></span></p>
									<p class="ind15"><span class="char120">メールマガジンの発行 / 管理 / メンバーメンテナンスを行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="enquete.html">アンケート管理</a></span></p>
									<p class="ind15"><span class="char120">アンケートの新規開設 / 終了処理 / 一覧管理を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="../waiwai/waiwai.html">ワイワイ会議室管理</a></span></p>
									<p class="ind15"><span class="char120">ワイワイ会議の設定 / 管理 / メンバーメンテナンスを行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="navi_links.html">リンク集管理</a></span></p>
									<p class="ind15"><span class="char120">リンクカテゴリー、リンクの追加 / 編集 / 削除を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
					    <table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="inquiry.html">問い合わせ管理</a></span></p>
									<p class="ind15"><span class="char120">問い合わせ管理説明問い合わせ管理説明問い合わせ管理説明。</span></p>
								</td>
							</tr>
						</table>
					</td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="270" valign="top">
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/naviedit_edit_sttl_profile.gif" width="79" height="13" alt="プロファイル"></td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="1" height="4"></td>
							</tr>
							<tr>
								<td bgcolor="#666666"><img src="image/spacer.gif" width="270" height="1"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/spacer.gif" width="1" height="15"></td>
							</tr>
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="profile.html">プロファイルの編集</a></span></p>
									<p class="ind15"><span class="char120">プロファイル情報の登録・更新を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="assistant.html">アシストナビ管理</a></span></p>
									<p class="ind15"><span class="char120">アシストナビの追加 / 削除を行ないます。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="1" height="25"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/naviedit_edit_sttl_report.gif" width="51" height="13" alt="レポート"></td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="1" height="4"></td>
							</tr>
							<tr>
								<td bgcolor="#666666"><img src="image/spacer.gif" width="270" height="1"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="image/spacer.gif" width="1" height="15"></td>
							</tr>
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">アクセス状況</a></span></p>
									<p class="ind15"><span class="char120">ナビページ・ワイワイ会議のアクセス状況を表示します。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">ナビページ活性化状況</a></span></p>
									<p class="ind15"><span class="char120">ナビページの活性状況を表示します。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/naviedit_split270.gif" width="270" height="1" vspace="10"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">ワイワイ会議室活性化状況</a></span></p>
									<p class="ind15"><span class="char120">ワイワイ会議の入退会・投稿状況を表示します。</span></p>
								</td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="1" height="25"></td>
							</tr>
						</table>
						<table width="270" border="0" cellspacing="0" cellpadding="0" bgcolor="#E6F2FF">
							<tr>
								<td width="10"><img src="image/member_top_box_lt.gif" width="10" height="10"></td>
								<td width="250"><img src="image/spacer.gif" width="250" height="1"></td>
								<td width="10"><img src="image/member_top_box_rt.gif" width="10" height="10"></td>
							</tr>
							<tr>
								<td><img src="image/spacer.gif" width="10" height="1"></td>
								<td>
									<table width="250" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">ナビページ公開申請</a></span></p>
												<p class="ind15"><span class="char120">ナビページ(ワイワイ会議)の公開申請を行ないます。</span></p>
											</td>
										</tr>
										<tr>
											<td><img src="image/naviedit_split250.gif" width="250" height="1" vspace="10"></td>
										</tr>
										<tr>
											<td>
												<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">ナビページ閉鎖申請</a></span></p>
												<p class="ind15"><span class="char120">ナビページ(ワイワイ会議)の閉鎖申請を行ないます。</span></p>
											</td>
										</tr>
										<tr>
											<td><img src="image/naviedit_split250.gif" width="250" height="1" vspace="10"></td>
										</tr>
										<tr>
											<td>
												<p class="menuind15"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="#">お問い合わせ</a></span></p>
												<p class="ind15"><span class="char120">事務局へ問い合わせを行ないます。</span></p>
											</td>
										</tr>
									</table>
								</td>
								<td><img src="image/spacer.gif" width="10" height="1"></td>
							</tr>
							<tr>
								<td><img src="image/member_top_box_lb.gif" width="10" height="10"></td>
								<td><img src="image/spacer.gif" width="250" height="1"></td>
								<td><img src="image/member_top_box_rb.gif" width="10" height="10"></td>
							</tr>
						</table>
					</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
				<tr>
					<td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
				</tr>
			</table>
			<!-- ナビエディットここまで -->