			<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#5B94FD">
					
    <td colspan="3"><img src="image/naviedit_regist_ttl.gif" width="159" height="25" hspace="10" alt="¥Ê¥ÓÅÐÏ¿¾ðÊó¤ÎÊÔ½¸"></td>
				</tr>
				<tr>

				  <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="555" valign="top">
					  <form method="POST" ENCTYPE="multipart/form-data">
					    <{$editform->getHtmlErrors()}>
					    <{include file="_navi_profile_form.inc.html"}>

					    <table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="5"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
				<tr>
					<td><input type="image" border="0" name="imageField" src="image/member_sign_btn_submit.gif" width="80" height="20" alt="ÅÐÏ¿¾ðÊó¹¹¿·" ></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
			</form>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>