<!-- ナビ登録送信完了画面 -->
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#5B94FD">
		<td colspan="3"><img src="image/navising_ttl.gif" width="67" height="25" hspace="10" alt="ナビ登録"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555" valign="top">
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					<td class="char120">応募ありがとうございました。<br>
            <br>
            一度ログアウトしてログインしなおしてください。<br>
            次回のログインではナビエディットページにログインします。<br>
            <br>
            またナビ応募は事務局にて審査をさせて頂いたのち、<br>
            メールにてご連絡させていただきます。<br>
            <br>
            いましばらくおまちください。</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
				<tr>
					<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
			</table>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
<!-- ナビ登録送信完了画面 ここまで-->