<!-- 更新完了 -->
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#F5E156">
		<td colspan="3"><img src="image/member_ttl_sign.gif" width="123" height="25" hspace="10" alt="基本情報の登録 / 変更"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555">
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					<td class="char120"><{$message}></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
				<tr>
					<td><img src="image/member_split555.gif" width="555" height="1"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
			</table>
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
				  <th>
				  </th>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
<!-- 更新完了ここまで -->