body.b0
{
	padding:0pt;
	margin:4pt;
}

th
{
	white-space: nowrap;
	font-size: 10pt;
}

td.tc0
{
	font-size: 9pt;
	line-height: 16px;
}
td.tc1
{
	font-size: 11pt;
	line-height: 16px;
}
