<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td><img src="image/new_select_ttl.gif" width="134" height="14" alt="ナビセレクト最新投稿"></td>
        <td width="100" align="right"></td>
    </tr>
    <tr>
        <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
    </tr>
    <tr>
        <td colspan="2"><img src="image/new_select_split360.gif" width="100%" height="1"></td>
    </tr>
</table>
<!-- 最新ナビセレクトここまで -->
<!--ナビセレクト最新投稿1ここから-->
<{foreach item=item from=$itemlist}>
<{assign var=navipage value=$item->getNaviPageInfo()}>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="<{cycle values=#FEF1F1,#FFFFFF}>">
    <tr>
        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2"><img src="image/spacer.gif" width="1" height="10"></td>
                </tr>
                <tr>
                    <td width="455" class="char120"><a href="index.php?module=Blog&amp;action=ViewStory&amp;blog_story_id=<{$item->getId()}>"><{$item->getTitle()|escape}></a></td>
                    <td width="105" align="right" class="char120"><span class="char999999"><{$item->getDate()|HNbDate:"m"}></span></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="char120"><{$item->getBody()|strip_tags|mbwordwrap:40:"\n":2|nl2br}></td>
                </tr>
                <tr>
                    <td class="char120" align="right"><span class="char999999">ナビ 
                     : </span><a href="index.php?module=Navi&amp;action=ShowProfile&amp;navipage_id=<{$navipage->getId()}>"><{$navipage->getNaviName()|escape}></a><span class="char999999">  
                     | </span><a href="index.php?module=Navi&amp;navipage_id=<{$navipage->getId()}>"><{$navipage->getTitle()|escape}></a></td>
                </tr>
                <tr>
                    <td><img src="image/spacer.gif" width="1" height="10"></td>
                </tr>
                <tr>
                    <td><img src="image/new_select_split350.gif" width="100%" height="1"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<{/foreach}>
<!--ナビセレクト最新投稿1ここまで-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td><img src="image/spacer.gif" width="1" height="10"></td>
    </tr>
    <tr>
        <td align="right"><img src="image/new_blog_link.gif" width="12" height="12" align="absmiddle" hspace="2"><span class="char120"><a href="index.php?module=NaviSelect<{$listUrlAddParameter}>" class="cblack">最新投稿一覧</a></span></td>
    </tr>
    <tr>
        <td><img src="image/spacer.gif" width="1" height="20"></td>
    </tr>
</table>