.head {  font-size: 12px; line-height: 135%; font-weight: bold; color: #FFFFFF; background: #0033CC}
.text12 {  font-size: 12px; line-height: 135%; color: #000000}
.answer {  font-size: 12px; line-height: 135%; font-weight: bold; color: #000000}
.yosou {  font-size: 12px; line-height: 20px; color: #FFFFFF; background: #0033CC; font-weight: bold}
