


#menu .12pt{
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12pt; line-height: 14pt ;
}


a:link { font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-size: 10pt; ; line-height: normal; color: #0066CC}


a:visited { font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-size: 10pt; ; line-height: normal; color: #6633CC}
td {  font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-size: 10pt; line-height: 14pt}
.text10b {  font-size: 10pt; font-weight: bold}
.point {  font-size: 12px; color: #6BDDBE}


th { font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-size: 10pt; line-height: 14pt ; font-weight: bold}
.textbox {  font-size: 12px; color: #666666; line-height: 18px}
.text12 {  font-size: 12px; line-height: normal}
.copyright { font-family: "Verdana", "Arial", "Helvetica", "sans-serif";font-size: 15px; ; background-color: #002589; color: #FFFFFF}
.subject { font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-size: 10pt; line-height: 14pt ; font-weight: bold }
