			<table width="580" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			    <td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
			    <td width="538" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="538" height="1"></td>
			    <td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
			    <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			  </tr>
			  <tr>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			    <td><img src="image/spacer.gif" width="20" height="1"></td>
			    <td>
			      <img src="image/navi_inquiry_ttl.gif" width="75" height="13" vspace="10" alt="お問い合わせ">
			    </td>
			    <td><img src="image/spacer.gif" width="20" height="1"></td>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			  </tr>
			  <tr bgcolor="#CCCCCC">
			    <td colspan="5"><img src="image/spacer.gif" width="580" height="1"></td>
			  </tr>
			  <tr>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			    <td><img src="image/spacer.gif" width="20" height="1"></td>
			    <td>
			      <form name="form4" method="post" action="">
				<table width="538" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				  </tr>
				  <tr>
				    <td colspan="3" class="error">
					<span style="color:#FF0000">内容を確認して送信ボタンを押してください。</span>
				    </td>
				  </tr>
				  <tr>
				    <td width="95" class="char120">お名前</td>
				    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				    <td width="433">
<{$editform->contact_name|escape}>
</td>
				  </tr>
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				  </tr>
				  <tr>
				    <td class="char120" nowrap>メールアドレス</td>
				    <td><img src="image/spacer.gif" width="10" height="1"></td>
				    <td>
<{$editform->contact_mail_addr|escape}>
</td>
				  </tr>
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				  </tr>
				  <tr>
				    <td class="char120">内容</td>
				    <td><img src="image/spacer.gif" width="10" height="1"></td>
				    <td class="char120">
									  <{assign var=inquiry_type_list value=$editform->inquiry_type_options}>
									  <{assign var=select_type value=$editform->contact_inquiry_type}>
									  <{$inquiry_type_list[$select_type]}>

				    </td>
				  </tr>
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				  </tr>
				  <tr>
				    <td class="char120">タイトル</td>
				    <td><img src="image/spacer.gif" width="10" height="1"></td>
				    <td><{$editform->contact_title|escape}></td>
				  </tr>
				  <tr>
				    <td class="char120" valign="top">詳細</td>
				    <td><img src="image/spacer.gif" width="10" height="1"></td>
				    <td><{$editform->contact_content|escape|nl2br}></td>
				  </tr>
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				  </tr>
				  <tr>
				    <td>　</td>
				    <td><img src="image/spacer.gif" width="10" height="1"></td>
				    <td>
				      <input type="hidden" name="save_execute" value="execute" />
				      <input type="image" border="0" src="image/button/submit.gif" width="50" height="20" alt="送信">&nbsp;&nbsp;<a href="javascript:history.back()"><img src="image/button/return.gif" width="39" height="20" alt="戻る" border="0"></a>
				    </td>
				  </tr>
				  <tr>
				    <td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				  </tr>
				</table>
			      </form>
			    </td>
			    <td><img src="image/spacer.gif" width="20" height="1"></td>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			  </tr>
			  <tr>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			    <td colspan="3" bgcolor="#FCD219"><img src="image/spacer.gif" width="1" height="3"></td>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			  </tr>
			  <tr>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			    <td colspan="3" bgcolor="#F5E156"><img src="image/spacer.gif" width="1" height="2"></td>
			    <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
			  </tr>
			  <tr>
			    <td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="580" height="1"></td>
			  </tr>
			  <tr>
			    <td colspan="5"><img src="image/spacer.gif" width="1" height="20"></td>
			  </tr>
			</table>
