<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
					<td width="538" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="538" height="1"></td>
					<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td><img src="image/spacer.gif" width="20" height="1"></td>
					<td><img src="image/navi_request_ttl.gif" width="96" height="13" vspace="10" alt="仕事/取材の依頼"></td>
					<td><img src="image/spacer.gif" width="20" height="1"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr bgcolor="#CCCCCC">
					<td colspan="5"><img src="image/spacer.gif" width="580" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td><img src="image/spacer.gif" width="20" height="1"></td>
					<td>
							<table width="538" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><img src="image/spacer.gif" width="1" height="15"></td>
								</tr>
								<tr>
									<td class="error">
									  <{$editform->getHtmlErrors()}>
									</td>
								</tr>
								<tr>
									<td><img src="image/spacer.gif" width="1" height="15"></td>
								</tr>
							</table>
						<form name="form4" method="post" action="">
							<table width="538" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
								</tr>
								<tr>
									<td width="95" class="char120">貴社名</td>
									<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
									<td width="433"><input type="text"  name="contact_company_name" value="<{$editform->contact_company_name|escape}>"  size="12" style="width:180px;"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120" nowrap>部署名</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_section_name" value="<{$editform->contact_section_name|escape}>"  size="12" style="width:180px;"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120" nowrap>お名前</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_name" value="<{$editform->contact_name|escape}>"  size="12" style="width:180px;"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120" nowrap>メールアドレス</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_mail_addr" value="<{$editform->contact_mail_addr|escape}>"  size="12" style="width:180px;"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120" nowrap>電話番号</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_tel_no" value="<{$editform->contact_tel_no|escape}>"  size="11" maxlength="11"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120" nowrap>FAX番号</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_fax_no" value="<{$editform->contact_fax_no|escape}>"  size="11" maxlength="11"></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120">内容</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td class="char120">
									  <{html_radios options=$editform->inquiry_type_options name=contact_inquiry_type selected=$editform->contact_inquiry_type}>
									</td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
								<tr>
									<td class="char120">タイトル</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><input type="text"  name="contact_title" value="<{$editform->contact_title|escape}>" size="12" style="width:180px;"></td>
								</tr>
								<tr>
									<td class="char120" valign="top">詳細</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td><textarea name="contact_content" rows="10" cols="50" style="width:360px;"><{$editform->contact_content|escape}></textarea></td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
								</tr>
								<tr>
									<td>　</td>
									<td><img src="image/spacer.gif" width="10" height="1"></td>
									<td>
										<input type="image" border="0" name="imageField2" src="image/button/confirm.gif" width="50" height="20" alt="確認">
									</td>
								</tr>
								<tr>
									<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
								</tr>
							</table>
						</form>
					</td>
					<td><img src="image/spacer.gif" width="20" height="1"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td colspan="3" bgcolor="#FCD219"><img src="image/spacer.gif" width="1" height="3"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td colspan="3" bgcolor="#F5E156"><img src="image/spacer.gif" width="1" height="2"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="580" height="1"></td>
				</tr>
				<tr>
					<td colspan="5"><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
			</table>