.kihon {  font-size: 12px; line-height: 18px}
.midashi1 {  font-size: 12px; line-height: 18px; font-weight: bold}
.komoji {  font-size: 10px; line-height: 15px}
.ohmidashi {  font-size: 15px; line-height: 18px; font-weight: bold}
