.honbun1 {
	FONT-SIZE: 13px; LINE-HEIGHT: 14px
}
.honbun2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px
}
.honbun3 {
	FONT-SIZE: 12px; LINE-HEIGHT: 12px
}
.copyright {
	FONT-SIZE: 10px; LINE-HEIGHT: 12px
}
.navi {
	FONT-SIZE: 12px; LINE-HEIGHT: 14px
}
.title1 {
	COLOR: #ff3300; FONT-SIZE: 17px; FONT-WEIGHT: bolder; LETTER-SPACING: -1px; LINE-HEIGHT: 19px
}
.red {
	COLOR: #ff3333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.blue {
	COLOR: #000060; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 15px
}
.honbun1b {
	COLOR: #000080; FONT-SIZE: 14px; LINE-HEIGHT: 18px
}
.honbun1lb {
	COLOR: #3366ff; FONT-SIZE: 14px; LINE-HEIGHT: 18px
}
.red15 {
	COLOR: #ff3333; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.red16 {
	COLOR: #ff3333; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.blue16 {
	COLOR: #000060; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.navi2 {
	FONT-SIZE: 11px; LINE-HEIGHT: 12px
}
