.honbun1 {  font-size: 13px; line-height: 14px}

.honbun2 {  font-size: 12px; line-height: 15px}

.honbun3 {  font-size: 12px; line-height: 12px}

.copyright {  font-size: 10px; line-height: 12px}

.navi {  font-size: 12px; line-height: 14px}

.title1 {font-size:17px; line-height: 19px; letter-spacing:-1px; color:#ff3300; font-weight:bolder; }

.red { font-size: 12px; color: #ff3333; font-weight:bold; }

.blue { font-size: 12px; line-height: 15px; color: #000060; font-weight:bold; }

.honbun1b { font-size: 14px; line-height: 18px; color: #000080; }

.honbun1lb { font-size: 14px; line-height: 18px; color: #3366ff;}

.red15 { font-size: 15px; color: #ff3333; font-weight:bold; }

.red16 { font-size: 16px; color: #ff3333; font-weight:bold; }

.blue16 { font-size: 16px; color: #000060; font-weight:bold; }

.midashi {font-size:17px; font-weight:bolder; }

.title2 {  font-size: 15px; line-height: 15px}

.tw {  font-size: 12px; line-height: 12px; color: #00008b; font-weight:bold; }