<table width="555" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><img src="image/naviedit_links_sttl_links2.gif" width="72" height="14" alt="リンク一覧"></td>
  </tr>
  <tr>
    <td width="450"><img src="image/spacer.gif" width="450" height="1"></td>
    <td width="105"><img src="image/spacer.gif" width="105" height="1"></td>
  </tr>
  <tr>
    <td colspan="2"><img src="image/spacer.gif" width="1" height="7"></td>
  </tr>
  <tr>
    <td valign="top">
      <table width="450" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
	  <td bgcolor="#CCCCCC" width="448"><img src="image/spacer.gif" width="448" height="1"></td>
	  <td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<{foreach item=item from=$itemlist}>
	<tr>
	  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	  <td class="char120">
	    <p class="ind0804">
	      <a href="index.php?module=Weblinks&amp;action=modifyLink&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>&amp;weblinks_link_id=<{$item->getId()}><{if $weblinks_category_id}>&amp;weblinks_return_category_id=<{$weblinks_category_id}><{/if}>"><{$item->getTitle()|escape}></a>
	    </p>
	  </td>
	  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr bgcolor="#CCCCCC">
	  <td colspan="3"><img src="image/spacer.gif" width="450" height="1"></td>
	</tr>
	<{/foreach}>
	<!-- 記事1ここまで-->
	<tr bgcolor="#CCCCCC">
	  <td colspan="7"><img src="image/spacer.gif" width="450" height="1"></td>
	</tr>
      </table>
    </td>
    <td valign="top" align="center">
      <table width="65" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><!-- 記事新規追加ボタン --><a href="index.php?module=Weblinks&amp;action=modifyLink&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}><{if $weblinks_category_id}>&amp;weblinks_return_category_id=<{$weblinks_category_id}><{/if}>"><img src="image/naviedit_btn_new.gif" width="65" height="20" alt="新規追加" border="0"></a></td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>
	  <td><!-- 記事編集ボタン -->
	    <a href="index.php?module=Weblinks&amp;action=modifyItems&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}><{if $weblinks_category_id}>&amp;weblinks_category_id=<{$weblinks_category_id}><{/if}>"><img  src="image/naviedit_btn_edit.gif" width="65" height="20" alt="編集" border="0"></a>
	    </td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="8"></td>
	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2"><img src="image/spacer.gif" width="1" height="30"></td>
  </tr>
</table>
