<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#5B94FD">
    <td colspan="3"><img src="image/naviedit_blog_ttl.gif" width="100" height="25" hspace="10" alt="記事投稿管理"></td>
  </tr>
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
    <td width="555" valign="top">
      <form name="form3" method="POST" action="index.php" >
	<input type="hidden" name="module" value="Blog" />
	<input type="hidden" name="action" value="adminStories" />
	<input type="hidden" name="navipage_id" value="<{$navipage_id}>" />
	<!-- 記事カテゴリー一覧 -->
	<table width="555" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
	  </tr>
	  <tr>
	    <td colspan="2"><img src="image/naviedit_blog_sttl_category.gif" width="113" height="14" alt="記事カテゴリ一覧"></td>
	  </tr>
	  <tr>
	    <td width="450"><img src="image/spacer.gif" width="450" height="1"></td>
	    <td width="105"><img src="image/spacer.gif" width="105" height="1"></td>
	  </tr>
	  <tr>
	    <td colspan="2"><img src="image/spacer.gif" width="1" height="7"></td>
	  </tr>
	  <tr>
	    <td valign="top">
	      <table width="450" border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
		  <td bgcolor="#CCCCCC" width="448"><img src="image/spacer.gif" width="448" height="1"></td>
		  <td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
		</tr>
                <tr> 
                  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                  <td class="char120" bgcolor="#6699FF"> 
                    <p class="ind0804"> 
		      <a href="index.php?module=Blog&amp;action=adminShowStories&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>" style="color:#ffffff">
                      すべて 
		      </a>
                    </p>
                  </td>
                  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                </tr>
		<tr bgcolor="#CCCCCC">
		  <td colspan="3"><img src="image/spacer.gif" width="450" height="1"></td>
		</tr>
		<!-- 記事カテゴリ1ここから -->
		<{foreach item=item from=$blog_categories}>
		<tr>
		  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		  <td class="char120">
		    <p class="ind0804">
		      <a href="index.php?module=Blog&amp;action=adminShowStories&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>&amp;blog_category_id=<{$item->getId()}>">
		      <{$item->getCategoryName()|escape}>
		      </a>
		    </p>
		  </td>
		  <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		</tr>
		<tr bgcolor="#CCCCCC">
		  <td colspan="3"><img src="image/spacer.gif" width="450" height="1"></td>
		</tr>
		<{/foreach}>
		<!-- 記事カテゴリ1ここまで -->
	      </table>
	    </td>
	    <td valign="top" align="center">
	      <table width="65" border="0" cellspacing="0" cellpadding="0">
		<tr>

		  <td><!-- カテゴリ新規追加ボタン --><a href="index.php?module=Blog&amp;action=modifyCategory&amp;navipage_id=<{$navipage_id}>"><img src="image/naviedit_btn_new.gif" width="65" height="20" alt="新規追加" border="0"></a></td>
		</tr>
		<tr>
		  <td><img src="image/spacer.gif" width="1" height="15"></td>
		</tr>
		<tr>

		  <td><!-- カテゴリ編集ボタン -->
		    <a href="index.php?module=Blog&amp;action=modifyCategories&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>">
		    <img  src="image/naviedit_btn_edit.gif" width="65" height="20" alt="編集" border="0" />
		    </a>
		    </td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="2"><img src="image/spacer.gif" width="1" height="30"></td>
	  </tr>
	</table>
	<!-- 記事カテゴリー一覧ここまで -->
      </form>
    </td>
  </tr>
</table>
