<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#5B94FD">
					
          
    <td colspan="3"><img src="image/naviedit_image_edit_ttl.gif" width="140" height="25" hspace="10" alt="²èÁü¥Õ¥¡¥¤¥ëÊÔ½¸"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="555" valign="top">
						<form name="form3" method="post" action="" enctype="multipart/form-data">
							
              <table width="555" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
                </tr>
                <tr> 
                  <td valign="top"> 
                    <table width="400" border="0" cellspacing="0" cellpadding="0">
                      <tr bgcolor="#CCCCCC"> 
                        <td colspan="4"><img src="image/spacer.gif" width="450" height="2"></td>
                      </tr>
                      <tr> 
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                        <td class="char120" width="200">²èÁüÌ¾¾Î</td>
                        <td class="char120" width="200"> 
                          <p class="ind0804"> 
                            <input type="text" name="blog_image_title" value="<{$editform->blog_image_title|escape}>" size="20" style="width:180px;">
                          </p>
                        </td>
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                      <tr bgcolor="#CCCCCC"> 
                        <td colspan="4"><img src="image/spacer.gif" width="450" height="1"></td>
                      </tr>
                      <tr> 
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                        <td class="char120">²èÁü</td>
                        <td class="char120"> 
                          <p class="ind0804"> 
                            <a href="blogimage.php?id=<{$obj->getId()}>" target="_blank"><img src="blogimage.php?id=<{$obj->getId()}>"  border="0" name="imageField2267" width="50" border="0" /></a>
                          </p>
                        </td>
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                      <tr bgcolor="#CCCCCC"> 
                        <td colspan="4"><img src="image/spacer.gif" width="450" height="1"></td>
                      </tr>
                      <tr> 
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                        <td class="char120">pixl¥µ¥¤¥º<br>
						¼ïÎà</td>
                        <td class="char120"> ²£<{$obj->getAttribute('bli_width')}>x½Ä<{$obj->getAttribute('bli_width')}>pixl<br>
                        <{* jpg²èÁü *}>
                        </td>
                        <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                      <tr bgcolor="#CCCCCC"> 
                        <td colspan="4"><img src="image/spacer.gif" width="450" height="2"></td>
                      </tr>
                    </table>
                  </td>
                  <td valign="top" align="center">¡¡ </td>
                </tr>
                <tr> 
                  <td colspan="2"><img src="image/spacer.gif" width="1" height="30"></td>
                </tr>
              </table>
							<table width="555" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="5"></td>
								</tr>
								<tr>
									<td><img src="image/spacer.gif" width="1" height="20"></td>
								</tr>
								<tr>
									
                  <td> <input type="image" width="50" height="20" hspace="10" alt="ÅÐÏ¿" src="image/naviedit_btn_regist.gif" border="0"><{* <a href="#"><img src="image/naviedit_btn_delete.gif" width="65" height="20" alt="ºï½ü" border="0"></a>*}></td>
								</tr>
								<tr>
									<td><img src="image/spacer.gif" width="1" height="10"></td>
								</tr>
							</table>
							</form>
					</td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
			</table>