<table width="200" border="0" cellspacing="0" cellpadding="0" bgcolor="#5B94FD">
	<tr>
		<td colspan="3"><img src="image/n_w_menu_ttl.gif" width="200" height="28" alt="ワイワイ会議室"></td>
	</tr>
	<tr>
		<td width="3"><img src="image/spacer.gif" width="3" height="1"></td>
		<td width="194">
			<table width="194" border="0" cellspacing="0" cellpadding="3">
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link00.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><b>設定</b></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditBasic&navipage_id=<{$navi_page_id}>" class="cblack">基本設定</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditHeader&navipage_id=<{$navi_page_id}>" class="cblack">ヘッダ / フッタ設定</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditGuestMail&navipage_id=<{$navi_page_id}>" class="cblack">ゲスト登録メール設定</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditRegistMail&navipage_id=<{$navi_page_id}>" class="cblack">入会者メール設定</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditResignMail&navipage_id=<{$navi_page_id}>" class="cblack">退会者メール設定</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link00.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><b>メンバー管理</b></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=ListMember&navipage_id=<{$navi_page_id}>" class="cblack">会議室メンバー一覧</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=ListGuest&navipage_id=<{$navi_page_id}>" class="cblack">会議室ゲストメンバー一覧</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link00.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><b>投稿 / 発言管理</b></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=PostRemark&navipage_id=<{$navi_page_id}>" class="cblack">新規投稿</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=EditRemark&navipage_id=<{$navi_page_id}>" class="cblack">発言編集</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=DeleteRemark&navipage_id=<{$navi_page_id}>" class="cblack">発言削除</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=MoveThread&navipage_id=<{$navi_page_id}>" class="cblack">スレッド移動</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=ListPublic&navipage_id=<{$navi_page_id}>" class="cblack">一般ユーザーからの投稿</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link00.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><b>ダウンロード</b></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=DownloadLog&navipage_id=<{$navi_page_id}>" class="cblack">発言ダウンロード</a></span></p>
					</td>

				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=DownloadRecord&navipage_id=<{$navi_page_id}>" class="cblack">発言録ダウンロード</a></span></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#E6F2FF">
						<p class ="menuind21"><img src="image/n_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="?module=Waiwai&action=DownloadCount&navipage_id=<{$navi_page_id}>" class="cblack">発言集計</a></span></p>
					</td>
				</tr>
			</table>
		</td>
		<td width="3"><img src="image/spacer.gif" width="3" height="1"></td>
	</tr>
	<tr>
		<td colspan="3"><img src="image/n_menu_foot.gif" width="200" height="6"></td>
	</tr>
	<tr bgcolor="#FFFFFF">
		<td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
</table>
