<form action='index.php?module=Waiwai&amp;action=RegistMember&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>' method="POST">

      <table width="516" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="8"></td>
	</tr>
	<tr>

	  <td class="char120">あなたはこの会議室に登録しておりません。</td>
	</tr>
	<tr>
	  <td><img src="image/spacer.gif" width="1" height="4"></td>
	</tr>
	<tr>
	  <td nowrap class="char120"><img src="image/waiwai_member_stl_step3.gif" width="109" height="14" alt="STEP3 ニックネーム入力"></td>
	</tr>
	<tr>
	  <td nowrap class="char120"><img src="image/spacer.gif" width="1" height="4"></td>
	</tr>
	<tr>
	  <td nowrap class="char120">ワイワイ会議に参加するにはニックネームを登録する必要があります。</td>
	</tr>
	<tr>
	  <td nowrap class="char120"><img src="image/spacer.gif" width="1" height="4"></td>
	</tr>
	<tr>
	  <td nowrap class="char120">ニックネーム
	    <input type="text" name="waiwai_nickname">
	    で
	    <input name="waiwai_regist_btn" type="image" border="0"  src="image/waiwai_btn_guest_regist.gif" width="65" height="20" alt="ゲスト登録" >
	    する。 </td>
	</tr>
      </table>
</form>
