<table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#FFFFFF" width="516">
			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>

					<td class="char120">あなたはこの会議室に登録しておりません。</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="4"></td>
				</tr>
			</table>
			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td nowrap class="char120">○○○○○○○○○○○○会議室に</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="98%">
						<input type="image" border="0" src="image/waiwai_btn_post_regist.gif" width="70" height="20" alt="ログイン" onclick="window.open('index_3.html')">
					</td>
				</tr>
			</table>

			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="6"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
</table>
