<table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
<tr>
	<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
	<td width="548" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
	<td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
	<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td class="char120"><{$waiwai_room.outline|HNbEscape}></td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td class="char120" align="right">メンバー数 : <{$waiwai_room.member_num}>人　</td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
</table>
<!-- ログインここから -->
			<table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
					<td bgcolor="#FFFFFF" width="516">

					  <{include file="$login_html_file"}>

					</td>
					<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td colspan="5"><img src="image/spacer.gif" width="1" height="6"></td>
					<td><img src="image/spacer.gif" width="15" height="1"></td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
			</table>
<!-- ログインここまで-->
<!-- ログインここまで-->
<table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td align="right"><a href="index.php?module=contents&amp;content_id=6"><img src="image/waiwai_btn_help.gif" width="92" height="13" alt="ワイワイ会議室ヘルプ" border="0"></a></td>
	<td><img src="image/spacer.gif" width="15" height="1"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
	<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr>
	<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	<td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
	<td width="548" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
	<td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
	<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td colspan="5"><img src="image/spacer.gif" width="1" height="20"></td>
</tr>
</table>
