<table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#FFFFFF" width="516">
			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td class="char120">こんにちは、ゲストさん。あなたは未ログインまたは未登録状態です。</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="4"></td>
				</tr>
			</table>
			<form name="waiwai_login_form" method="post" action="">
			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td nowrap class="char120">メールアドレス
						<input type="text" name="mail_addr" size="12" style="width:100px;">
						パスワード
						<input type="password" name="password" size="12" style="width:100px;">
					</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="98%">
						<input type="image" border="0" src="image/waiwai_btn_login.gif" width="64" height="20" alt="ログイン" onclick="window.open('login_error.html')">
					</td>
				</tr>
			</table>
			</form>
			<table width="516" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="6"></td>
				</tr>
				<tr>
					<td><img src="image/waiwai_btn_next.gif" width="12" height="12" align="absmiddle" hspace="2"><span class="char120"><a href="member/index.html" class="cblack">新規登録はこちら</a>　</span><img src="image/waiwai_btn_next.gif" width="12" height="12" align="absmiddle" hspace="2"><span class="char120"><a href="passremind/index.html"class="cblack">パスワードをお忘れの方</a></span></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="6"></td>
		<td><img src="image/spacer.gif" width="15" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
</table>
