<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td bgcolor="#5B94FD"><img src="image/naviedit_waiwai_thread_ttl.gif" width="69" height="25" hspace="10" alt="発言管理"></td>
	</tr>
	<tr>
		<td><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
</table>
<{include file="_WaiwaiHeader.html"}>
<{include file="_WaiwaiPageInfo.html" waiwai_new_post_action="PostRemark"}>
<{include file="_WaiwaiList.html" waiwai_select_remark_action="DeleteRemark"}>
<{if $waiwai_contents}>
<form method="post">
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="538" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="538" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td><img src="image/naviedit_waiwai_th_sttl_delete.gif" width="50" height="13" vspace="10" alt="発言削除"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td>
			<table width="538" border="0" cellspacing="0" cellpadding="0">
<{if $waiwai_error_ary}>
				<tr>
					<td colspan="2"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td colspan="2" class="error"><{foreach from=$waiwai_error_ary item=waiwai_error}>・<{$waiwai_error|escape}><br><{/foreach}></td>
				</tr>
<{/if}>
				<tr>
					<td colspan="2"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td colspan="2" class="char140"><b><{$waiwai_contents.subject|escape}></b></td>
				</tr>
				<tr>
					<td width="270" class="char140"><span class="char999999">by </span><{$waiwai_contents.nickname|escape}></td>
					<td width="268" class="char140" align="right"><span class="char999999"><{$waiwai_contents.date}></span></td>
				</tr>
				<tr>
					<td colspan="2"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td>
			<table width="538" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
				<tr>
					<td class="char130"><{$waiwai_contents.content|escape|nl2br}></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
			</table>
		</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
</table>
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="5"></td>
	</tr>
	<tr>
		<td><img src="image/spacer.gif" width="1" height="20"></td>
	</tr>
	<tr>
		<td><input type="image" border="0" name="confirm_btn" src="image/menu_mem_confirm.gif" width="50" height="20" alt="確認する"></td>
	</tr>
	<tr>
		<td><img src="image/spacer.gif" width="1" height="10"></td>
	</tr>
</table>
</form>
<{/if}>
