<{if !$waiwai_member_data}>
<script type="text/javascript">
<!--
function waiwai_set_guest_sort(n) {
	location.href = "?module=Waiwai&action=ListGuest&navipage_id=<{$navi_page_id}>&waiwai_guest_sort=" + n;
}
//-->
</script>
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#5B94FD">
		<td colspan="3"><img src="image/naviedit_waiwai_m_guest_ttl.gif" width="206" height="25" hspace="10" alt="会議室ゲストメンバー一覧"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555" valign="top">
			<form method="post" name="waiwai_guestform">
			<input type="hidden" name="waiwai_list_kind" value="guest">
			<table width="555" border="0" cellspacing="0" cellpadding="0">
<{if $waiwai_error_ary}>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td class="error"><{foreach from=$waiwai_error_ary item=waiwai_error}>・<{$waiwai_error|escape}><br><{/foreach}></td>
				</tr>
<{/if}>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
			</table>
			<table width="555" cellspacing="0" cellpadding="0" bgcolor="#EEEEEE">
				<tr>
					<td colspan="11" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="555" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="219"><img src="image/spacer.gif" width="219" height="1"></td>
					<td width="65"><input type="image" name="waiwai_admit_btn" src="image/naviedit_waiwai_m_btn_admit.gif" width="65" height="20" alt="承認" border="0"></td>
					<td width="22"><img src="image/naviedit_inquiry_split14.gif" width="2" height="20" hspace="10" vspace="7"></td>
					<td width="65"><input type="image" name="waiwai_mail_send_btn" src="image/naviedit_waiwai_m_btn_on.gif" width="65" height="20" alt="配信" border="0"></td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="65"><input type="image" name="waiwai_mail_stop_btn" src="image/naviedit_waiwai_m_btn_off.gif" width="65" height="20" alt="停止" border="0"></td>
					<td width="22"><img src="image/naviedit_inquiry_split14.gif" width="2" height="20" hspace="10" vspace="7"></td>
					<td width="75"><input type="image" name="waiwai_regist_cancel_btn" src="image/naviedit_waiwai_m_btn_release.gif" width="75" height="20" alt="登録解除" border="0"></td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
			</table>
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="8" bgcolor="#666666"><img src="image/spacer.gif" width="555" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#CCCCCC" width="1"><img src="image/spacer.gif" width="1" height="1"></td>
					<td width="35">　</td>
					<td width="45" bgcolor="#E6F2FF" align="center">
						<nobr class="ind0804"><span class="char120"><{if $waiwai_guest_sort == 1}>No.<img src="image/naviedit_waiwai_m_sort.gif" width="10" height="14" align="absmiddle"><{else}><a href="javascript:waiwai_set_guest_sort(1)">No.</a><{/if}></span></nobr>
					</td>
					<td width="200" align="center">
						<nobr class="ind0804"><span class="char120"><{if $waiwai_guest_sort == 2}>メールアドレス<img src="image/naviedit_waiwai_m_sort.gif" width="10" height="14" align="absmiddle"><{else}>メールアドレス<{/if}></span></nobr>
					</td>
					<td width="133" bgcolor="#E6F2FF" align="center">
						<nobr class="ind0804"><span class="char120"><{if $waiwai_guest_sort == 3}>ニックネーム<img src="image/naviedit_waiwai_m_sort.gif" width="10" height="14" align="absmiddle"><{else}><a href="javascript:waiwai_set_guest_sort(3)">ニックネーム</a><{/if}></span></nobr>
					</td>
					<td width="70" align="center">
						<nobr class="ind0804"><span class="char120"><{if $waiwai_guest_sort == 4}>状態<img src="image/naviedit_waiwai_m_sort.gif" width="10" height="14" align="absmiddle"><{else}><a href="javascript:waiwai_set_guest_sort(4)">状態</a><{/if}></span></nobr>
					</td>
					<td width="70" bgcolor="#E6F2FF" align="center">
						<nobr class="ind0804"><span class="char120"><{if $waiwai_guest_sort == 5}>登録日<img src="image/naviedit_waiwai_m_sort.gif" width="10" height="14" align="absmiddle"><{else}><a href="javascript:waiwai_set_guest_sort(5)">登録日</a><{/if}></span></nobr>
					</td>
					<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr>
					<td colspan="8" bgcolor="#666666"><img src="image/spacer.gif" width="555" height="1"></td>
				</tr>
				<{foreach from=$waiwai_guest_list_ary item=waiwai_guest_list}>
				<tr>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
					<td align="center">
						<input type="checkbox" name="waiwai_member_id[]" value="<{$waiwai_guest_list.member_id}>">
					</td>
					<td align="center" bgcolor="#E6F2FF" class="char120">
						<p class="ind0804"><a href="?module=Waiwai&action=ListGuest&navipage_id=<{$navi_page_id}>&member_id=<{$waiwai_guest_list.member_id}>"><{$waiwai_guest_list.no}></a></p>
					</td>
					<td class="char120">
						<p class="ind0804"></p>
					</td>
					<td bgcolor="#E6F2FF"class="char120" nowrap>
						<p class="ind0804"><{$waiwai_guest_list.nickname|escape}></p>
					</td>
					<td class="char120" nowrap align="center" nowrap>
						<p class="ind0804"><{$waiwai_guest_list.mail_send_flag}></p>
					</td>
					<td bgcolor="#E6F2FF" align="center" class="char120" nowrap>
						<p class="ind0804"><{$waiwai_guest_list.regist_date}></p>
					</td>
					<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
				</tr>
				<tr bgcolor="#CCCCCC">
					<td colspan="8"><img src="image/spacer.gif" width="555" height="1"></td>
				</tr>
				<{/foreach}>
				<tr>
					<td colspan="8"><img src="image/spacer.gif" width="1" height="30"></td>
				</tr>
			</table>
			</form>
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="1" height="5"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
				<tr>
					<td>
						<form method="post">
						<input type="image" border="0" src="image/naviedit_btn_reflesh.gif" width="90" height="20" alt="登録情報更新">
						</form>
					</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
<{ else }>
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center">
			<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#5B94FD">
					<td colspan="3"><img src="image/spacer.gif" width="1" height="20"><strong><font color="#FFFFFF" size="4">　メンバー基本情報</font></strong></td>
				</tr>
			</table>
			<table width="550" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="30"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">置換えメールアドレス</td>
								<td class="char120"><{$waiwai_member_data.mail_addr|escape}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">お名前</td>
								<td class="char120"><{$waiwai_member_data.name}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">ふりがな</td>
								<td class="char120"><{$waiwai_member_data.name_kana|escape}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">性別</td>
								<td class="char120"><{$waiwai_member_data.sex_cd}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">生年月日</td>
								<td class="char120"><{$waiwai_member_data.birthday}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">郵便番号</td>
								<td class="char120"><{$waiwai_member_data.zip_cd}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">都道府県</td>
								<td class="char120"><{$waiwai_member_data.address1}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">都道府県以下</td>
								<td class="char120"><{$waiwai_member_data.address2}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120">電話番号</td>
								<td class="char120"><{$waiwai_member_data.tel}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="35"><img src="image/spacer.gif" width="65" height="1"></td>
					<td width="430" align="left" class="char120">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="140" class="char120" valign="top">自己紹介</td>
								<td class="char120"><{$waiwai_member_data.self_introduction|escape|nl2br}></td>
							</tr>
						</table>
					</td>
					<td width="35"><img src="image/spacer.gif" width="35" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
				</tr>
			</table>
			<form method="post">
			<table width="500" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center"><img src="image/naviedit_delete_btn_cancel.gif" width="39" height="20" alt="戻る" onclick="location.href='?module=Waiwai&action=ListGuest&navipage_id=<{$navi_page_id}>'"></td>
				</tr>
				<tr>
					<td width="500" colspan="3"><img src="image/spacer.gif" width="1" height="25"></td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
<{ /if }>
