			<table width="585" border="0" cellspacing="0" cellpadding="0">
				<tr>
				  <td><img src="image/search_sttl_old_ml.gif" width="148" height="14" alt="ワイワイ会議室過去ログ検索結果" valign="center" ><small>（過去ログ検索結果）</small></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td bgcolor="#5FCA44"><img src="image/spacer.gif" width="585" height="1"></td>
				</tr>
				<tr>
					<td bgcolor="#F0FFE8" align="right" class="char120">
						<p class="ind1003">
						  <a href="<{$logUrl}>" target="_blank">過去ログはこちら</a>
						</p>
					</td>
				</tr>
				<tr>
					<td class="char120"><img src="image/spacer.gif" width="1" height="8"></td>
				</tr>
			</table>
			<table width="565" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="8"></td>
				</tr>
				<tr>
					<td class="char140">
					  <{$result_html}>
					</td>					  
				</tr>
			</table>
			<table width="565" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2"><img src="image/spacer.gif" width="1" height="8"></td>
				</tr>
				<tr>
					<td width="360" class="char120">
					</td>
					<td align="right" width="205">
					</td>
				</tr>
				<tr>
					<td colspan="2"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
