<{include file="_WaiwaiHeader.html"}>
<{include file="_WaiwaiPageInfo.html" waiwai_new_post_action="PostNew"}>
<{include file="_WaiwaiList.html" waiwai_select_remark_action="Browse"}>
<a name="waiwai"></a>
<form method="post" action="#waiwai">
<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="15"></td>
	</tr>
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="538" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="538" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td>
		<img src="image/waiwai_sttl_post.gif" width="50" height="13" vspace="10" alt="新規投稿"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="30"></td>
		<td colspan="2" class="error" valign="top">内容を確認して送信ボタンを押してください。</td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td>
			<table width="538" border="0" cellspacing="0" cellpadding="0">
<{if $waiwai_error_ary}>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td colspan="3" class="error"><{foreach from=$waiwai_error_ary item=waiwai_error}>・<{$waiwai_error|escape}><br><{/foreach}></td>
				</tr>
<{/if}>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td width="70" valign="top" class="char120" nowrap>SUBJECT</td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="458" class="char140"><b><{$waiwai_post.subject|escape}></b></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td valign="top" class="char120" nowrap>本文</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td class="char130"><{$waiwai_post.content|escape|nl2br}></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
		</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="10"></td>
	</tr>
	<tr>
		<td colspan="5">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="60"><input type="image" name="contribute_btn" src="image/navi_ask_navi_btn_submit.gif" width="50" height="20" border="0" alt="送信"></td>
					<td width="39"><input type="image" name="cancel_btn" src="image/naviedit_delete_btn_cancel.gif" width="39" height="20" border="0" alt="戻る"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="waiwai_subject" value="<{$waiwai_post.subject|escape}>">
<input type="hidden" name="waiwai_content" value="<{$waiwai_post.content|escape}>">
</form>
