<form action="index.php?module=Waiwai&amp;action=NewRegistStep2&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>" method="POST">
  <table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
    <tr>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="548" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
      <td width="15" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td class="char120"><{$waiwai_room.outline|HNbEscape}></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td class="char120" align="right">メンバー数 : <{$waiwai_room.member_num}>人</td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td colspan="3"><img src="image/spacer.gif" width="1" height="6"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
  </table>
  <table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3F7DF">
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
      <td bgcolor="#FFFFFF" width="516" align="center">
	<table width="516" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="15"></td>
	  </tr>
	  <tr>
	    <td bgcolor="#5FCA44"><img src="image/waiwai_member_ttl.gif" width="253" height="25" hspace="10" alt="ワイワイ会議室メンバー新規登録"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	</table>
	    <table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="char120">あなたのメールボックスへ登録確認メールを配信しました。<br>
              メールに記載されているURLをクリックした後、下のSTEP.2へ進みください。</td>
          </tr>
          <tr> 
            <td><img src="image/spacer.gif" width="1" height="10"></td>
          </tr>
          <tr> 
            <td><img src="image/waiwai_member_stl_flow.gif" width="97" height="13" alt="登録までの流れ"></td>
          </tr>
          <tr> 
            <td><img src="image/spacer.gif" width="1" height="4"></td>
          </tr>
          <tr> 
            <td bgcolor="#5FCA44"><img src="image/spacer.gif" width="500" height="1"></td>
          </tr>
          <tr> 
            <td>　</td>
          </tr>
          <tr> 
            <td colspan="3"><img src="image/spacer.gif" width="1" height="8"></td>
          </tr>
        </table>
	<table width="500" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td width="20"><img src="image/spacer.gif" width="20" height="1"></td>
	    <td><img src="image/waiwai_member_flow1.gif" width="455" height="25" alt="仮登録 確認メールを登録アドレスにお届けします"></td>

	    <td width="25"><img src="image/spacer.gif" width="25" height="8"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="8"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="20" height="1"></td>

	    <td><img src="image/waiwai_member_flow2a.gif" width="455" height="25" alt="確認メール 記載されているURLをクリックしてください"></td>
	    <td><img src="image/spacer.gif" width="25" height="1"></td>
	  </tr>
	  <tr>

	    <td colspan="3"><img src="image/spacer.gif" width="1" height="8"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="20" height="1"></td>
	    <td><img src="image/waiwai_member_flow3.gif" width="455" height="25" alt="ゲスト登録 ゲスト登録完了ページが表示されます"></td>
	    <td><img src="image/spacer.gif" width="25" height="1"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="8"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="20" height="1"></td>
	    <td><img src="image/waiwai_member_flow4.gif" width="455" height="25" alt="ナビの承認 登録通知メールをお届けします"></td>
	    <td><img src="image/spacer.gif" width="25" height="1"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="8"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="20" height="1"></td>
	    <td><img src="image/waiwai_member_flow5.gif" width="455" height="25" alt="本登録 投稿ができるようになります"></td>
	    <td><img src="image/spacer.gif" width="25" height="1"></td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="30"></td>
	  </tr>
	</table>
	<table width="500" border="0" cellspacing="0" cellpadding="0">
	  <tr>

	    <td><img src="image/waiwai_member_stl_step2.gif" width="97" height="14" alt="STEP1 仮登録"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="4"></td>
	  </tr>
	  <tr>
	    <td bgcolor="#5FCA44"><img src="image/spacer.gif" width="500" height="1"></td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr>

	    <td class="char120">あなたのメールアドレス / パスワード を入力しログインしてください。</td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>

	  <{if count($member_errors) >0}>
	  <tr>
	    <td class="error">
	      <ul>
		<{foreach item=item from=$member_errors}>
		<li><{$item}></li>
		<{/foreach}>
	      </ul>
	    </td>
	  </tr>
	  <tr>
	    <td><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <{/if}>
	</table>
	<table width="500" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td width="95" class="char120">メールアドレス</td>
	    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	    <td width="395">
	      <input type="text" name="member_login_mail" size="12" style="width:180px;">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	  <tr>
	    <td class="char120">パスワード</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120">
	      <input type="password" name="member_login_pass" size="12" style="width:100px;">
	      </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
	  </tr>
	  <tr>
	    <td class="char120">　</td>
	    <td><img src="image/spacer.gif" width="10" height="1"></td>
	    <td class="char120"> <input type="image" src="image/menu_mem_btn.gif" width="64" height="20" alt="ログインボタン" border="0">
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	  <tr>
	    <td colspan="3" class="char120">
	      <p class="ind1em">※パスワードはこちらのワイワイ会議室に入室したり、他のワイワイ会議室に登録する際にも必要となります。大切に保管してください。</p>
	      <p class="ind1em">※他のワイワイ会議室に登録している方は、登録したパスワードを入力いただく必要があります。</p>
	      <p class="ind1em">※パスワードをお忘れの方は<a href="index.php?module=Member&action=remindPassword">こちら</a>から取得することができます。</p>
	    </td>
	  </tr>
	  <tr>
	    <td colspan="3"><img src="image/spacer.gif" width="1" height="20"></td>
	  </tr>
	</table>
      </td>
      <td width="15" bgcolor="#FFFFFF"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
      <td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="548" height="1"></td>
      <td><img src="image/spacer.gif" width="15" height="1"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
      <td colspan="7"><img src="image/spacer.gif" width="1" height="15"></td>
      <td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr bgcolor="#CCCCCC">
      <td colspan="9"><img src="image/spacer.gif" width="550" height="1"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td colspan="9"><img src="image/spacer.gif" width="1" height="10"></td>
    </tr>
  </table>
</form>
