      <table width="580" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#5B94FD"> 
          <td colspan="5"><img src="image/naviedit_first_ttl.gif" width="159" height="25" hspace="10" alt="ナビエディット"></td>
        </tr>
        <tr> 
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="8"></td>
          <td colspan="3" class="char120">ナビに登録していただきありがとうございます。<br>
            このページではナビページを公開するまでのステップをご案内します。</td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><img src="image/naviedit_first_step1.gif" width="172" height="14" alt="初期設定を行なう"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Navi&amp;action=ModifyProfile&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>">プロファイルの編集</a><a href="index.php?module=contents&content_id=22"><img src="image/navi_help.gif" width="18" height="13" border="0"></a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>ナビとナビページのプロファイルを設定して下さい。<font color="#FF0000">全て</font>必須項目です。登録をしたら<a href="index.php?module=Navi&action=ShowNaviPage&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ナビページ上部</a>と<a href="index.php?module=Navi&action=ShowNaviPage&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">自己紹介</a>に反映されているか確認してください。<br>
                    <img src="image/naviedit_first_guide1.jpg" width="255" height="175" align="absmiddle" alt="プロファイルの編集"><br>
                    また、ひとびと・netはコミュニティの信頼性と安心感のために、ナビとなられる皆さんに、「<font color="#FF0000">ご本名での活動</font>」「<font color="#FF0000">顔写真の掲載</font>」「<font color="#FF0000">ページの一般公開</font>」をお願いしております。</p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=MailMag&action=SettingMailMag&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">メルマガ管理</a><a href="index.php?module=contents&content_id=24"><img src="image/navi_help.gif" width="18" height="13" border="0"></a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">メールマガジンを配信する際の初期設定を行ないます。メルマガ機能を利用しない場合には、必ず「<font color="#FF0000">メルマガ機能を利用しない</font>」を選択してください。<font color="#FF0000">メルマガタイトル</font>・<font color="#FF0000">メルマガ紹介文</font>は必須項目です。<img src="image/naviedit_first_guide2.jpg" width="255" height="146" align="absmiddle" alt="メルマガ管理"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditBasic&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ワイワイ会議　基本設定</a><a href="index.php?module=contents&content_id=25"><img src="image/navi_help.gif" width="18" height="13" border="0"></a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">ワイワイ会議を利用する際の初期設定を行ないます。<font color="#FF0000">ナビニックネーム</font>・<font color="#FF0000">会議室名</font>・<font color="#FF0000">ML-NAME</font>・<font color="#FF0000">会議室概要</font>は必須項目です。登録をしたら<a href="index.php?module=Waiwai&action=Browse&navipage_id=%3C%7B$hitobitoNaviPageInfo-%3EgetId()%7D%3E">ワイワイ会議</a>に反映されているか確認してください。<img src="image/naviedit_first_guide3.jpg" width="255" height="150" align="absmiddle" alt="ワイワイ会議　基本設定"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditHeader&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ワイワイ会議　ヘッダ／フッダ設定</a><a href="index.php?module=contents&content_id=26"><img src="image/navi_help.gif" width="18" height="13" border="0"></a><br>
            <img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditGuestMail&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ワイワイ会議　ゲスト登録メール設定</a></span><a href="index.php?module=contents&content_id=27"><img src="image/navi_help.gif" width="18" height="13" border="0"></a><br>
            <img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditRegistMail&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ワイワイ会議　入会者メール設定</a></span><a href="index.php?module=contents&content_id=28"><img src="image/navi_help.gif" width="18" height="13" border="0"></a><br>
            <img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditResignMail&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ワイワイ会議　退会者メール設定</a><a href="index.php?module=contents&content_id=29"><img src="image/navi_help.gif" width="18" height="13" border="0"></a></span></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">通常は設定いただかなくても構いません。変更が必要な場合のみ設定を行なってください。<img src="image/naviedit_first_guide4.jpg" width="255" height="142" align="absmiddle" alt="ワイワイ会議　ヘッダ／フッダ設定"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><span class="char120"><img src="image/naviedit_first_step2.gif" width="188" height="14" alt="リンク集を作成する"></span></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Weblinks&action=adminItems&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">リンク集管理</a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">リンクカテゴリーは<font color="#FF0000">ナビ全員で共有</font>されます。新規カテゴリーは吟味して作成してください。既存のカテゴリーに当てはまる場合は既存カテゴリーを利用してください。<img src="image/naviedit_first_guide5.jpg" width="255" height="144" align="absmiddle" alt="リンク集管理"><br>
                  <br>
                  リンクを追加するには、上記カテゴリー内リンク一覧の新規追加ボタンを押して<a href="index.php?module=Weblinks&action=modifyLink&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">新たなリンク</a>を作成して下さい。<img src="image/naviedit_first_guide6.jpg" width="255" height="105" align="absmiddle" alt="リンク編集"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"> </td>
              </tr>
            </table>
          </td>
          <td>　</td>
          <td width="270" valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><img src="image/naviedit_first_step3.gif" width="200" height="14" alt="アンケートを作成する"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Enquete&action=NaviEnquete&id=<{$hitobitoNaviPageInfo->getId()}>&amp;navipage_id=<{$hitobitoNaviPageInfo->getId()}>">アンケート管理</a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>ナビページに関連するアンケートを<font color="#FF0000">ひとつ以上</font>作成して下さい。誰でも答えられるアンケートを随時公開するようにしてください。<img src="image/naviedit_first_guide11.jpg" width="255" height="104" align="absmiddle" alt="アンケート管理"><br>
                    新規アンケートを作成するには、アンケート管理にある新規追加ボタンを押してください。<br>
                    <br>
                    <img src="image/naviedit_first_guide12.jpg" width="255" height="227" align="absmiddle" alt="アンケート管理"><br>
                    タイトル・設問文・選択肢を編集します。選択肢は上から埋めてください。<br>
                    <br>
                    公開は通常「<font color="#FF0000">一般公開</font>」を選んでください。<br>
                    選択肢は内容によって使いわけてください。<br>
                    単一回答：ひとつを選択する形式です。<br>
                    複数回答：複数選んで回答する形式です。</p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/naviedit_first_step4.gif" width="188" height="14" alt="ナビ記事を作成する"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Blog&action=adminStories&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">記事投稿管理</a></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>ナビ記事を新規作成するには、<font color="#FF0000">最低ひとつ記事カテゴリーを作る必要</font>があります。記事投稿管理にある記事カテゴリー一覧の新規追加ボタンを押して、<a href="index.php?module=Blog&action=modifyCategory&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">新たな記事カテゴリー</a>を作成してください。<img src="image/naviedit_first_guide7.jpg" width="255" height="177" align="absmiddle" alt="記事投稿管理"></p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><a href="index.php?module=Blog&action=adminImage&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">画像管理</a></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">ナビ記事内で画像を扱うには、<font color="#FF0000">画像を登録する必要</font>があります。画像管理になる新規追加ボタンを押して、<a href="index.php?module=Blog&action=UploadImage&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">新たな画像</a>を登録してください。<img src="image/naviedit_first_guide8.jpg" width="255" height="118" align="absmiddle" alt="画像管理"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><a href="index.php?module=Blog&action=PostStory&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">記事新規投稿</a></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">記事タイトル・記事カテゴリー・本文を編集します。<font color="#0000FF">スタイル</font>・<font color="#0000FF">サイズ</font>・<font color="#0000FF">整形</font>・<font color="#0000FF">カラー</font>・<font color="#0000FF">リンク</font>を編集するには、<font color="#FF0000">編集したい文字をカーソルにて反転</font>させ編集ボタンを押します。<br>
                  <br>
                  <font color="#0000FF">画像</font>を貼り付けるにはプルダウンにて画像を選択し<font color="#FF0000">貼り付けたい位置にカーソルを合わせ</font>て[image]ボタンを押します。<br>
                  <br>
                  <font color="#0000FF">インデックス画像</font>とはトップページ・ナビページトップに記事の抜粋と共に表示される画像のことです。<br>
                  <br>
                  公開/非公開は通常「<font color="#FF0000">公開</font>」を選んでください。<br>
                  ナビセレクトは通常「<font color="#FF0000">ナビ記事</font>」を選んでください。<br>
                  コメントは通常「<font color="#FF0000">許可</font>」を選んでください。<br>
                  トラックバックは通常「<font color="#FF0000">許可</font>」を選んでください。<img src="image/naviedit_first_guide9.jpg" width="255" height="333" align="absmiddle" alt="記事新規投稿"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><span class="char120"><img src="image/naviedit_first_step5.gif" width="188" height="14" alt="公開申請をする"></span></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><a href="index.php?module=Navi&action=RequestOpenNaviPage&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">ナビページ公開申請</a> 
            <font color="#FF0000">既存ナビは必要ありません</font></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>STEP.1〜STEP.3までがナビページを公開するための最低限の作業になります。STEP.3まで行っていただいた後に、事務局に公開申請を出します。公開申請が出されますと<font color="#0000FF">事務局にて審査</font>を行ないます。事務局では<font color="#FF0000">初期設定に問題がないか・リンク集が整備されているか・ナビ記事が作成されているか</font>を確認させていただきます。事務局が承認を行なうとナビページが一般に公開されます。<br>
                    <br>
                    公開されると検索結果・チャネル一覧・最新投稿・ランキングに情報が反映されるようになります。<img src="image/naviedit_first_guide10.jpg" width="255" height="39" align="absmiddle" alt="ナビページ公開申請"></p>
                </td>
              </tr>
            </table>
            <br>
          </td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>