      <table width="580" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#5B94FD"> 
          <td colspan="5"><img src="image/naviedit_help_ttl.gif" width="54" height="25" hspace="10" alt="ナビエディット"></td>
        </tr>
        <tr> 
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="8"></td>
          <td colspan="3" class="char120">　<img src="image/naviedit_help_sttl_blog.gif" width="139" height="14" alt="初期設定を行なう"></td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.1 
                  ナビ記事作成の準備</font></b></font></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120">ナビ記事とは</span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>ナビ記事とはブログのことです。記事を作成したり、コメント、トラックバックを行なうことができます。またRSSや携帯からの投稿も利用することができます。またHTMLタグを使って自由度の高いレイアウトを実現できます。</p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">辿り方</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>1.メンバーログインをして、ご自身の管理するナビページに入ります。<img src="image/navihelp_edit1.gif" width="255" height="206"><br>
                    <br>
                    2.エディットタブをクリックしてナビエディット画面に入ります。ナビ記事編集に使うのは、記事新規投稿、記事投稿管理、画像管理の三つです。<img src="image/navihelp_edit2.gif" width="255" height="333"></p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">新規カテゴリーを作成する</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">ナビエディット画面にて記事投稿管理をクリックしてください。次のページに移ったら記事カテゴリー一覧にある新規作成ボタンを押してください。<img src="image/navihelp_blog1.gif" width="255" height="243"><br>
                  <br>
                  カテゴリー名称を入力して登録ボタンを押して下さい。<br>
                  <img src="image/navihelp_blog2.gif" width="255" height="87"><br>
                  <br>
                  登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48"><br>
                  <br>
                  新しいナビ記事カテゴリーが作成されました。<br>
                  <img src="image/navihelp_blog4.gif" width="255" height="243"> 
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120"><a href="index.php?module=Waiwai&action=EditHeader&navipage_id=<{$hitobitoNaviPageInfo->getId()}>">画像を登録する</a><span class="char120"><a href="index.php?module=Waiwai&action=EditResignMail&navipage_id=<{$hitobitoNaviPageInfo->getId()}>"></a></span></span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">記事投稿管理画面にて画像登録ボタンを押します。<img src="image/navihelp_blog5.gif" width="255" height="243"><br>
                  <br>
                  画像管理画面が表示されますので、新規追加ボタンを押します。<br>
                  <img src="image/navihelp_blog6.gif" width="255" height="139"><br>
                  <br>
                  ファイルのアップロード画面が表示されますので、参照を押してください。<br>
                  <img src="image/navihelp_blog7.gif" width="255" height="161"><br>
                  <br>
                  ハードディスク内の画像を選択し開くを押します。扱える画像はjpgとgif画像のみです。<br>
                  <img src="image/navihelp_blog8.gif" width="255" height="126"><br>
                  <br>
                  画像名称とリサイズ指定を行い、登録ボタンを押します。<br>
                  <img src="image/navihelp_blog9.gif" width="255" height="160"><br>
                  <br>
                  登録完了ページが表示されます。<br>
                  <img src="image/navihelp_blog3.gif" width="255" height="48"> 
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"> </td>
              </tr>
            </table>
          </td>
          <td>　</td>
          <td width="270" valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.2 
                  ナビ記事を作成する</font></b></font></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">新規投稿画面を開く</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>記事投稿管理画面にて、上記カテゴリ内記事一覧にある、新規投稿ボタンを押してください。<img src="image/navihelp_blog10.gif" width="255" height="243"><br>
                    記事投稿画面が表示されますので、記事タイトル・記事カテゴリー・インデックス画像・本文を選択・又は編集します。<br>
                    本文に入る文字はフォントを大きくしたり、色を変えたりなどの装飾をすることができます。またタグを使っての複雑なレイアウト修正等も可能です。 
                    <br>
                    <br>
                    編集が終わったら登録ボタンを押してください。ナビ記事が投稿されます。<br>
                    <img src="image/navihelp_blog11.gif" width="255" height="450"> 
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">装飾について</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>HTMLタグを使って文字などを装飾することができます。ここでは例として文字を赤く装飾させます。<br>
                    <br>
                    1.赤くしたい場所を反転させ、赤ボタンを押します。<img src="image/navihelp_blog13.gif" width="255" height="135"> 
                    <br>
                    文字を赤くするタグが挿入されます。<br>
                    <img src="image/navihelp_blog14.gif" width="255" height="96"><br>
                    <br>
                    記事blogでみると、タグの効果により赤く装飾されています。<br>
                    <img src="image/navihelp_blog15.gif" width="255" height="105"> 
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">インデックス画像について</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">インデックス画像とは、ナビページトップ等でナビ記事と共に表示される画像のことです。 
                  <img src="image/navihelp_blog12.gif" width="255" height="251"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 

                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">公開/非公開について</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">非公開にするとナビページやトップページに表示されなくなります。<br>
                  <br>
                  アドレス直打ちのみ表示はナビページやトップページに表示はされないものの、URLを直打ちすることにより表示させることができるようになります。</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">ナビセレクトについて</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">ナビセレクトとは、ナビがお薦めする書籍や名産品などのアフィリエイト商品を紹介するスペースです。<br>
                  <br>
                  現在使用できるアフィリエイトはこちらです。<br>
                  ・<a href="http://associates.amazon.co.jp/gp/associates/join/main.html/">amazonアソシエイト</a><br>
                  ・<a href="http://partner.afl.rakuten.co.jp/af/a_top.cgi">楽天アフィリエイト</a><br>
                  ・<a href="http://www.bidders.co.jp/affiliate/">ビッダーズアフィリエイト</a></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">カテゴリー/記事の再編集について</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">カテゴリーやナビ記事はいつでも再編集することができます。<br>
                  記事投稿管理画面にて編集したいカテゴリーやナビ記事をラジオボタンで選択し、編集ボタンを押します。 編集画面にて編集を行なうことができます。<img src="image/navihelp_blog16.gif" width="255" height="243"><a href="http://www.bidders.co.jp/affiliate/"></a></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">並び順の移動について</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">カテゴリーやナビ記事は並び順を変更することができます。<br>
                  記事投稿管理画面にて並び順を変えたいカテゴリーやナビ記事をラジオボタンで選択し、上へ移動・下へ移動ボタンを押します。<img src="image/navihelp_blog17.gif" width="255" height="243"><br>
                  <br>
                  移動しましたとメッセージが表示されます。<br>
                  <img src="image/navihelp_blog18.gif" width="255" height="49"></td>
              </tr>
            </table>
            <br>
          </td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>
