      <table width="580" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#5B94FD"> 
          <td colspan="5"><img src="image/naviedit_help_ttl.gif" width="54" height="25" hspace="10" alt="ナビエディット"></td>
        </tr>
        <tr> 
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="8"></td>
          <td colspan="3" class="char120">　<img src="image/naviedit_help_sttl_melmag.gif" width="140" height="14" alt="初期設定を行なう"></td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.1 
                  メルマガ発行の準備</font></b></font></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120">メルマガとは</span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>メールマガジンの略称になります。ひとびと・netではメルマガ登録メンバーに向けてメールマガジンを配信することができます。</p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">辿り方</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>1.メンバーログインをして、ご自身の管理するナビページに入ります。<img src="image/navihelp_edit1.gif" width="255" height="206"><br>
                    <br>
                    2.エディットタブをクリックしてナビエディット画面に入ります。メルマガ管理をクリックしてください。<img src="image/navihelp_edit3.gif" width="255" height="333"></p>
                </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">基本設定を行なう</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255">メルマガ管理画面にて、基本設定ボタンを押してください。<img src="image/navihelp_melmag1.gif" width="255" height="119"><br>
                  <br>
                  メルマガタイトル・メルマガ紹介文・デフォルトフッタ等を入力して登録ボタンを押します。<br>
            <font color="#FF0000">※メルマガ機能を利用しない場合は「利用しない」を選択してください。</font>メルマガタブが非表示となり、メルマガ登録ブロックも非表示となります。<br>
                  <img src="image/navihelp_melmag2.gif" width="255" height="201"><br>
                  <br>
                  登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48"><br>
                  <br>
                  メルマガタイトルとメルマガ紹介文はメルマガページにおいて以下のように表示されます。<br>
                  <img src="image/navihelp_melmag3.gif" width="255" height="193"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"> </td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120">代理解除を行なう</span></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>メルマガ管理画面より代理解除ボタンを押します。<img src="image/navihelp_melmag4.gif" width="255" height="119"><br>
                    <br>
                    メールアドレスを入力して解除ボタンを押します。<br>
                    <img src="image/navihelp_melmag5.gif" width="255" height="97"><br>
                    <br>
                    解除しましたと表示されれば登録解除成功です。<br>
                    <img src="image/navihelp_melmag6.gif" width="255" height="48"> 
                </td>
              </tr>
            </table>
          </td>
          <td>　</td>
          <td width="270" valign="top"> 
            <table width="270" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.2 
                  メルマガを発行する</font></b></font></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">メルマガ設定画面を開く</td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
              </tr>
              <tr> 
                <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
                <td class="char120" width="255"> 
                  <p>メルマガ一覧画面にて、新規追加ボタンを押してください。<img src="image/navihelp_melmag7.gif" width="255" height="119"><br>
                    <br>
                    メルマガ編集画面が開きますので、タイトル・本文・フッダ等を設定し登録プレビューボタンを押します。<br>
                    <font color="#FF0000">※プレビューをしないと登録できない仕組みになっています。</font><br>
                    <br>
                    本文は横幅３５文字で折り返すと見やすいメールになるようです。<br>
                    <img src="image/navihelp_melmag8.gif" width="255" height="487"><br>
                    <br>
                    プレビュー画面が開きますので確認後に配信予約ボタン、又は即時配信ボタンを押します。<br>
                    <img src="image/navihelp_melmag9.gif" width="255" height="390"><br>
                    <br>
                    登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48"><br>
                    <br>
                    配信時間が来ますと自動的に配信されます。配信結果通知メール設定をしていれば、配信済みメールがお手元に届きます。 
                </td>
              </tr>
            </table>
            <br>
          </td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>
