      <table width="580" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#5B94FD"> 
          <td colspan="5"><img src="image/naviedit_help_ttl.gif" width="54" height="25" hspace="10" alt="ナビエディット"></td>
        </tr>
        <tr> 
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="8"></td>
          
    <td colspan="3" class="char120">　<img src="image/naviedit_help_sttl_link.gif" width="154" height="14" alt="初期設定を行なう"></td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            
      <table width="270" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.1 
            </font><font color="#333333"><b><font color="#666666">リンクカテゴリーを設定する</font></b></font></b></font></td>
        </tr>
        <tr> 
          <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120">リンク集とは</span></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>ナビページに関連あるサイトをリンク集として登録することができます。<font color="#FF0000">リンク集はナビ全員で共有されます</font>。それぞれのナビが自分の得意な分野のリンク集を製作することにより、ひとびと・netのリンク集が充実してゆく仕組みです。自身のナビページには自分の登録したリンク集が表示されます。</p>
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">辿り方</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>1.メンバーログインをして、ご自身の管理するナビページに入ります。<img src="image/navihelp_edit1.gif" width="255" height="206"><br>
              <br>
              2.エディットタブをクリックしてナビエディット画面に入ります。リンク集管理をクリックしてください。<img src="image/navihelp_edit5.gif" width="255" height="333"></p>
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">リンクカテゴリーを設定する</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255">リンク集管理ページにおいて、リンクカテゴリー一覧にある、新規追加ボタンを押してください。<img src="image/navihelp_link1.gif" width="255" height="197"><br>
            <br>
            カテゴリー編集画面が開きますので、カテゴリー名称を記入し登録ボタンを押します。<br>
            <img src="image/navihelp_link2.gif" width="255" height="88"><br>
            <br>
            登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"> </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
      </table>
          </td>
          <td>　</td>
          <td width="270" valign="top"> 
            
      <table width="270" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.2 
            リンク集を設定する</font></b></font></td>
        </tr>
        <tr> 
          <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">リンク集を設定する</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>リンク集管理ページにおいて、上記カテゴリー内リンク一覧にある、新規追加ボタンを押してください。<img src="image/navihelp_link3.gif" width="255" height="197"><br>
              <br>
              リンク編集画面が開きますので、カテゴリーを選択、URL、名称、概要を記入し登録ボタンを押します。<br>
              <img src="image/navihelp_link4.gif" width="255" height="155"><br>
              <br>
              登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48">
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">リンク集を再編集する</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255">リンク集はいつでも再編集することができます。<br>
            リンク集管理にて編集したいリンクカテゴリー、又はリンク集をラジオボタンで選択し、編集ボタンを押します。 編集画面にて編集を行なうことができます。<br>
            <img src="image/navihelp_link5.gif" width="255" height="197"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">並び順の移動について</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255">リンク集は並び順を変更することができます。<br>
            リンク集一覧にて並び順を変えたいリンクカテゴリー、又はリンクをラジオボタンで選択し、上へ移動・下へ移動ボタンを押します。<img src="image/navihelp_link6.gif" width="255" height="197"><br>
            <br>
            移動しましたとメッセージが表示されます。<br>
            <img src="image/navihelp_blog18.gif" width="255" height="49"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"> </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"> </td>
        </tr>
      </table>
            <br>
          </td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>
