      <table width="580" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#5B94FD"> 
          <td colspan="5"><img src="image/naviedit_help_ttl.gif" width="54" height="25" hspace="10" alt="ナビエディット"></td>
        </tr>
        <tr> 
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
          <td width="270"><img src="image/spacer.gif" width="270" height="1"></td>
          <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="14"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="8"></td>
          
    <td colspan="3" class="char120">　<img src="image/naviedit_help_sttl_info.gif" width="154" height="14" alt="初期設定を行なう"></td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="25"></td>
        </tr>
        <tr> 
          <td><img src="image/spacer.gif" width="15" height="1"></td>
          <td valign="top"> 
            
      <table width="270" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.1 
            </font><font color="#333333"><b><font color="#666666">問い合わせ管理とは</font></b></font></b></font></td>
        </tr>
        <tr> 
          <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle"><span class="char120">問い合わせ管理とは</span></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>メンバーやマスコミなどからの問い合わせに対応するためのページです。ご自身のメールアドレスを公開することなく、問い合わせに返信することができます。メールアドレスをさらす必要がなくなるため、いたずらメール対策にもなっています。</p>
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">辿り方</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>1.メンバーログインをして、ご自身の管理するナビページに入ります。<img src="image/navihelp_edit1.gif" width="255" height="206"><br>
              <br>
              2.エディットタブをクリックしてナビエディット画面に入ります。問い合わせ管理をクリックしてください。<img src="image/navihelp_edit6.gif" width="255" height="333"></p>
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
      </table>
          </td>
          <td>　</td>
          <td width="270" valign="top"> 
            
      <table width="270" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="char120" colspan="2"><font color="#333333"><b><font color="#666666">STEP.2 
            </font><font color="#333333"><b><font color="#666666">問い合わせに返信する</font></b></font></b></font></td>
        </tr>
        <tr> 
          <td colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td bgcolor="#666666" colspan="2"><img src="image/spacer.gif" width="270" height="1"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="6"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">問い合わせに返信する</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255"> 
            <p>問い合わせが届いていれば、新着メッセージが表示されます。問い合わせ内容を確認するには、SUBJECTをクリックします。<img src="image/navihelp_info1.gif" width="255" height="95"><br>
              <br>
              問い合わせ詳細画面が開きます。フォームに必要事項を記載して、送信するボタンを押すことにより問い合わせに返信することができます。<br>
              <img src="image/navihelp_info2.gif" width="255" height="259"><br>
              <br>
              登録完了ページが表示されます。<img src="image/navihelp_blog3.gif" width="255" height="48">
          </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/member_link01.gif" width="15" height="12" align="absmiddle">不要な問い合わせを削除する</td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="4"></td>
        </tr>
        <tr> 
          <td class="char120" width="15"><img src="image/spacer.gif" width="15" height="8"></td>
          <td class="char120" width="255">いたずらなどの問い合わせが届いた場合には、チェックボックスにチェックを入れて削除ボタンを押すことにより、消去することができます。<img src="image/navihelp_info3.gif" width="255" height="95"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="20"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"> </td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"> </td>
        </tr>
      </table>
            <br>
          </td>
          <td><img src="image/spacer.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td colspan="5"><img src="image/spacer.gif" width="1" height="40"></td>
        </tr>
      </table>
