<!-- 削除--<head>
			<link rel="stylesheet" href="../../../../www/css/default.css" type="text/css">
			<script type="text/javascript" src="../../../../www/js/common_test.js"></script>
</head>
削除-->




<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
    <td width="555">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>
            <div style="margin:0px 0px 10px 0px;"><img src="image/nabipage_title1.gif" alt="ひとびと・ｎｅtのナビとは？" width="555" height="53"></div>
            <img src="image/nabipage_title-s1.gif" alt="ナビページを持つには？" width="195" height="20" vspace="3"><br>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="char130xs"><img src="../image/spacer.gif" alt=" " width="20" height="1"></td>
                <td class="char120">
				<ul>
                    <li style="list-style-type:disc;">参加者と会話をしながら嬉しい！楽しい！という実感のあるコミュニティを育てよう。</li>
                    <li style="list-style-type:disc;">ナビは、本名と顔写真で登場します。</li>
                    <li style="list-style-type:disc;">審査を通過して頂くと、ナビになれます。</li>
                </ul>
				</td></tr>
            </table>
            <img src="image/nabipage_title-s2.gif" alt="ナビの活動って？" width="145" height="17" vspace="3"><br>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="char130xs"><img src="../image/spacer.gif" alt=" " width="20" height="1"></td>
                <td class="char120">
				<ul>
                    <li style="list-style-type:disc;">ナビは、コミュニティリーダーです。また、ページの記事も手がけるWebマガジンの編集長でもあります。</li>
                    <li style="list-style-type:disc;">ナビが自信のある好きなテーマをコミュニティやページのテーマにし、みんなで話して解決したり発見しよう。</li>
                    <li style="list-style-type:disc;">コミュニティに参加する人とのやりとりでコンテンツを豊かにする、参加型のホームページにしよう。</li>
                  </ul>
				</td></tr>
            </table>
            <img src="image/nabipage_title-s3.gif" alt="ナビになると表現の場がたくさん！" width="263" height="20" vspace="3"><br>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="char130xs"><img src="../image/spacer.gif" alt=" " width="20" height="1"></td>
                <td class="char120"><ul>
                    <li style="list-style-type:disc;">ホームページ感覚のナビページを持てます！</li>
                    <li style="list-style-type:disc;">ワイワイ会議と呼ばれる劇場型のコミュニティを持てる！</li>
                    <li style="list-style-type:disc;">メルマガを発行する事が出来る！</li>
                    </ul></td></tr>
            </table>
            <img src="image/nabipage_title-s4.gif" alt="もちろん、サポート致します" width="225" height="19" vspace="3"><br>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="char130xs"><img src="../image/spacer.gif" alt=" " width="20" height="1"></td>
                <td class="char120"><ul>
                    <li style="list-style-type:disc;">コミュニティーやナビページを安心して運営して頂く為に事務局スタッフがしっかりサポート致します。</li>
                    <li style="list-style-type:disc;">ナビページやワイワイ会議をひとびと・netのトップページでご紹介、人気ランキングで評価をさせて頂きます。</li>
                    </ul></td></tr>
            </table>
            <img src="../image/spacer.gif" width="1" height="20"><br>
            <img src="image/nabipage_title2.gif" alt="ナビってどんな人？" width="555" height="25"><br>
            <img src="../image/spacer.gif" width="1" height="15"><br>
            <div align="center"><img src="image/nabipage_img.gif" alt="ナビ概要図" width="555" height="416"></div>
			
<!-- ナビ応募の流れ ここから -->

            <img src="image/nabipage_title3.gif" alt="ナビになるまでの流れ" width="554" height="53"><br>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="char130xs"><img src="../image/spacer.gif" alt=" " width="20" height="1"></td>
                <td class="char120">
				ひとびと・netでは訪れた皆さんが安心して、会議に参加していただけるように、サイト全体と、コミュニティの質を重視しています。そのため、ご応募いただいた内容を、事務局で審査させていただいています。<br>
				公開可否のご連絡までにお時間をいただいておりますのでご了承ください。<br>
				<br><br>
				<span style="border:3px double #FF9900; padding:5px;"><strong>応募方法</strong></span>
				<div style="margin:10px 0px 0px 20px;">
				<br>
				<strong>【STEP1】</strong><br>
				メンバーログインをしてから下記の『ナビに応募する』をクリックしていただき、ご応募フォームよりご応募いただきます。<br>
				<br>
				<strong>【STEP2】</strong><br>
				ナビページ公開について、公開可否のご連絡をさせていただきます。<br>
				<br>
				<strong>【STEP3】</strong><br>
				ナビ専用画面へアクセスできるようになります。<br>
				ナビページの編集、会議室の設定など、公開までの準備をしてください。<br>
				<br>
				<strong>【STEP4】</strong><br>
				準備が出来たら、公開申請を行ってください！<br>
				<br>
				<strong>【STEP5】</strong><br>
				事務局でページを公開し、TOPページでご紹介いたします。
				</div>
				<div align="center" style="margin:20px 0px 0px 0px;"><a href="index.php?module=Member&action=RegistNavi"><img src="image/member_navi_oubo.gif" alt="使い方ガイド" width="161" height="21" hspace="10" vspace="6" border="0"></a></div>				</td>
              </tr>
            </table>
			
<!-- ナビ応募の流れ ここまで -->


          </td>
        </tr>
      </table>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
    </table></td>
    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
  </tr>
</table>
