<!--作業用　↓↓↓

<head>
			<link rel="stylesheet" href="css/default.css" type="text/css">
			<script type="text/javascript" src="js/common.js"></script>
</head>

作業用 ↑↑↑ -->


<a name="top"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_guide.gif" alt="使い方ガイド" width="113" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					
      <table border="0" cellspacing="0" cellpadding="0" width="555">
        <tr> 
          <td> 
            <a name="1" id="1"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/uguide1-1_line.gif" alt="1.ひとびと･netに登録しよう" width="555" height="13"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="25"><img src="image/spacer.gif" width="25" height="1"></td>
                <td width="530"><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#1-2">基本情報の入力〜本登録</a></td>
                  </tr>
                </table></td>
              </tr>
            </table>
            <a name="1-1"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>基本情報の入力〜本登録</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65">                  <img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ひとびと・netは、人の知識や経験を「教えられたり教えたり」しながら共有する開かれたコミュニティです。コミュニティに参加するには、ひとびと・netへの登録が必要です。登録は誰でもできます。登録料・利用料は無料です。<br>
                  </p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="bottom"><img src="image/uguide1-1_img1-1.gif" width="310" height="96"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="180" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                          <td><img src="image/spacer.gif" width="5" height="1"></td>
                          <td class="char120">TOPページの「新規登録はこちら」をクリックする。</td>
                        </tr>
                      </table>                      </td>
                    </tr>
                    <tr>
                      <td width="180" align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><img src="image/spacer.gif" width="1" height="1"></td>
                      <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide1-1_img1-3.gif" width="310" height="545"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">メールアドレス、パスワード、確認用パスワードを入力します。（必須）<br>
                            <br>
                            <span class="charguide">※パスワードは半角英数6文字以上で設定してください。</span></td>
                          </tr>
                          <tr>
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">こちらの入力は任意です。</td>
                          </tr>
                          <tr>
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">『個人情報保護法について』をよくお読みになり、「登録画面へ進む」ボタンをクリックしてください。</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                    </tr>
                    <tr>
                      <td width="310" rowspan="2"><img src="image/uguide1-1_img1-4.gif" width="310" height="174"></td>
                      <td rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                          <td><img src="image/spacer.gif" width="5" height="1"></td>
                          <td class="char120">入力した内容に間違いがなければ、「登録」ボタンをクリックしてください。</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                    </tr>
                    <tr>
                      <td width="310" rowspan="2"><img src="image/uguide1-1_img1-5.gif" width="310" height="224"></td>
                      <td rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no6.gif" alt="6" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">入力したメールアドレスに、[登録確認メール]が届きます。<br>
												本文に記載されたURLをクリックすると本登録が完了します。<br>
												<br><span class="charguide">※この手順を完了しないと本登録されません。</span>
							</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom">&nbsp;</td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                    </tr>
                    <tr>
                      <td width="310" rowspan="2"><img src="image/uguide1-1_img1-6.gif" width="310" height="122"></td>
                      <td rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no7.gif" alt="7" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">「本登録が完了しました」と表示がされれば登録は完了です。</span> </td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom">&nbsp;</td>
                    </tr>
                  </table>
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="20"></td>
                    </tr>
                    <tr>
                      <td class="char120">※個人情報保護ポリシーについては、<a href="http://www.hitobito.net/index.php?module=Member&action=Regist">こちら</a>をご覧ください。</td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <a name="2" id="2"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td colspan="2"><img src="image/uguide1-2_line.gif" alt="2.ログインしよう" width="555" height="13"></td>
              </tr>
              <tr>
                <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="25"><img src="image/spacer.gif" width="25" height="1"></td>
                <td width="530"><table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                      <td class="char120"><a href="#2-1">ログイン情報を入力する</a></td>
                      <td><img src="image/spacer.gif" width="10" height="1"></td>
                      <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                      <td class="char120"><a href="#2-2">パスワードを忘れたときは</a></td>
                      <td><img src="image/spacer.gif" width="10" height="1"></td>
                      <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                      <td class="char120"><a href="#2-3">パスワードを変更する</a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <a name="2-1"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ログイン情報を入力する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>コミュニティに登録(無料)したり登録情報の変更を行うには、ひとびと・netにログインする必要があります。ひとびと・netに登録されたメールアドレスとパスワードを用意してください。ログインが成功すると「メンバーログイン」が消えて「メンバーメニュー」が表示されます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide1-2_img1-1.gif" width="310" height="96"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">各ページに表示される「メンバーログイン」に、メールアドレスとパスワードを入力し、「ログイン」ボタンをクリックする。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                    </table>
                </td>
              </tr>
            </table>
            <a name="2-2"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>パスワードを忘れたときは</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>パスワードを忘れたときは、新しいパスワードを発行します。パスワードはメールにてお知らせします。 </p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide1-2_img2-1.gif" width="310" height="74"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="180" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">各ページに表示される「メンバーログイン」の、「パスワードをお忘れの方」をクリックする。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td width="180" align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image/uguide1-2_img2-3.gif" width="310" height="162" /></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">登録したメールアドレスを入力し、「送信」ボタンをクリックする。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                      </tr>
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                    </tr>
                    </table>
                <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image/uguide1-2_img2-4.gif" width="310" height="160"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">入力したメールアドレスに、<span class="charguide">[パスワード再発行メール]</span>が届きます。<br>
							  本文に記載されたパスワードを入力して<a href="#2">ログイン</a>後、<a href="#2-3">わかりやすいパスワードに変更</a>してください。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                      <tr>
                        <td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="2-3" id="2-3"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>パスワードを変更する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>パスワードの変更は、ログイン後に表示されるメンバーメニューにて行なうことができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide1-2_img3-1.gif" width="310" height="153" /></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="180" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120"><a href="#2-1">ログイン</a>後、各ページに表示される「メンバーメニュー」の「基本情報の変更」をクリックする。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td width="180" align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
            <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image/uguide1-2_img3-3.gif" width="310" height="481"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">変更したいパスワードを入力し、「確認画面へ進む」ボタンをクリックする。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">確認画面へ移ったら「登録」ボタンをクリックして完了です。</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
          </td>
        </tr>
        <!--
					<tr>
						<td class="char120">ナビページについて</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">ワイワイ会議について</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
-->
      </table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					</table>
				  </td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
</table>