<!--作業用　↓↓↓

<head>
			<link rel="stylesheet" href="css/default.css" type="text/css">
			<script type="text/javascript" src="js/common.js"></script>
</head>

作業用 ↑↑↑ -->




<a name="top"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_guide.gif" alt="使い方ガイド" width="113" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					
      <table border="0" cellspacing="0" cellpadding="0" width="555">
        <tr> 
          <td> 
            <a name="3" id="3"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/uguide3_line.gif" alt="3.登録情報を変更したい" width="555" height="13"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="25"><img src="image/spacer.gif" width="25" height="1"></td>
                <td width="530">
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-1">基本情報の変更</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-2">メール配信の変更</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-3">メルマガの確認／解除</a></td>
                  </tr>
                </table>
				<img src="image/spacer.gif" width="25" height="5"><br>
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-4">ワイワイ会議の確認／解除</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-5">ひとびと・netからの退会</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#3-6">ログアウト</a></td>
                  </tr>
                </table></td>
              </tr>
            </table>
            <a name="3-1" id="3-1"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>基本情報の変更</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>「基本情報の変更」では、登録メールアドレスとパスワードを変更することができます。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="bottom"><img src="image/uguide3-1_img1-1.gif" width="310" height="153"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="180" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                          <td><img src="image/spacer.gif" width="5" height="1"></td>
                          <td class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「基本情報の変更」をクリックします。</td>
                        </tr>
                      </table>                      </td>
                    </tr>
                    <tr>
                      <td width="180" align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                    </tr>
                    <tr>
                      <td width="310">&nbsp;</td>
                      <td><img src="image/spacer.gif" width="1" height="1"></td>
                      <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide3-1_img1-3.gif" width="310" height="481"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">変更したいパスワードを入力し、「確認画面へ進む」ボタンをクリックします。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">確認画面へ移ったら「登録」ボタンをクリックして完了です。</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom">&nbsp;</td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <a name="3-2" id="3-2"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>メール配信の変更</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>「メール配信の変更」では、全会員向けメールマガジンである「ひとびと便り」の配信を停止したり、ワイワイ会議からのメールを一括して停止することができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide3-2_img1-1.gif" width="310" height="153"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="310" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「メール配信の変更」をクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image/uguide3-2_img1-3.gif" width="310" height="189"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">ひとびと便りの受信、ML投稿の一時停止それぞれの受信・停止を設定します。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                            <tr>
                              <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">「登録情報更新」ボタンをクリックして完了です。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="3-3" id="3-3"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>メルマガの確認／解除</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"><p>「メルマガの確認／解除」では、登録中のメルマガを確認したり解除することができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="166" rowspan="2" valign="bottom"><img src="image/uguide3-3_img1-1.gif" width="310" height="153"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="310" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「メルマガの確認／解除」をクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image/uguide3-3_img1-3.gif" width="310" height="186"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">現在登録しているメールマガジンが一覧で表示されます。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                            <tr>
                              <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">メールマガジンを解除したい場合は[解除]ボタンをクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="3-4" id="3-4"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議の確認／解除</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"><p>「ワイワイ会議の確認／解除」は登録中のワイワイ会議を確認したり、解除することができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide3-4_img1-1.gif" width="310" height="153"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="310" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「ワイワイ会議の確認／解除」をクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top"><img src="image/uguide3-4_img1-3.gif" width="310" height="189"></td>
                        <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">現在登録しているワイワイ会議が一覧で表示されます。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                            <tr>
                              <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">メーリングリストでの発言を受け取りを停止したい場合は[停止]ボタンをクリックする。<br>
							  ワイワイ会議への登録を解除したい場合は[削除]ボタンをクリックします。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><font color="#FF0000"><br><br><b>●ニックネームの●<br>変更方法</b></font></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">ニックネームを変更したい場合は、ニックネームの欄に新しく入力し、[ニックネーム更新]ボタンをクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="3-5" id="3-5"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ひとびと・netからの退会</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>退会するには、「ひとびと・netからの退会」をクリックして下さい。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="bottom"><img src="image/uguide3-5_img1-1.gif" width="310" height="153"></td>
                        <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="180" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「ひとびと・netからの退会」をクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td width="180" align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
              <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top"><img src="image/uguide3-5_img1-3.gif" width="310" height="203"></td>
                        <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">よろしければ退会の理由をお聞かせください。<br>
                              （選択肢よりひとつ選んでください。）</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">[退会する]ボタンをクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top"><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td valign="top" class="char120">
							※復帰を希望される方は退会後10日以内に<a href="http://www.hitobito.net/index.php?module=Contact&amp;navipage_id=194&amp;contact_form_id=2">事務局までお問合せ</a>下さい。<br>
							<br>
							10日を過ぎますと登録されていたメールアドレスは、
							データベースから削除され復帰することはできなくなります。
							あらかじめご了承ください。
						</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="3-6" id="3-6"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ログアウト</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="1" height="1"></td>
                <td width="490" class="char120">
                  <p>ログアウトをするには、ブラウザを閉じるかログアウトをクリックしてください。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="bottom"><img src="image/uguide3-6_img1-1.gif" width="310" height="153"></td>
                        <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="180" align="left" valign="top"><table height="144" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td valign="top" class="char120"><a href="31.html#2">ログイン</a>後、各ページに表示される「メンバーメニュー」の「ログアウト」をクリックします。</td>
                            </tr>
                            <tr>
                              <td valign="top">&nbsp;</td>
                              <td>&nbsp;</td>
                              <td align="center" valign="bottom" class="char120"><img src="image/uguide_darrow.gif" width="19" height="23" /></td>
                            </tr>
                        </table>
                        </td>
                      </tr>
                      <tr>
                        <td width="310">&nbsp;</td>
                        <td><img src="image/spacer.gif" width="1" height="1"></td>
                        <td width="180"><img src="image/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                      </tr>
                      <tr>
                        <td width="310" valign="top"><img src="image/uguide3-6_img1-4.gif" width="310" height="158"></td>
                        <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">「ログアウトしました。」というメッセージが表示されれば完了です。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
          </td>
        </tr>
        <!--
					<tr>
						<td class="char120">ナビページについて</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">ワイワイ会議について</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
-->
      </table>
				  </td>
				  <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
</table>