<!--作業用　↓↓↓

<head>
			<link rel="stylesheet" href="css/default.css" type="text/css">
			<script type="text/javascript" src="js/common.js"></script>
</head>

作業用 ↑↑↑ -->




<a name="top"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image
/t_guide.gif" alt="使い方ガイド" width="113" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					
      <table border="0" cellspacing="0" cellpadding="0" width="555">
        <tr> 
          <td> 
            <a name="4" id="4"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image
/uguide4_line.gif" alt="4.コミュニティに参加しよう" width="555" height="13"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="25"><img src="image
/spacer.gif" width="25" height="1"></td>
                <td width="530">
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-1">お気に入りのナビページを見つけよう</a></td>
                    <td><img src="image
/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-2">コメントを投稿する</a></td>
                    <td><img src="image
/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-3">トラックバックを送信する</a></td>
                  </tr>
                </table>
				<img src="image
/spacer.gif" width="25" height="5"><br>
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-4">アンケートに参加する</a></td>
                    <td><img src="image
/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-5">メールマガジンに登録する</a></td>
                    <td><img src="image
/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#4-6">ナビに問い合わせる</a></td>
                  </tr>
                </table></td>
              </tr>
            </table>
            <a name="4-1" id="4-1"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>お気に入りのナビページを見つけよう</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>ひとびと・netにはナビページと呼ばれる様々なチャネルのコミュニティがあります。あなたにピッタリのナビページがきっと見つかるはずです。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image
/uguide4_img1-1.gif" width="310" height="587"></td>
                      <td width="15" rowspan="2"><img src="image
/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image
/uguide_A.gif" alt="A" width="15" height="15"></td>
                            <td><img src="image
/spacer.gif" width="5" height="1"></td>
                            <td class="char120">
								<strong>チャネル一覧</strong>
								<br>
								ナビページのカテゴリーです。クリックすると更に細かいカテゴリーに分かれたナビページが表示されます。
                            </td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image
/uguide_B.gif" alt="B" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>ナビランキング</strong>
								<br>
                              閲覧数やワイワイ会議の投稿数などから、人気のナビページを表示しています。毎週月曜日に更新されます。</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>人気記事ランキング</strong>
								<br>
                              閲覧数やコメント、トラックバックによる人気記事を一覧表示しています。</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image
/uguide_C.gif" alt="C" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>アンケート</strong>
								<br>ナビが現在実施しているアンケートを一覧表示しています。</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image
/uguide_D.gif" alt="D" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>今日のいちおしナビ</strong>
								<br>たくさんのナビ記事のなかから、ひとびと・netいちおしのナビページをピックアップしています。</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image
/uguide_E.gif" alt="E" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>ナビ記事最新投稿</strong>
								<br>更新のあったナビ記事を時間順に表示しています。</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image
/uguide_F.gif" alt="F" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								<strong>ナビセレクト最新投稿</strong>
								<br>更新のあったナビセレクト記事を時間順に表示しています。</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom">&nbsp;</td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image
/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image
/spacer.gif" width="1" height="25"></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <a name="4-2" id="4-2"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>コメントを投稿する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>ナビ記事やアンケート、メールマガジンにはコメントを残すことができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image
/uguide4_img2-1.gif" width="310" height="366"></td>
                        <td width="15" rowspan="2"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image
/spacer.gif" width="5" height="1"></td>
                              <td class="char120">コメントをつけたい記事をクリックし、記事下部のコメント送信フォーム（水色の背景のエリア）にお名前とコメントを入力します。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image
/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                            <tr>
                              <td valign="top"><img src="image
/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">[書き込む]ボタンをクリックすると内容が反映されます。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="4-3" id="4-3"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>トラックバックを送信する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>あなたがブログをお持ちなら、ひとびと・netへトラックバックを送信することができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top"><img src="image
/uguide4_img3-1.gif" width="310" height="366"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image
/spacer.gif" width="5" height="1"></td>
                              <td class="char120">
							  	トラックバックを送信したい記事をクリックします。<br><br>
								記事下部、黄色の背景のエリアに表示されているのがこの記事のトラックバックURLです。
								ご自分のブログからトラックバックを送信してください。<br><br>
								<span class="charguide">※トラックバックを送信する手順はご利用のブログ提供元にお問い合わせください。
                              </span> </td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="4-4" id="4-4"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>アンケートに参加する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>ナビが作成したアンケートに答えることができます。アンケートは選択式の簡単なもので、回答閲覧ページではコメントやトラックバックをつけることができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top">
						  <img src="image
/uguide4_img4-1.gif" width="310" height="588"><br>
							<img src="image
/uguide4_img4-2.gif" width="310" height="298"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image
/spacer.gif" width="5" height="1"></td>
                              <td class="char120">アンケートページへは、左メニュー最下の実施中欄と、各ナビページにあるタブからアクセスすることが出来ます。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image
/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image
/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">
							  	回答を選択します。<br>
								（アンケートにより選択できる回答数は異なります）
							  </td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image
/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image
/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">[回答する]ボタンをクリックして完了です。</td>
                            </tr>
                            <tr align="center">
                              <td colspan="3" valign="top"><img src="image
/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image
/uguide_no4.gif" alt="4" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">「回答を閲覧する」をクリックすると、現在の回答状況を確認することが出来ます。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="4-5" id="4-5"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>メールマガジンに登録する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>ナビの発行するメールマガジンを登録することができます。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" rowspan="2" valign="top"><img src="image
/uguide4_img5-1.gif" width="310" height="218"></td>
                        <td width="15" rowspan="2"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image
/spacer.gif" width="5" height="1"></td>
                              <td class="char120">
							  	ナビページの「メルマガ」タブをクリックすると、そのナビが配信しているメルマガ詳細が表示されます。<br>
								バックナンバーを公開しているナビもいます。
							  </td>
                            </tr>
                            <tr>
                              <td height="10" colspan="3"><img src="image
/spacer.gif" width="1" height="10"></td>
                            </tr>
                            <tr>
                              <td valign="top"><img src="image
/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">購読を希望する場合は、左メニュー下部に表示される「メールマガジン」メニューのフォームにメールアドレスを入力し、[登録ボタン]をクリックします。</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="center" valign="bottom"><img src="image
/uguide_darrow.gif" width="19" height="23"></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td colspan="3" valign="top"><img src="image
/spacer.gif" width="1" height="15"></td>
                      </tr>
                      <tr>
                        <td width="310" valign="top"><img src="image
/uguide4_img5-2.gif" width="310" height="245"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">完了画面が表示されれば登録は完了です。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="4-6" id="4-6"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image
/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image
/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image
/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ナビに問い合わせる</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image
/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>ナビへの質問やお仕事・取材の依頼はフォームを使って行なうことができます。各ナビページに設置されたフォームからの問い合わせから、各ナビへ問い合わせを行なうことができます。ひとびと・net事務局へ問い合わせは、<a href="index.php?module=Contact&navipage_id=1&contact_form_id=2">こちら</a>より行なってください。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top"><img src="image
/uguide4_img6-1.gif" width="310" height="294"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image
/spacer.gif" width="5" height="1"></td>
                              
                            <td class="char120">「このナビへの問い合わせ」または「お仕事・取材の依頼」をクリックしてください。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td colspan="3" valign="top"><img src="image
/spacer.gif" width="1" height="15"></td>
                      </tr>
                      <tr>
                        <td width="310" align="center" valign="top"><img src="image
/uguide4_img6-2.gif" width="302" height="194"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no3.gif" alt="3" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">
							  	<strong>お問い合わせ</strong><br>
                              問い合わせフォームに必要事項を記入して、[確認]ボタンを押してください。<br>
							  ご確認後、よろしければ[送信]ボタンを押してください。<br><br>
							  後ほどメールにてお答えいたします。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td colspan="3" valign="top"><img src="image
/spacer.gif" width="1" height="15"></td>
                      </tr>
                      <tr>
                        <td width="310" align="center" valign="top"><img src="image
/uguide4_img6-3.gif" width="302" height="277"></td>
                        <td width="15"><img src="image
/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top">
						<table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image
/uguide_no4.gif" alt="4" width="15" height="15"></td>
                              <td>&nbsp;</td>
                              <td class="char120">
							  	<strong>お仕事／取材の依頼</strong><br>
                              お仕事／取材の問い合わせに関しては、貴社名・部署名電話番号もご記入ください。メール又はお電話にてお答えいたします。<br><br>
							  入力後[確認]ボタンを押し、よろしければ[送信]ボタンを押してください。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image
/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image
/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image
/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image
/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image
/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
          </td>
        </tr>
        <!--
					<tr>
						<td class="char120">ナビページについて</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image
/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image
/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120"><img src="image
/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">ワイワイ会議について</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image
/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image
/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
-->
      </table>
				  </td>
				  <td width="10"><img src="image
/spacer.gif" width="10" height="1"></td>
				</tr>
</table>