<!--作業用　↓↓↓

<head>
			<link rel="stylesheet" href="css/default.css" type="text/css">
			<script type="text/javascript" src="js/common.js"></script>
</head>

作業用 ↑↑↑ -->



<a name="top"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_guide.gif" alt="使い方ガイド" width="113" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					
      <table border="0" cellspacing="0" cellpadding="0" width="555">
        <tr> 
          <td> 
            <a name="5" id="5"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/uguide5_line.gif" alt="5.ワイワイ会議に参加しよう" width="555" height="13"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="25"><img src="image/spacer.gif" width="25" height="1"></td>
                <td width="530">
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-1">ワイワイ会議とは？</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-2">ワイワイ会議を閲覧する</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-3">ワイワイ会議に登録する</a></td>
                  </tr>
                </table>
				<img src="image/spacer.gif" width="25" height="5"><br><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-4">ワイワイ会議で発言する</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-5">発言に返信する(WEB編)</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-6">発言に返信する(ML編)</a></td>
                  </tr>
                </table>
				<img src="image/spacer.gif" width="25" height="5"><br><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-7">受信メールの振り分け設定方法</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#5-8">ワイワイ会議ご利用上の注意</a></td>
                  </tr>
                </table>
				</td>
              </tr>
            </table>
            <a name="5-1" id="5-1"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議とは？</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> ワイワイ会議は、メーリングリストであり、同時にWeb会議でもあります。メールで投稿したり、他のメンバーの発言に対してメールで返信・回答できます。またWeb上でも同じように、投稿したり返信・回答することができます。 
                </td>
              </tr>
            </table>
            <a name="5-2" id="5-2"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議を閲覧する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65">                  <img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>まずはワイワイ会議とはどのようなものなのかを見てゆきましょう。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" valign="top"><img src="image/uguide5_img2-1.gif" width="310" height="309"></td>
                      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">
								ナビページの「ワイワイ会議」タブをクリックします。
							</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_A.gif" alt="A" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">
								書き込みの表示方法を変更できます。<br><br>
								スレッド表示･･･<br>
								投稿順に表示･･･<br><br>
								表示方法を選択後、<span class="charguide"><strong>Ｄ</strong>[更新]</span>ボタンをクリックします。 
							</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_B.gif" alt="B" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								書き込みの表示件数を、50件表示または20件表示に変更できます。<br>
								表示件数を選択後、<span class="charguide"><strong>Ｄ</strong>[更新]</span>ボタンをクリックします。
							</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_C.gif" alt="C" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								複数ページに渡って書き込みがある場合のページ移動に使用します。<br>
								移動先のページ数を選択し、<span class="charguide"><strong>Ｄ</strong>[更新]</span>ボタンをクリックします。
							</td>
                          </tr>
                          <tr>
                            <td height="10" colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_E.gif" alt="E" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
								複数ページに渡って書き込みがある場合のページ移動に使用します。<br>
								1ページずつ移動します。
							</td>
                          </tr>
                      </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"><p>書き込み表示画面からは前後の記事への移動が可能です。</p>
                    <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="310" valign="top"><img src="image/uguide5_img2-2.gif" width="310" height="314" /></td>
                        <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                        <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/spacer.gif" alt="1" width="15" height="1"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">書き込みの上下に前後の書き込みへのリンクが表示されるので、一覧へ戻らずに読み進めることがます。</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <a name="5-3" id="5-3"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議に登録する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ワイワイ会議に登録するには、<a href="index.php?module=contents&content_id=31">ひとびと・netに登録</a>する必要があります。そのあとワイワイ会議にアクセスしてニックネームを登録してください。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" valign="top"><img src="image/uguide5_img3-1.gif" width="310" height="262"></td>
                      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="char120">まずは登録したいワイワイを表示して下さい。あなたの登録状況によってワイワイ会議の登録フォームに表示される内容が変わります。下記を参照しながら登録を行います。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><img src="image/uguide5_img3-2.gif" width="418" height="117"></td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top">
					  <table width="418" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                        <tr>
                          <td width="15" valign="top"><img src="image/spacer.gif" width="15" height="1"></td>
                          <td width="15" valign="top"><img src="image/uguide_A.gif" alt="A" width="15" height="15"></td>
                          <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                          <td class="char120">
							  <strong>未ログインでワイワイ会議室に登録していない場合</strong><br><br>
								⇒ワイワイ会議に登録済み<br>
								　 ログインメールアドレスとパスワードを入力してログインします。<br>
								⇒ワイワイ会議に登録していない<br>
								　 ログインメールアドレスとパスワードを入力してログイン後、<br>
								　 2の画面が表示されますのでゲスト登録を行ってください。
						  </td>
                        </tr>
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><img src="image/uguide5_img3-3.gif" width="418" height="121"></td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><table width="418" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                        <tr>
                          <td width="15" valign="top"><img src="image/spacer.gif" width="15" height="1"></td>
                          <td width="15" valign="top"><img src="image/uguide_B.gif" alt="B" width="15" height="15"></td>
                          <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                          <td class="char120">
								<strong>ログインはしているが、ワイワイ会議室に登録していない場合</strong><br>
								<br>
                              ニックネームを入力し[ゲスト登録]ボタンをクリックすると、あなたの元にゲスト登録完了通知が届きます。メールが届いた時点でゲスト登録が完了し、ワイワイ会議からのメールがあなたにも届くようになります。 
                              （この時点ではワイワイ会議へ投稿することはできません）ニックネーム登録は最初の一回だけで次回からは必要ありません。</td>
                        </tr>
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><img src="image/uguide5_img3-4.gif" width="418" height="69"></td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><table width="418" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                        <tr>
                          <td width="15" valign="top"><img src="image/spacer.gif" width="15" height="1"></td>
                          <td width="15" valign="top"><img src="image/uguide_C.gif" alt="C" width="15" height="15"></td>
                          <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120"> <strong>ログイン済み、かつワイワイ会議室への登録が完了している場合<br>
                              </strong><br>
                              ワイワイ会議への登録は完了しゲスト登録状態、又は本登録状態となっています。ワイワイ会議からのメールがあなたにも届きます。</td>
                        </tr>
                        <tr>
                          <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="5-4" id="5-4"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議で発言する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ワイワイ会議へ投稿するにはゲスト登録メンバーから本登録メンバーとなる必要があります。本登録メンバーになるにはナビの承認が必要です。ナビが承認作業を行なうとメールにて本登録メンバーになった旨が通知されます。<br>
                    <br>
                    ※ワイワイ会議で発言をするには<a href="#5-3">ワイワイ会議への本登録</a>が必要です。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" valign="top"><img src="image/uguide5_img4-1.gif" width="310" height="415" /></td>
                      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top">
					    <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120"><a href="http://www.hitobito.net/index.php?module=contents&content_id=31#2">ログイン</a>後に表示される[新規投稿]ボタンをクリックします。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">記事一覧の最下に新規投稿フォームが表示されます。<br>
                              件名と本文を入力します。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[確認]ボタンをクリックし、内容に間違いがなければ[投稿する]ボタンをクリックして完了です。</td>
                          </tr>
                        </table>					  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="5-5" id="5-5"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>発言に返信する(WEB編)</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ワイワイ会議の発言にWEBから返信する方法をご案内します。<br>
                    <br>
                    ※ワイワイ会議で発言をするには<a href="#5-3">ワイワイ会議への本登録</a>が必要です。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide5_img5-1.gif" width="310" height="360"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">返信したい記事をクリックします。</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td rowspan="2" valign="top"><img src="image/uguide5_img5-2.gif" width="310" height="276"></td>
                      <td rowspan="2">&nbsp;</td>
                      <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[この発言に返信]ボタンをクリックします。</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img src="image/spacer.gif" width="1" height="15"><img src="image/spacer.gif" width="15" height="1"></td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="image/uguide5_img5-3.gif" width="310" height="190"></td>
                      <td>&nbsp;</td>
                      <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">返信フォームが表示されますので、件名、本文を入力します。</td>
                          </tr>
                        <tr>
                          <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                        <tr>
                          <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                          <td>&nbsp;</td>
                          <td class="char120">[確認]ボタンをクリックし、内容に間違いがなければ[送信]ボタンをクリックしてください。<br>
                            <br>
						  「投稿しました。」のメッセージが表示されれば完了です。 </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="5-6" id="5-6"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>発言に返信する(ML編)</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ワイワイ会議の発言にメールソフトから返信する方法をご案内します。<br>
                    <br>
                    ※ワイワイ会議で発言をするには<a href="#5-3">ワイワイ会議への本登録</a>が必要です。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" valign="top"><img src="image/uguide5_img6-1.gif" width="310" height="356"></td>
                      <td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">返信をクリックします。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">
									本文を入力し、送信をクリックします。<br>
									※件名は自動で挿入されます。<br>
									（ナビが設定をしている場合はヘッダ・フッタも挿入されます。）<br><br>
									
									メールを送信するとワイワイ会議メンバーにメールで発言が届き、WEBにも発言が反映されます。<br>
									件名と本文を入力します。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="30"></td>
                    </tr>
                    <tr>
                      <td width="15" valign="top"><img src="image/spacer.gif" width="15" height="1"></td>
					  <td width="10" align="left" valign="top"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                      <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                      <td class="char120">
					  		<strong>受信メールの見方</strong>
					  		<table border="0" cellspacing="2" cellpadding="0">
                              <tr>
                                <td colspan="2" valign="top" class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
                              </tr>
                              <tr>
                                <td colspan="2" valign="top" class="char120">送信者アドレス･･･</td>
                              </tr>
                              <tr>
                                <td valign="top" class="char120"><img src="image/spacer.gif" width="15" height="1"></td>
                                <td class="char120">
									送信者のワイワイ会議室ニックネームか、固有のメールアドレスが表示されます。<br>
								（専用のメーリングリスト用アドレスに置き換わるので、個人の連絡先を特定されることはありません）</td>
                              </tr>
                              <tr>
                                <td colspan="2" valign="top" class="char120"><img src="image/spacer.gif" width="1" height="10"></td>
                              </tr>
                              <tr>
                                <td colspan="2" valign="top" class="char120">宛先アドレス・・・</td>
                              </tr>
                              <tr>
                                <td valign="top" class="char120"><img src="image/spacer.gif" width="15" height="1"></td>
                                <td class="char120">
									各会議室により異なります。<br>
									このアドレスに返信することで、登録メンバーへメッセージが送信され、WEBにも発言が反映されます。<br><br>
									※画像はWindows OutlookExplessの例です
								</td>
                              </tr>
                            </table>
			  		  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="4" valign="top"><img src="image/spacer.gif" width="1" height="30"><a name="5-7" id="5-7"></a></td>
                    </tr>
                    <tr>
                      <td width="15" rowspan="3" valign="top"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="10" rowspan="3" align="left" valign="top"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                      <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                      <td class="char120"><strong>受信メールの振り分け（OutlookExpless6／Windows版の場合）</strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td class="char120">ワイワイ会議からの投稿は専用のフォルダを作成して、自動振り分け機能を使うと管理が便利になります。</td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="2" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td rowspan="3" valign="top"><img src="image/spacer.gif" width="30" height="1"></td>
                      <td class="char120"><strong>1.新しいフォルダを作成する</strong></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td>
					  <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td rowspan="2" valign="top"><img src="image/uguide5_img6-2.gif" width="225" height="286"></td>
                          <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                          <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">「受信トレイ」を右クリック＞「フォルダの作成」を選択する。</td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="10"></td>
                          </tr>
                        <tr>
                          <td valign="top"><img src="image/uguide5_img6-3.gif" width="302" height="150"></td>
                          <td>&nbsp;</td>
                          <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                              <td><img src="image/spacer.gif" width="5" height="1"></td>
                              <td class="char120">フォルダ名（自分でわかりやすい名前）を入力し、[OK]ボタンをクリックして完了です。</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
					  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="2" valign="top"><img src="image/spacer.gif" width="1" height="20"></td>
                    </tr>
                    <tr>
                      <td rowspan="3" valign="top"><img src="image/spacer.gif" width="30" height="1"></td>
                      <td class="char120"><strong>2.メッセージルールを設定する</strong></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td>
					  <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top">
							<img src="image/uguide5_img6-4.gif" width="461" height="250"><br>
							<table width="460" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                                </tr>
                                <tr>
                                  <td width="15" valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                                  <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                  <td class="char120">1で作成したフォルダを選択＞ツール(T)＞メッセージ ルール(R)＞メール（M)の順にクリックする。</td>
                                </tr>
                                <tr align="center">
                                  <td colspan="3"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                                </tr>
                              </table>
							<img src="image/uguide5_img6-5.gif" width="433" height="344"><br>
							<table width="460" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                                </tr>
                                <tr>
                                  <td width="15" valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                                  <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                  <td class="char120">
									  「新規のメール ルール」ウィンドウが表示される。<br>
									  「1.ルールの条件を選択してください」の欄で[宛先にユーザーが含まれている場合]にチェックを入れる。
								  </td>
                                </tr>
                                <tr align="center">
                                  <td colspan="3"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                                </tr>
                                <tr>
                                  <td width="15" valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                                  <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                  <td class="char120">「2.ルールのアクションを選択してください」の欄で[指定したフォルダに移動する]にチェックを入れる。</td>
                                </tr>
                                <tr align="center">
                                  <td colspan="3"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                                </tr>
                                <tr>
                                  <td width="15" valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                                  <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                  <td class="char120">
									  「3.ルールの説明」の欄で『ユーザーが含まれている』という青いテキストをクリックし、「ユーザーの選択」ウィンドウを表示する。<br>
										メールの宛先のアドレスを入力＞[追加（A)]ボタンをクリック。<br>
										「人（P)」という欄に入力したアドレスが追加されたのを確認して[OK]ボタンをクリック。
								  </td>
                                </tr>
                                <tr>
                                  <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                                </tr>
                              </table>
						   	 <table border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td><img src="image/spacer.gif" width="18" height="1"></td>
                                 <td><img src="image/uguide5_img6-6.gif" width="345" height="337"></td>
                               </tr>
                             </table>
						   	 <table width="460" border="0" cellpadding="0" cellspacing="0">
                                <tr align="center">
                                  <td colspan="3"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                                </tr>
                               <tr>
                                 <td width="15" valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                                 <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                 <td class="char120">
									 「3.ルールの説明」の欄で『指定したフォルダ』という青いテキストをクリックし、「移動」ウィンドウを表示する。<br>
									 1で作成したフォルダ（ここでは「ナビヘルプ」）を選択＞[OK]ボタンをクリック。
								 </td>
                               </tr>
                               <tr>
                                 <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                               </tr>
                             </table>
							 <table border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td><img src="image/spacer.gif" width="18" height="1"></td>
                                 <td><img src="image/uguide5_img6-7.gif" width="345" height="235"></td>
                               </tr>
                             </table>
							 <table width="460" border="0" cellpadding="0" cellspacing="0">
                                <tr align="center">
                                  <td colspan="3"><img src="image/uguide_darrow.gif" width="19" height="23" vspace="15"></td>
                                </tr>
                               <tr>
                                 <td width="15" valign="top"><img src="image/uguide_no6.gif" alt="6" width="15" height="15"></td>
                                 <td width="5"><img src="image/spacer.gif" width="5" height="1"></td>
                                 <td class="char120">
								 	「4.ルール名」の欄に、自分の分かりやすい名前を入力＞[OK]ボタンをクリック。<br>
									「新規のメール ルール」ウィンドウが閉じます。<br>
									「メッセージ ルール」ウィンドウに作成したルールが追加されているのを確認して[OK]ボタンをクリックして完了です。
								 </td>
                               </tr>
                               <tr>
                                 <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                               </tr>
                             </table>
							 <table border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td><img src="image/spacer.gif" width="18" height="1"></td>
                                 <td><img src="image/uguide5_img6-8.gif" width="345" height="253"></td>
                               </tr>
                             </table></td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="5-8" id="5-8"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ワイワイ会議ご利用上の注意</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr>
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr>
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120">
                  <p>楽しくやりとりするには、以下のことに気をつけましょう。（ネット上のマナー・エチケットの基本的なものに、｢ネチケット｣があります。 
                    <br>
                    <a href="http://www.cgh.ed.jp/netiquette/">http://www.cgh.ed.jp/netiquette/</a></p>
                  <p>一度は、必ず目を通しておきましょう。） <br>
                    ワイワイ会議の発言は、メーリングリスト機能で、その会議に登録している全員にメール配信されます。送信してしまえば、全員にメールが送られてしまいますので取り消しはできません。発言する際には、取り消せないことを念頭におき、送る前に内容を確認してから、送りましょう。</p>
                  <p>楽しい場にするよう、心がけましょう。電子メールによる会議は、直接会って表情を見ながら、声のトーンを確認しながらのコミュニケーションとは違い、文字だけから判断されてしまいます。そのため、場合によっては、本人に悪気がなくても、思いもよらずネガティブにとられる場合があります。そのことを理解した上で、ネガティブな内容を言い放つ場にしないように注意しましょう。</p>
                  <p>他者を批判するのはやめましょう。それぞれの主張の張り合いになったり、正しさを追求するやりとりになると、お互い疲れてしまいます。会議では、ひとつの正しい答えをだすことを目的とせず、｢こんな考えもある｣｢へぇーそんなこともあるんですね｣と、広げていくコミュニケーションを心がけましょう。</p>
                  <p>主催者ナビになった場合など、主催者なんだから、何でも知っていなくちゃ・・・完璧に答えなくちゃ・・・ということがプレッシャーになって、ついかっこつけてしまう場合があるようです。知ったかぶりはやめて、みんなにたずねたり、投げかけたりしてみると、意外に知らなかったことがたくさん出てきます。あなたの知らないことを知らないというと、誰かが情報を提供してくれたりします。</p>
                  <p>間違ってしまったら、すぐにあやまりましょう。誰にでも間違いはあるので、間違ったとわかったら、すぐにあやまりましょう。</p>
                  <p>礼儀は守りましょう。メールでのやりとりも、普段の生活と同様、礼節を守りお互い気持ちよくやりとりしましょう。</p>
                  <p>以上のことは、最低限の心得といえるでしょう。気をつけていても、実際にやりとりをすれば、いろいろなケースに出会い、迷うこともあるでしょう。ワイワイ会議を主催するナビの方々のためには、主催者同士が相談したり情報共有できる｢ナビヘルプ会議室｣がありますので、そちらもご利用ください。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                      <tr>
                        <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                      </tr>
                      <tr>
                        <td><img src="image/spacer.gif" width="1" height="25"></td>
                      </tr>
                  </table></td>
              </tr>
            </table>
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
            <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
          </td>
        </tr>
        <!--
					<tr>
						<td class="char120">ナビページについて</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">ワイワイ会議について</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
						<ul>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●</a></li>
							<li><a href="#">●●●●●●●●●●●●●●●●●●●●●●●●</a></li>
						</ul>
						</td>
					</tr>
-->
      </table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					</table>
				  </td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
</table>
<blockquote>&nbsp;</blockquote>
