<!--作業用　↓↓↓
<head>
			<link rel="stylesheet" href="css/default.css" type="text/css">
			<script type="text/javascript" src="js/common.js"></script>
</head>

作業用 ↑↑↑ -->






<a name="top"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_guide.gif" alt="使い方ガイド" width="113" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					
      <table border="0" cellspacing="0" cellpadding="0" width="555">
        <tr> 
          <td> 
            <a name="5" id="5"></a>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/uguide7_line.gif" alt="7.ワイワイ会議の管理について" width="555" height="13"></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="25"><img src="image/spacer.gif" width="25" height="1"></td>
                <td width="530">
				<table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#7-1">ゲストメンバーを本登録メンバーに承認する</a></td>
                    </tr>
                </table>
				<img src="image/spacer.gif" width="25" height="5"><br><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#7-2">新規投稿</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#7-3">発言編集</a></td>
                    <td><img src="image/spacer.gif" width="10" height="1"></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#7-4">発言削除</a></td>
                    <td width="10"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                    <td class="char120"><a href="#7-5">スレッド移動</a></td>
                    </tr>
                </table>
				</td>
              </tr>
            </table>
            <a name="7-1" id="7-1"></a>
<table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>ゲストメンバーを本登録メンバーに承認する</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> ワイワイ会議に登録者が現れると、ゲストメンバーとして登録されます。ゲストメンバーはメーリングリストからメールは配信されますが、MLへ投稿することはできません。ナビが承認をして本登録メンバーにする必要があります。 
                  <br>
                  <br>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img1-1.gif" width="310" height="262"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_attention.gif" alt="!" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">認証待ちのゲスト登録メンバーがいる場合、お知らせ枠内に「ゲスト登録メンバーがいます。承認作業を行なってください。」というメッセージが表示されます。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ナビエディット画面の「ワイワイ会議室管理」をクリックする。</td>
                          </tr>
                      </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img1-2.gif" width="310" height="377" /></td>
                      <td width="15" rowspan="2">&nbsp;</td>
                      <td align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ワイワイ会議室管理画面の「会議室ゲストメンバー一覧」をクリックする。</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                  </table>
				  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
                    <tr>
                      <td width="310" valign="top"><img src="image/uguide7_img1-3.gif" width="310" height="140"></td>
                      <td width="15">&nbsp;</td>
                      <td align="center" valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">本登録をしたいメンバーにチェックを入れる。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[承認]ボタンをクリックするとゲストメンバー一覧から消え、登録メンバー一覧に追加されます。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="7-2" id="7-2"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>新規投稿</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ナビエディット画面より、ワイワイ会議への新規投稿を行う方法を説明します。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img2-1.gif" width="310" height="268"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ナビエディット画面の「ワイワイ会議室管理」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img2-2.gif" width="310" height="226"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ワイワイ会議室管理画面の「新規投稿」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img2-3.gif" width="310" height="325"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">新規投稿フォームにタイトルと本文を入力する。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[確認]ボタンをクリックし、内容に間違いがなければ[投稿する]ボタンをクリック。</td>
                          </tr>
						  
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td valign="top"><img src="image/uguide7_img2-4.gif" width="310" height="305"></td>
					  <td>&nbsp;</td>
					  <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                          <td>&nbsp;</td>
                          <td class="char120">「投稿しました。」というメッセージが表示されれば投稿完了です。</td>
                        </tr>
                      </table></td>
				    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="7-3" id="7-3"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>発言編集</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>ワイワイ会議に投稿された発言を修正することができます。個人情報が記載されている場合や、誤って署名を貼り付けてしまった場合など、「発言編集」機能を使って修正を行うことができます。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img3-1.gif" width="310" height="266"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ナビエディット画面の「ワイワイ会議室管理」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img3-2.gif" width="310" height="249"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ワイワイ会議室管理画面の「発言編集」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img3-3.gif" width="310" height="292"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">修正したい記事の件名をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td valign="top"><img src="image/uguide7_img3-4.gif" width="310" height="159"></td>
					  <td>&nbsp;</td>
					  <td valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ページ下部に発言編集フォームが表示されるので、編集する。</td>
                          </tr>
                          <tr align="center">
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[確認]ボタンをクリックして内容を確認し、間違いがなければ[登録情報更新]ボタンをクリックする。</td>
                          </tr>
                      </table>
					  </td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td valign="top"><img src="image/uguide7_img3-5.gif" width="310" height="138"></td>
					  <td>&nbsp;</td>
					  <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no6.gif" alt="6" width="15" height="15"></td>
                          <td>&nbsp;</td>
                          <td class="char120">「編集しました。」というメッセージが表示されれば編集は完了です。</td>
                        </tr>
                      </table></td>
				    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="7-4" id="7-4"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>発言削除</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>間違えて投稿されてしまった発言や、二重投稿されてしまった発言などは、「削除」機能を使ってWEB表示を取り消すことができます。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img4-1.gif" width="310" height="266"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ナビエディット画面の「ワイワイ会議室管理」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img4-2.gif" width="310" height="272"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ワイワイ会議室管理画面の「発言削除」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img4-3.gif" width="310" height="292"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">削除したい記事の件名をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td rowspan="2" valign="top"><img src="image/uguide7_img4-4.gif" width="310" height="154"></td>
					  <td rowspan="2">&nbsp;</td>
					  <td valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ページ下部に表示される「発言削除」の[確認]ボタンをクリックして内容を確認し、間違いがなければ[削除]ボタンをクリック。</td>
                          </tr>
                      </table>
					  </td>
				    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td valign="top"><img src="image/uguide7_img4-5.gif" width="310" height="153"></td>
					  <td>&nbsp;</td>
					  <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                          <td>&nbsp;</td>
                          <td class="char120">「削除しました。」というメッセージが表示されたら削除完了です。</td>
                        </tr>
                      </table></td>
				    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
            <a name="7-5" id="7-5"></a>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3"><span class="char120"><img src="image/spacer.gif" width="1" height="15"></span></td>
              </tr>
              <tr>
                <td><img src="image/spacer.gif" width="40" height="1"></td>
                <td width="10" align="left"><img src="image/uguide_arrow_s.gif" width="5" height="8"></td>
                <td><span class="char120"><strong>スレッド移動</strong></span></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="555">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td width="65"><img src="image/spacer.gif" width="65" height="1"></td>
                <td width="490" class="char120"> 
                  <p>関連のある投稿同士を繋げたり、または切り離したりすることができます。</p>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img5-1.gif" width="310" height="266"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no1.gif" alt="1" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ナビエディット画面の「ワイワイ会議室管理」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
                    <tr>
                      <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
                    </tr>
                    <tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img5-2.gif" width="310" height="294"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no2.gif" alt="2" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">ワイワイ会議室管理画面の「スレッド移動」をクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
                      <td width="310" rowspan="2" valign="top"><img src="image/uguide7_img5-3.gif" width="310" height="167"></td>
                      <td width="15" rowspan="2"><img src="image/spacer.gif" width="15" height="1"></td>
                      <td width="165" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no3.gif" alt="3" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">ページ下部に表示されるスレッド移動フォームに移動元発言IDと移動先発言IDを入力し、オプションを選択する。</td>
                          </tr>
                          <tr>
                            <td colspan="3" valign="top"><img src="image/spacer.gif" width="1" height="15"></td>
                          </tr>
                          <tr>
                            <td valign="top"><img src="image/uguide_no4.gif" alt="4" width="15" height="15"></td>
                            <td>&nbsp;</td>
                            <td class="char120">[登録情報更新]ボタンをクリックする。</td>
                          </tr>
                      </table>
					  </td>
                    </tr>
					<tr>
					  <td align="center" valign="bottom">&nbsp;</td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td valign="top" class="char120">
						  ID･･･件名の前についている数字（[○]の部分）です。<br>
						  <br>
						  ＜オプション＞<br>
						  指定した発言のみ･･･<br>
						  　指定したIDの発言のみ単体で移動します。<br>
						  指定した発言の子スレッド全て･･･<br>
						  　指定したIDの発言に投稿されたレスも一緒に移動します。
					  </td>
					  <td>&nbsp;</td>
					  <td align="center" valign="bottom"><img src="image/uguide_darrow.gif" width="19" height="23"></td>
				    </tr>
					<tr>
                      <td height="15" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
                    </tr>
					<tr>
					  <td rowspan="2" valign="top"><img src="image/uguide7_img5-4.gif" width="310" height="118"></td>
					  <td rowspan="2">&nbsp;</td>
					  <td valign="top">
					  <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><img src="image/uguide_no5.gif" alt="5" width="15" height="15"></td>
                            <td><img src="image/spacer.gif" width="5" height="1"></td>
                            <td class="char120">「移動しました。」というメッセージが表示されれば移動は完了です。</td>
                          </tr>
                      </table>
					  </td>
				    </tr>
					<tr>
					  <td align="center" valign="bottom">&nbsp;</td>
				    </tr>
                  </table>
                  <table width="490" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                    <tr>
                      <td align="right" class="char120"><a href="#top">↑ページトップへ</a></td>
                    </tr>
                    <tr>
                      <td><img src="image/spacer.gif" width="1" height="25"></td>
                    </tr>
                  </table>
			    </td>
              </tr>
            </table>
      </table>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					</table>
				  </td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
</table>
<blockquote>&nbsp;</blockquote>
