<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_policy.gif" alt="プライバシーポリシー" width="140" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						<td class="char120">
「ひとびと・net」では、メンバーをはじめとするご本人様の個人情報など様々な情報を取扱っておりますが、個人情報保護は当社に課せられた社会的責務であり、ご本人様の信頼が得られてはじめてできる事業であると認識しております。 
<br><br>
そこで、当社では以下に記載する個人情報保護方針を役員および従業員をはじめとする当社業務に係わるすべての者に周知徹底し、この方針に従い当社の個人情報を適切に取扱っております。 
<br><br>
(1) ご本人様の承諾を得た範囲で個人情報を収集しています 
<br><br>
当社はご本人様の個人情報を収集する場合は、あらかじめその目的を明示したうえで、必要な範囲の個人情報に限定し、個人情報を収集します。また、企業や団体向けのマーケティング調査にご協力頂く場合やご本人様の便宜を図る場合など、必要な範囲で個人情報をお伺いすることがあります。 
<br><br>
(2)個人情報はご本人様の承諾を得た目的のみに利用しています 
<br><br>
当社はご本人様より収集させて頂いた、個人情報の取り扱いを、あらかじめ明示した目的の範囲に限定致します。この範囲を超えて利用する必要が生じた場合は、事前にご本人様にその目的を連絡し、同意頂けない場合は、ご本人様のご判断により、当該利用を拒否することができます。 
<br><br>
(3)ご本人様の個人情報の第三者への開示･提供は原則として禁止しています 
<br><br>
当社はご本人様より収集させて頂いた個人情報を適切に管理し、次のいずれかに該当する場合を除き、原則として第三者には開示・提供致しません。 
<br><br>
　　　　<1>ご本人様の同意がある場合<br>
　　　　<2>法令または司法手続き上で開示が必要不可欠な場合 
<br><br>
(4)ご本人様の個人情報は厳正に管理しています 
<br><br>
当社はご本人様から提供頂いた個人情報への不正アクセスや個人情報の紛失、改ざん、漏洩などが起きないよう、厳重なセキュリティ対策を実施しております。特に、個人情報を保管するシステムは、セキュリティ管理の高いレベルにあるデータセンターに運用を委託し、個人情報へは権限のない者がアクセスできないよう安全な環境下に保管しています。 
<br><br>
(5)ご本人様の個人情報のお問合せ窓口を設置しています 
<br><br>
ご本人様が、開示、訂正又は、削除を要求される場合は、次項の個人情報に関する問合せ窓口まで文書か、お電話でご連絡ください。個人情報とは、1つまたは複数の情報を組み合わせることにより当該個人を識別できる情報の事を指します。 
<br><br>
〒106-0006 東京都港区新橋６−２０−２<br>
株式会社　○○○○○○　ひとびと・net事務局<br>
お問い合わせアドレス：mailto:<a href="mailto:info@hitobito.net">info@hitobito.net</a><br>
電話：03-5472-7901 FAX：03-5472-7916
<br><br>
(6)クッキーの使用について
<br><br>
            ひとびと・net では、クッキーを利用して、メンバーのみなさんのアクセスを記録しています。主に、みなさんがMyページへログインする際に、誰がログインをしようとしているのかを認識するために使用しています。 
            <br>
            <br>
クッキーというのは、みなさんがWebサイトを訪れた際に、みなさんのコンピュータ内に記録される小さなデータのことで、Webサイトシステムがみなさんが誰なのかを認識するために使用します。
<br><br>
みなさんそれぞれのブラウザでは、クッキーを拒否する選択もできますが、クッキーを拒否するとMyページへログインすることができなくなってしまいますので、拒否しないようにお願いします。
<br><br>
(7)メールアドレスについて 
<br><br>
皆さんが登録しているワイワイ会議主催のナビは、管理上みなさんのメールアドレスについては、把握しています。 しかし、それを、第三者に公開することはありません。（規約で禁じています。）
<br><br>
メールアドレスについては、ワイワイ会議が、メーリングリスト（登録したメールアドレスに、 同報でメールが届く）であり、メールを使ったしくみである以上、投稿した場合に、ご自分のメールアドレスから、 同じメーリングリストに登録している皆さんに届くことになります。その点は、ご了解下さい。						</td>
					</tr>
					<tr>
						<td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					</table>
				  </td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
			</table>