<table width="580" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#F5E156">
					<td colspan="3"><img src="image/t_press.gif" alt="プレスリリース" width="140" height="14" hspace="10" vspace="6"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					
    <td colspan="3" class="char120">
      <p>新聞・雑誌・ＨＰなどにリリースされた「ひとびと・net」情報をご紹介する予定です。</p>
      </td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
				  <td width="555">
<!--
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120">　</td>
						
          <td class="char120" align="right">　</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120" colspan="2">　 </td>
					</tr>
					</table>
-->
<!--
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120">　</td>
						
          <td class="char120" align="right">　</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120" colspan="2">　 </td>
					</tr>
					</table>
-->

					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					</table>
				  </td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
				</tr>
			</table>