
<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#F5E156"> 
    <td colspan="3"><img src="image/t_first.gif" alt="はじめての方へ" width="113" height="14" hspace="10" vspace="6"></td>
  </tr>
  <tr> 
    <td width="15"><img src="image/spacer.gif" width="15" height="8"></td>
    <td width="555"> 
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><b>ひとびと・netとは？</b></td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"><img src="image/spacer.gif" width="25" height="8"> 
            <p>　</p>
          </td>
          <td class="char120">ひとびと・netは、人の知識や経験を「教えられたり教えたり」しながら共有する開かれたコミュニティです。<br>
            <br>
            誰でも自由に参加でき、自由に退会できるのはもちろんのこと、決して閉じられた空間になることなく開かれているのが、ひとびと・netのイメージするコミュニティです。 
            <p>コミュニティの主催者は、「ナビ」と呼ばれています。</p>
            <p>ナビは、好きなテーマ、得意なテーマでコミュニティを持ちます。<br>
              それだけでなく、ページを持ったりメルマガを発行したりすることもできます。</p>
            <p>ナビがコミュニティを持ちながら、ページやメルマガを編集することで、対話性あふれる表情豊かな世界がいくつも集まり、そこに集う参加者同士が、「教えられたり教えたり」して、知識や経験をひろげていくのが「ひとびと・net」です。</p>
          </td>
        </tr>
      </table>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
            <b>ナビにとってのひとびと・net</b></td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">１． 審査を通過した人がナビになれます。 
            <p>ひとびと・netは、参加している人の役に立った、嬉しい楽しいという実感を大切にしています。ですから、他の参加者と会話しながらコミュニティを育てていく気概を感じさせる応募をお待ちしています。 
              <br>
              <br>
              ２． ナビは、本名と顔写真で登場します。</p>
            <p>人のリアル感を露出するからこそ、ナビページのテーマにぴったりの人たちがコミュニティに参加してきます。本名と顔写真で信頼感と安心感を演出します。 
              <br>
              <br>
              ３． 劇場型のコミュニティを持てます。</p>
            <p>晴れてナビになった人には、単なる掲示板でもメーリングリストでもないダイナミックなコミュニティツールを提供します。ワイワイ会議と呼んでいますが、メーリングリストと掲示板が連動しているので、ふつうにメールでやりとりしているのに掲示板で閲覧したり、投稿することもできます。劇場型のコミュニティを作れるのです。 
              <br>
              <br>
              ４． ナビページを持つことができます。</p>
            <p>ナビは、コミュニティ（ワイワイ会議）以外に、ページを持つことができます。テーマについての記事を編集したりリンク集をつくったりできます。ホームページの感覚です。 
              <br>
              <br>
              ５． メルマガを発行することができます。</p>
            <p>ナビは、コミュニティ（ワイワイ会議）以外に、オリジナルなコンテンツでメルマガを発行することができます。<br>
              <br>
              ６． ネット時代の新・編集人です。</p>
            <p>ナビは、コミュニティリーダーです。また、ページの記事も手がけるＷｅｂマガジンの編集長でもあります。しかもメルマガの発行人にもなることができます。「コミュニティリーダー」「Ｗｅｂマガジンの編集長」「メルマガ発行者」を兼ねたナビは、ネット時代の新・編集人なのです。 
              <br>
              <br>
              ７． ナビページは、参加型ホームページです。</p>
            <p>ナビページは自分のコンテンツだけでは成り立ちません。<br>
              コミュニティに参加する人とのやりとりがコンテンツを豊かにします。<br>
              ナビページは、参加型のホームページなのです。 <br>
              <br>
              ８． ナビは、「好き」には自信あるコミュニケーター。</p>
            <p>コミュニティやページのテーマに一番、必要なのは、ナビが好きなテーマであるということです。みんなで話して解決したり発見したりするので専門家である必要はありません。知らないことは人に聞いてしまおう、というのはナビ自身も同じです。 
              <br>
              <br>
              ９． しっかりサポートします。</p>
            <p>コミュニティを持ったりナビページを持つのに、ＨＴＭＬの知識は要りません。また、事務局スタッフがしっかりサポートしますので、安心してコミュニティやページを運営していくことができます。 
              <br>
              <br>
              １０． ナビへフィードバックします。</p>
            <p>ナビのワイワイ会議やナビページは、ひとびと・netのトップページで紹介されたり、人気ランキングで評価されたりします。<br>
              <br>
              １１． ナビは一日にしてならず。</p>
            <p>「コミュニティリーダー」「Ｗｅｂマガジンの編集長」「メルマガ発行者」を兼ねたナビは、収入への道の可能性に開かれていますが、最初は無報酬から始まります。ナビは、自分の知っていることを他人と分かち合いたい、社会に還元したいという気持ちを持っている人です。ナビはネット時代のひとつのライフスタイルであると、ひとびと・netは提案します。 
            </p>
          </td>
        </tr>
      </table>
      <!--
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                
          <td class="char120" colspan="2"><b><br>
            このサイトの使い方</b></td>
              </tr>
              <tr> 
                <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td class="char120" width="25"> 
                  <p><img src="image/spacer.gif" width="25" height="8"></p>
                </td>
                <td class="char120">まずは、トップページで特集しているテーマや、チャネル一覧をご覧下さい。<br>
                  『ちょっと面白そうだな』『なんか気になるぞ』<br>
                  というテーマはありませんか？ 
                  <p>そんなテーマを見つけたら、一度覗いてみてください。<br>
                    そこで『ちょっと質問してみたいな』『このテーマについて話してみようかな』<br>
                    と思ったら、ワイワイ会議（メーリングリスト&amp; Web会議室）に参加してみましょう。<br>
                    そこには、あなたと同じように、そのテーマに興味を持ったひとたちが集まっています。</p>
                  <p>ちょっと聞きたいこと、教えたいことをワイワイ会議に投げかけてみてください。<br>
                    いろいろな人に、教えられたり教えたり、という双方向のやりとりが始まります。</p>
                </td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><br>
          </td>
              </tr>
              <tr> 
                <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
              </tr>
              <tr> 
                <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
              </tr>
              <tr> 
                <td class="char120" width="25"> 
                  <p><img src="image/spacer.gif" width="25" height="8"></p>
                </td>
                <td class="char120">
            <p>　</p>
                </td>
              </tr>
            </table>
			-->
      <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
      <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
      <!--
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><br>
                </td>
        </tr>
        <tr> 
          <td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
        </tr>
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="25"> 
            <p><img src="image/spacer.gif" width="25" height="8"></p>
          </td>
          <td class="char120">
                  <p>　</p>
          </td>
        </tr>
      </table>
-->
      <!--
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120">　</td>
						
          <td class="char120" align="right">　</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120" colspan="2">　 </td>
					</tr>
					</table>
-->
      <!--
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120">　</td>
						
          <td class="char120" align="right">　</td>
					</tr>
					<tr>
						<td bgcolor="#F5E156" class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="2"></td>
					</tr>
					<tr>
						<td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
					</tr>
					<tr>
						
          <td class="char120" colspan="2">　 </td>
					</tr>
					</table>
-->
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr> 
          <td class="char120" colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
      </table>
    </td>
    <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
  </tr>
</table>
