<a name="whats"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#F5E156"> 
    <td><img src="image/t_whats.gif" alt="ひとびと・netとは" width="113" height="14" hspace="10" vspace="6"></td>
  </tr>
</table>
      <table border="0" cellspacing="0" cellpadding="0" width="580">
        <tr> 
          <td class="char120" colspan="2"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td class="char120" width="40"><img src="image/spacer.gif" width="1" height="1"></td>
          <td class="char120">		  
		  <div align="center" style="margin:0 0 20px 0;"><img src="image/member_title.gif" width="417" height="47" alt="知りたいあなたをハッピーナビ"></div>
		  「ひとびと・net」に集まる生活者が、<br>
		  「みんなの知識を持ちより、知りたいことがわかったり、得意なことを広めて、<br>
		  みんなを幸せにする」そんなコミュニティです。<br>
		  <br>
		  「ひとびと・net」では、ナビページに興味のあるひとびとが集い、関連情報が交換され、<br>
		  多種多様なテーマについて話し合ったり、オフ会などの実際のアクティビティに結びつけたり、<br>
		  みんなの目的を達成させるコミュニティになっています。
          </td>
        </tr>
      </table>

<br>
<a name="member"></a>
<table width="580" border="0" cellspacing="0" cellpadding="0">
 <tr bgcolor="#F5E156"> 
    <td><img src="image/t_member.gif" alt="ひとびと・netのメンバーになると" width="220" height="14" hspace="10" vspace="6"></td>
  </tr>
</table>
      <table border="0" cellspacing="0" cellpadding="0" width="580">
        <tr> 
          <td class="char120"><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
        <tr> 
          <td align="center" class="char120"><img src="image/member_img.gif" alt="ひとびと・netのメンバーになると" width="579" height="465">
          </td>
        </tr><tr><td><div align="center"><a href="https://www.hitobito.net/index.php?module=Member&action=Regist"><img src="image/nabipage_icon.gif" width="113" height="78" hspace="0" border="0" align="middle"></a></div></td>
        </tr>
      </table>
