<table width="200" border="0" cellspacing="0" cellpadding="0" bgcolor="#F5E156">
  <tr>
    <td colspan="3"><img src="image/menu_ug_ttl.gif" width="200" height="28" alt="ナビ記事カテゴリー"></td>
  </tr>
  <tr>
    <td width="3"><img src="image/spacer.gif" width="3" height="1"></td>
    <td width="194"><!-- 記事タイトルここから -->
        <table width="194" border="0" cellspacing="0" cellpadding="3">
          <!-- ループここから -->
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><a href="index.php?module=contents&content_id=31.html"><strong>1.ひとびと･netに登録しよう</strong></a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=31.html#1-1">・基本情報の入力〜本登録</a></td>
          </tr>
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><a href="index.php?module=contents&content_id=31.html#2"><strong>2.ログインしよう</strong></a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=31.html#2-1">・ログイン情報を入力する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=31.html#2-2">・パスワードを忘れたときは</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=31.html#2-3">・パスワードを変更する</a></td>
          </tr>
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><a href="index.php?module=contents&content_id=32.html"><strong>3.登録情報を変更したい</strong></a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-1">・基本情報の変更</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-2">・メール配信の変更</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-3">・メルマガの確認／解除</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-4">・ワイワイ会議の確認／解除</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-5">・ひとびと・netからの退会</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=32.html#3-6">・ログアウト</a></td>
          </tr>
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><a href="index.php?module=contents&content_id=33.html"><strong>4.コミュニティに参加しよう</strong></a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">
			<table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="12"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"></td>
                <td class="char120"><a href="index.php?module=contents&content_id=33.html#4-1">・お気に入りのナビページを見つけよう</a></td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=33.html#4-2">・コメントを投稿する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=33.html#4-3">・トラックバックを送信する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=33.html#4-4">・アンケートに参加する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=33.html#4-5">・メールマガジンに登録する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=33.html#4-6">・ナビに問い合わせる</a></td>
          </tr>
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><table border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td bgcolor="#E6F2FF" class="char120"><a href="index.php?module=contents&content_id=34.html"><strong>5.ワイワイ会議に参加しよう</strong></a></td>
			  </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-1">・ワイワイ会議とは？</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-2">・ワイワイ会議を閲覧する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-3">・ワイワイ会議に登録する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-4">・ワイワイ会議で発言する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-5">・発言に返信する(WEB編)</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-6">・発言に返信する(ML編)</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="12"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"></td>
                  <td class="char120"><a href="index.php?module=contents&content_id=34.html#5-7">・受信メールの振り分け設定方法</a></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=34.html#5-8">・ワイワイ会議ご利用上の注意</a></td>
          </tr>
          <tr>
            <td bgcolor="#E6F2FF" class="char120"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="char120"><a href="index.php?module=contents&content_id=35.html"><strong>6.</strong></a></td>
                <td class="char120"><a href="index.php?module=contents&content_id=35.html"><strong>ナビになってブログをはじめよう</strong></a></td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-1">・ナビとは？</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-2">・ナビになる</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-3">・記事カテゴリを作成する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-4">・記事を作成する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-11">・カテゴリや記事を並べ替える</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=35#6-5">・トラックバックとは？</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=36#6-6">・ナビページの初期設定をする</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=36#6-7">・ワイワイ会議の初期設定をする</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=36#6-8">・アンケートを作成する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=36#6-9">・リンク集を作成する</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="12"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"></td>
                  <td class="char120"><a href="index.php?module=contents&content_id=36#6-10">・メールでお知らせ通知を受け取る（デイリーレポート）</a></td>
                </tr>
              </table>
			  </td>
          </tr>
		  <tr>
            <td bgcolor="#E6F2FF" class="char120"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="char120"><a href="index.php?module=contents&content_id=37.html"><strong>7.</strong></a></td>
                <td class="char120"><a href="index.php?module=contents&content_id=37.html"><strong>ワイワイ会議の管理について</strong></a></td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="12"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"></td>
                  <td class="char120"><a href="index.php?module=contents&content_id=37.html#7-1">・ゲストメンバーを本登録メンバーに承認する</a></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=37#7-2">・新規投稿</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=37#7-3">・発言編集</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=37#7-4">・発言削除</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=37#7-5">・スレッド移動</a></td>
          </tr>
		  
		  <tr>
            <td bgcolor="#E6F2FF" class="char120"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="char120"><a href="index.php?module=contents&content_id=38.html"><strong>8.</strong></a></td>
                <td class="char120"><a href="index.php?module=contents&content_id=38.html"><strong>ナビメニューを使いこなそう</strong></a></td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=38#8-1">・登録情報の編集</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=38#8-2">・記事投稿管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=38#8-3">・画像管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=38#8-4">・コメント管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=38#8-5">・トラックバック管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=39#8-6">・メルマガ管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=39#8-7">・アンケート管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=39#8-8">・問い合わせ管理</a></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" class="char120"><img src="image/spacer.gif" width="12" height="1" align="absmiddle"><a href="index.php?module=contents&content_id=39#8-9">・お問い合わせ</a></td>
          </tr>
          <!-- ループここまで -->
        </table>
        <!-- 記事タイトルここまで -->
    </td>
    <td width="3"><img src="image/spacer.gif" width="3" height="1"></td>
  </tr>
  <tr>
    <td height="5" colspan="3" valign="bottom" bgcolor="#F5E156"><img src="image/m_memu_foot.gif" width="200" height="3"></td>
  </tr>
</table>
<br>
