TD {
	FONT-SIZE: 12px; COLOR: #555555
}
.leftmenu1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #292864 1px solid; BACKGROUND-COLOR: #c0d7eb
}
.leftmenu2 {
	BORDER-RIGHT: #292864 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #292864 1px solid; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #292864 1px solid; BACKGROUND-COLOR: #eeeeee
}
.leftmenu3 {
	BORDER-RIGHT: #212e61 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #212e61 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #212e61 1px solid; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #212e61 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.count {
	FONT-SIZE: 12px; COLOR: #222222
}
.myname {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 17px
}
.poiname {
	FONT-SIZE: 10px; COLOR: #212f63
}
.point {
	FONT-SIZE: 10px; LINE-HEIGHT: 20px
}
.point_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 17px
}
A.menu1:link {
	COLOR: #005ea6; TEXT-DECORATION: none
}
A.menu1:hover {
	COLOR: #d24574; TEXT-DECORATION: none
}
A.menu1:visited {
	TEXT-DECORATION: none
}
.graphtop {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid
}
.graphmiddle {
	BORDER-RIGHT: #666666 1px solid; BORDER-LEFT: #666666 1px solid
}
.graphbottom {
	BORDER-RIGHT: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.fs12_lh130 {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.fs12_lh120 {
	FONT-SIZE: 12px; LINE-HEIGHT: 120%
}
.fs10_lh100 {
	FONT-SIZE: 10px; LINE-HEIGHT: 100%
}
A:hover {
	COLOR: #cc0000
}
A:link {
	COLOR: #006699
}
.mysttl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
.mysttl_menu {
	FONT-SIZE: 14px; COLOR:white ; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
.big_text_b {
	font-size: 14px;
	font-weight: bold;
	letter-spacing:1px;
	padding:5px;
}

.tw2 {
	font-size: 14px;
	font-weight: bold;
	color: #FF6E19;
	letter-spacing:1px;
	line-height:21px;
}

.h {
	line-height:20px;
}

.title_1 {
	background-color:#000099;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	letter-spacing:2px;
	padding:7px;
}

.title_2 {
	background-color:#33CCFF;
	color:#000000;
	font-weight:bold;
	padding:5px;
	letter-spacing:2px;
}

.box {
	border-style:solid;
	border-width:1px;
	border-color:#dadada;
	padding:10px;
	}

.footer_text {
	font-size: 10px;
}	


.right_menu_title {
	font-size: 12px;
	color: #FF6E19;
	font-weight: bold;
	line-height: 18px;
}