        <div class="box-border" style="margin:8px 0px 0px 0px;"><img src="image/mi_categorie.gif" width=285 height=16 alt="カテゴリ一覧　興味のあるカテゴリに参加してみよう"></div>
        <div class="box-borderL">
          <table width="541" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="265" valign="top">
<!--カテゴリ 食 ここから-->
                <div style="padding:10px 0px 0px 10px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_shoku.gif" width="28" height="27" alt="食"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>フード／ドリンクス</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=72"><strong>幸せのケーキ共和国</strong></a><br>
                            <span class="char140xxs">ケーキショップ・ケーキについての情報交換</span></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
				<img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon">
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=29">ワイン＆グルメよもやま話</a><br>
						<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=205">ぶきっちょさんのお料理</a><br>
						<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=223">【３万人いちば】 隠れた逸品WO発掘♪</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 食 ここまで-->
<!--カテゴリ 遊 ここから-->
                <div style="padding:25px 0px 0px 10px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_yuu.gif" width="28" height="27" alt="遊"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>趣味</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><strong><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=45">民謡を愛し、日本を再発見しましょ！</a></strong><br>
                        <span class="char140xxs">民謡歌手湊由加里と民謡について話そう！</span></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
					<!--	<img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon"> -->
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=60">車好き集まれ〜ジムカーナ参戦記</a><br>
						<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=68">鮎釣り同好会</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=135">バドミントンで遊ぼ〜♪</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=48">70年代のフォーク、GSで盛り上がろう！</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=90">ビートルズ友の会</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=178">J-POPアーチスト名鑑</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=8">シアタールーム</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=69">ライカ型３５ｍｍクラシックカメラを楽しむ広場</a><br>
                           </td>
                      </tr>
                      <tr>
                        <td valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="6"></span></td>
                        <td><span class="char110b"><img src="image/spacer.gif" width="1" height="6"></span></td>
                        <td align="left" class="char140"><span class="char110b"><img src="image/spacer.gif" width="1" height="6"></span></td>
                      </tr>
                      <tr>
                        <td valign="top">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="left" class="char140"><strong>旅行／地域情報</strong></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=12"><strong>八ケ岳・田舎通い通信</strong></a><br><span class="char140xxs">八ヶ岳山麓に惚れこみ田舎通いしているナビからの情報</span></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
						<img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon"> 
						</td>
                        <td width="10">&nbsp;</td>
                        
                <td align="left" class="char140"> 
                  <p><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=5">河口湖に遊ぶ．．</a><br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=46">行ってこーわい『ぷち四国』</a><br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=168">沖縄住民からの沖縄みどころ情報</a><br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=31">こっそり教えちゃう！ウラ香港</a><br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=66">はじめての海外旅行</a><br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=210">屋久島に行きたい！</a>	
                    <br>
                    <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=221">ようこそ！東北の玄関 
                    福島県へ </a></p>
                  </td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 遊 ここまで-->
<!--カテゴリ 美 ここから-->
                <div style="padding:25px 0px 0px 10px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_bi.gif" width="28" height="27" alt="美"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>美容</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=193"><strong>アラフォー世代のネイルと美容</strong></a><br><span class="char140xxs">いつまでも若くいたい女性のためのコミュニティ</span></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
						<!-- <img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon"> -->
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=212">いつもキレイに健やかに♪</a><br><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=190">自然歯科</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 美 ここまで-->
              </td>
              <td width="21"><img src="image/spacer.gif" width=21 height=1 alt=""></td>
              <td width="255" valign="top">
<!--カテゴリ 学 ここから-->
                <div style="padding:10px 0px 0px 0px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_gaku.gif" width="28" height="27" alt="学"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>ビジネス／語学</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <!-- <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><strong><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=211">心を育てる楽しい食育</a></strong><br>
                        <span class="char140xxs">家族の心を繋ぐ、大切な「食」を考えよう♪</span></td>
                      </tr>　-->
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
						<!-- <img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon"> -->
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=47">育児持ちより情報局</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=155">神奈川発信〜子育て育児お助け探し〜</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=42">お父さんと子供のいい関係</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=32">教育を考える</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=137">ＲＥＢネット「やさしさ広場」</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=187">読書は三文の徳。３才でも本読みが出来る指導法。</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=84">中学入試の理科</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=106">気楽な国語教育談話室</a><br>
                                                        <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=52">ドイツ語圏なんでも館</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 学 ここまで-->
<!--カテゴリ 暮 ここから-->
                <div style="padding:25px 0px 0px 0px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_kurashi.gif" width="28" height="27" alt="暮"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>家族／健康／カルチャー／<br>
                        インターネット</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=50"><strong>ホームページ・ビルダーで創る！</strong></a><br>
							<span class="char140xxs">ホームページ・ビルダーの使いこなし情報交換</span></td>
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
				<!--		<img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon">-->
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=44">はじめての、パソコン活用情報！</a><br>						<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=184">みんなで解決！パソコン初心者の疑問・質問</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=67">ＩＰ電話情報</a><br>
                            
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=53">DELLなんでも相談室</a><br>                            
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=15">Excelの上手な使い方</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=201">発見！ブログ生活♪</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=172">愛しのインコ様</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=11">めざせ！シンプルライフ！</a><br>
                            <a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=128">なんでも話そう！環境のこと</a><br>
							<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=113">無印良品ファンあつまれ♪</a><br>
					<!--		<a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=215">こちら「花粉対策」わいわいミーティング</a>--></td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 暮 ここまで-->
<!--カテゴリ 住 ここから-->
                <div style="padding:25px 0px 0px 0px;">
                  <table width="255" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="28"><img src="image/icon_juu.gif" width="28" height="27" alt="住"></td>
                      <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                      <td align="left" valign="bottom" class="char110b"><strong>住まい／インテリア／不動産</strong></td>
                    </tr>
                  </table>
                  <div style="margin:8px 0px 0px 0px;">
                    <table width="255" border="0" cellpadding="0" cellspacing="0">
                      <tr><!-- 
                        <td width="28" valign="top"><img src="image/icon_crown.gif" width="28" height="18" alt=" "></td>
                        <td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
                        <td align="left" class="char110b"><a href="http://www.hitobito.net/index.php?module=Navi&action=ShowNaviPage&navipage_id=214"><strong>１００年住宅に挑戦したい</strong></a><br><span class="char140xxs">埼玉で「100年住宅」を具体的に企画しています</span></td> -->
                      </tr>
                      <tr>
                        <td width="28" valign="top"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td width="10"><span class="char110b"><img src="image/spacer.gif" width="1" height="8"></span></td>
                        <td align="left" class="char110b"><img src="image/spacer.gif" width="1" height="6"></td>
                      </tr>
                      <tr>
                        <td width="28" valign="bottom" class="char140">
						<!-- <img src="image/icon_new.gif" alt="NEW" width="26" height="12" class="new-icon"> -->
						</td>
                        <td width="10">&nbsp;</td>
                        <td align="left" class="char140">
                            <!--<a href="#">ページ名</a>-->
						</td>
                      </tr>
                    </table>
                  </div>
                </div>
<!--カテゴリ 住 ここまで-->
              </td>
            </tr>
          </table>
        </div>
<!--事務局ブログブロック-->
<div align="right" style="margin:20px 0px 0px 0px;"><a href="index.php?module=Navi&action=ShowNaviPage&navipage_id=194"><img src="image/ban_jimu-blog.gif" alt="事務局Blogはこちら" width="262" height="36" border="0"></a></div>
<!--事務局ブログブロック終了-->
