<!--header-->
  <table width=800 border=0 cellpadding=0 cellspacing=0 style="margin:0px 0px 16px 0px;">
    <tr align="right">
      <td colspan="2" valign="bottom"><h1>ひとびと・netは、人の知識や経験を「教えられたり教えたり」しながら共有する開かれたコミュニティです。</h1></td>
    </tr>
    <tr>
      <td align="center" valign="middle">
	  <table border="0" cellspacing="3" cellpadding="0">
        <tr>
          <td><a href="./index.php"><img src="image/hito2_logo.gif" alt="ひとびと・net" width=163 height=42 border=0></a></td>
          <td><a href="./index.php?module=contents&content_id=9"><img src="image/happynabi.gif" alt="知りたいあなたをハッピーナビ" width="172" height="65" border="0"></a></td>
        </tr>
      </table>	  </td>
      <td align="right" valign="top">
        <table width="334" border="0" cellpadding="0" cellspacing="0" style="margin:0px 0px 5px 0px;">
          <tr>
            <td><a href="./index.php?module=contents&content_id=9#whats" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('menu01','','image/menu_01Ov.gif',1)"><img src="image/menu_01.gif" alt="初めての方へ" name="menu01" width=83 height=13 border=0 id="menu01"></a></td>
            <td><a href="./index.php?module=contents&content_id=31" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('menu02','','image/menu_02Ov.gif',1)"><img src="image/menu_02.gif" alt="使い方ガイド" name="menu02" width=81 height=13 border=0 id="menu02"></a></td>
            <td><a href="./index.php?module=contents&content_id=2" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('menu03','','image/menu_03Ov.gif',1)"><img src="image/menu_03.gif" alt="ヘルプ" name="menu03" width=51 height=13 border=0 id="menu03"></a></td>
            <td><a href="./index.php?module=contents&content_id=1" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('menu04','','image/menu_04Ov.gif',1)"><img src="image/menu_04.gif" alt="サイトマップ" name="menu04" width=75 height=13 border=0 id="menu04"></a></td>
            <td><a href="./index.php?module=RSS" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('menu05','','image/menu_05Ov.gif',1)"><img src="image/menu_05.gif" alt="RSS" name="menu05" width=44 height=13 border=0 id="menu05"></a></td>
          </tr>
        </table>
       <form name="form2" method="post" action="<{$ssl_url}>index.php?module=Member&amp;action=Login">
			<table border="0" cellpadding="0" cellspacing="0" style="margin:5px 0px 0px 0px; border:1px solid #227A22;">
				<tr>
					<td rowspan="2" align="left" class="char140xxs"><img src="image/spacer.gif" width="5" height="1"></td>
					<td height="17" align="left" class="char140xxs">メールアドレス</td>
					<td rowspan="2" class="char140xxs"><img src="image/spacer.gif" width="5" height="1"></td>
					<td class="char140xxs">パスワード </td>
					<td rowspan="2" class="char140xxs"><img src="image/spacer.gif" width="5" height="1"></td>
					<td class="char140xxs"><a href="<{$ssl_url}>index.php?module=Member&action=remindPassword">？パスワードをお忘れの方へ</a></td>
					<td rowspan="2" align="left" class="char140xxs"><img src="image/spacer.gif" width="5" height="1"></td>
				</tr>
				<tr>
					<td height="23" align="left" valign="top"><input type="text" name="member_login_mail" class="fbdr" style="width:175px; height:17px;"></td>
					<td valign="top"><input type="password" name="member_login_pass" style="width:104px; height:17px;" class="fbdr"></td>
					<td valign="top">
					<a onMouseOver="MM_swapImage('imageField','','image/btn_loginOv.gif',1)" onMouseOut="MM_swapImgRestore()">
					<input type="image" src="image/btn_login.gif" alt="ログイン" name="imageField" width=61 height=17 vspace="1" border=0 id="hitobito">
					</a>
					</td>
				</tr>
			</table>
			<input type="hidden" name="redirect_url" value="/index.php" />
			</form></td>
    </tr>
  </table>
<!--header-->
