<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><a href="index.php?module=Member&action=Regist" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('go','','image/btn_goOv.gif',1)"><img src="image/btn_go.gif" alt="メンバー登録をする" name="go" width="231" height="48" border="0" id="go"></a></td>
	</tr>
	<tr>
		<td><a href="index.php?module=contents&content_id=9#whats" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('about','','image/btn_aboutOv.gif',1)"><img src="image/btn_about.gif" alt="ひとびと・netとは？" name="about" width="130" height="17" border="0" id="about"></a></td>
	</tr>
	<tr>
		<td><a href="index.php?module=contents&content_id=9#member" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('member','','image/btn_memberOv.gif',1)"><img src="image/btn_member.gif" alt="メンバーになると？" name="member" width=130 height=17 border=0 id="member"></a></td>
	</tr>
</table>
