<table width="200" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFCC33">
	<tr>
		<td><img src="image/menu_navi_mail_ttl.gif" width="200" height="28" alt="メールマガジン"></td>
	</tr>
	<tr>
		<td>
			<form name="mailmag_regist_form" method="post" action="?module=MailMag&action=Subscribe&navipage_id=<{$navi_page_id}>">
				<table width="180" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
						<td class="char110">新規購読申し込み / 解除</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="mailmag_mail_addr" size="12" style="width:180px;">
						</td>
					</tr>
					<tr>
						<td><img src="image/spacer.gif" width="1" height="5"></td>
					</tr>
				</table>
				<table width="180" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
						<td>
							<input type="image" border="0" name="mailmag_regist_btn" src="image/menu_navi_mail_btn_rgst.gif" width="64" height="20">
						</td>
						<td><img src="image/spacer.gif" width="10" height="1"></td>
						<td width="98%">
							<input type="image" border="0" name="mailmag_release_btn" src="image/menu_navi_mail_btn_rls.gif" width="64" height="20">
						</td>
					</tr>
				</table>
				<table width="188" border="0" cellspacing="0" cellpadding="2" align="center">
					<tr>
						<td><p class="menuind16"><img src="image/menu_mem_link.gif" width="12" height="12" hspace="2" align="absmiddle"><span class="char110"><a href="?module=MailMag&action=BacknumberList&navipage_id=<{$navi_page_id}>" class="cblack">バックナンバー</a></span></p></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
				<tr>
					<td colspan="3"><img src="image/menu_mem_foot.gif" width="200" height="5"></td>
				</tr>
				<tr bgcolor="#FFFFFF">
				  <td colspan="3"><img src="image/spacer.gif" width="1" height="5"></td>
			  </tr>
</table>
