<table width="540" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="498" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="498" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td height="30" class="char130" bgcolor="E6F2FF"><b><{$mailmag.melmaga_name|escape}></b></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="8"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="498" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td>
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="char130" width="250" colspan="3"><img src="image/spacer.gif" width="260" height="1"></td>
					<td width="248"><img src="image/spacer.gif" width="238" height="1"></td>
				</tr>
				<tr>
					<td colspan="4"><img src="image/spacer.gif" width="1" height="5"></td>
				</tr>
				<tr>
					<td class="char130" width="48">　</td>
					<td class="char130" width="150">発行回数</td>
					<td class="char130" width="150">読者数</td>
					<td class="char130" width="150">最新発行日</td>
				</tr>
				<tr>
					<td colspan="4"></td>
				</tr>
				<tr>
					<td class="char130">　</td>
					<td class="char130"><{$mailmag.publish_count}>回</td>
					<td class="char130"><{$mailmag.reader_num}>人</td>
					<td class="char130"><{$mailmag.last_date}></td>
				</tr>
				<tr>
					<td colspan="4"><img src="image/spacer.gif" width="1" height="5"></td>
				</tr>
			</table>
		</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="540" height="1"></td>
	</tr>
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="10"></td>
	</tr>
</table>
<table width="540" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="498" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="498" height="1"></td>
		<td width="20" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="20" height="1"></td>
		<td width="1" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="8"></td>
		<td align="right" class="char120" height="5" bgcolor="E6F2FF"></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="8"></td>
		<td class="char120" bgcolor="E6F2FF" height="20"><b><{$mailmag.contents.subject|escape}></b></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td align="right" class="char120" height="20" bgcolor="E6F2FF">発行部数：<{$mailmag.contents.send_num}>通　　配信日：<{$mailmag.contents.send_date}></td>
		<td bgcolor="E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="498" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="8"></td>
		<td align="right" class="char120" height="10">　</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td class="char120"><{$mailmag.contents.body|escape|nl2br}></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td colspan="3" class="char120"><img src="image/spacer.gif" width="1" height="20"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
<{if $mailmag.contents.trackback_flag}>
	<tr>
		<td bgcolor="#CCCCCC" colspan="5"><img src="image/spacer.gif" width="540" height="1"></td>
	</tr>
	<tr bgcolor="#FDFADF">
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td valign="top">
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="char110"><p class="blogsttl">trackbackURL</P></td>
				</tr>
				<tr>
					<td bgcolor="#F5E156"><p class="blogtburl"><{$mailmag.trackback_url|escape}></p></td>
				</tr>
			</table>
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="char110">
						<p class="blogsttl">trackback(<{$mailmag.contents.trackback_num}>)</P>
					</td>
				</tr>
			</table>
<{foreach from=$mailmag.trackback_ary item=mailmag_trackback}>
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/blog_split498.gif" width="498" height="1"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td class="char130"><a href="<{$mailmag_trackback.url|escape}>"><{$mailmag_trackback.title|escape}></a><br>
					<{$mailmag_trackback.excerpt|escape}></td>
				</tr>
				<tr>
					<td align="right"><img src="image/c_hitobito_16.gif" width="16" height="16" align="absmiddle"><span class="char130"><a href="<{$mailmag_trackback.url|escape}>"><{$mailmag_trackback.blog_name|escape}></a><font color="#999999"> | <{$mailmag_trackback.date}></font></span></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
<{/foreach}>
		</td>
		<td><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
<{/if}>
<{if $mailmag.contents.comment_flag}>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="540" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td bgcolor="#E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#E6F2FF">
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="char110">
						<p class="blogsttl">comment(<{$mailmag.contents.comment_num}>)</p>
					</td>
				</tr>
			</table>
<{foreach from=$mailmag.comment_ary item=mailmag_comment}>
			<table width="498" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/blog_split498.gif" width="498" height="1"></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td class="char130"><{$mailmag_comment.comment|escape|nl2br}></td>
				</tr>
				<tr>
					<td align="right"><span class="char130"><{$mailmag_comment.user_name|escape}><font color="#999999"> | <{$mailmag_comment.date}></font></span></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
			</table>
<{/foreach}>
			<form name="mailmag_comment_form" method="post" action="#mailmag_comment_form">
			<input type="hidden" name="mailmag_comment_time" value="<{$mailmag_comment_time}>">
			<table width="498" border="0" cellspacing="0" cellpadding="0" id="mailmag_comment_form">
				<tr>
					<td colspan="3"><img src="image/mailmag_split4982.gif" width="498" height="1"></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
<{if $mailmag_error_ary}>
				<tr>
					<td></td>
					<td colspan="2" class="error"><{foreach from=$mailmag_error_ary item=mailmag_error}>・<{$mailmag_error|escape}><br><{/foreach}></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
<{/if}>
<{if $mailmag_comment_msg}>
				<tr>
					<td></td>
					<td colspan="2"><font color="#FF0000"><{$mailmag_comment_msg|escape}></font></td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
<{/if}>
				<tr>
					<td width="50" valign="top" nowrap class="char120">名前</td>
					<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
					<td width="438">
						<input type="text" name="user_name" size="12" style="width:180px;" value="<{$mailmag.user_name|escape}>">
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td valign="top" nowrap class="char120">コメント</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td>
						<textarea name="comment" rows="5" cols="50" style="width:360px;"><{$mailmag.comment|escape}></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td>　</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td>
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="captcha/index.php?<{php}>echo session_name()<{/php}>=<{php}>echo session_id()<{/php}>" width="120" height="56"></td>
								<td><img src="image/spacer.gif" width="10" height="1"></td>
								<td class="char120">
									<input type="text" name="key_string">
									<input type="submit" name="key_change_btn_x" value="画像変更"><br>
									画像内の文字列を入力して下さい
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
				<tr>
					<td>　</td>
					<td><img src="image/spacer.gif" width="10" height="1"></td>
					<td>
						<input type="image" border="0" name="post_comment_btn" src="image/enquete_btn_post.gif" width="71" height="20" alt="書き込む">
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
			</table>
			</form>
		</td>
		<td bgcolor="#E6F2FF"><img src="image/spacer.gif" width="20" height="1"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
<{/if}>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td colspan="3" bgcolor="#669BFD"><img src="image/spacer.gif" width="1" height="3"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
		<td colspan="3" bgcolor="#82ADFD"><img src="image/spacer.gif" width="1" height="2"></td>
		<td bgcolor="#CCCCCC"><img src="image/spacer.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="image/spacer.gif" width="540" height="1"></td>
	</tr>
	<tr>
		<td colspan="5"><img src="image/spacer.gif" width="1" height="10"></td>
	</tr>
</table>
