<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#5B94FD">
		<td colspan="3"><img src="image/naviedit_complete_ttl.gif" width="40" height="25" hspace="10" alt="´°Î»"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555" valign="top">
			<form name="mailmag_form" method="post">
			<input type="hidden" name="mailmag_contents_id" value="<{$mailmag_contents_data.contents_id}>">
			<input type="hidden" name="mailmag_subject" value="<{$mailmag_contents_data.subject|escape}>">
			<input type="hidden" name="mailmag_body" value="<{$mailmag_contents_data.body|escape}>">
			<input type="hidden" name="mailmag_footer" value="<{$mailmag_contents_data.footer|escape}>">
			<input type="hidden" name="mailmag_send_year" value="<{$mailmag_contents_data.send_year}>">
			<input type="hidden" name="mailmag_send_month" value="<{$mailmag_contents_data.send_month}>">
			<input type="hidden" name="mailmag_send_day" value="<{$mailmag_contents_data.send_day}>">
			<input type="hidden" name="mailmag_send_hour" value="<{$mailmag_contents_data.send_hour}>">
			<input type="hidden" name="mailmag_send_minute" value="<{$mailmag_contents_data.send_minute}>">
			<input type="hidden" name="mailmag_open_flag" value="<{$mailmag_contents_data.open_flag}>">
			<input type="hidden" name="mailmag_comment_flag" value="<{$mailmag_contents_data.comment_flag}>">
			<input type="hidden" name="mailmag_trackback_flag" value="<{$mailmag_contents_data.trackback_flag}>">
			<input type="hidden" name="mailmag_status" value="<{$mailmag_contents_data.status}>">
			<input type="hidden" name="mailmag_click_counter" value="<{$mailmag_contents_data.click_counter|escape}>">
			<table width="555" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="image/spacer.gif" width="1" height="15"></td>
				</tr>
				<tr>
					<td class="char120">ÅÐÏ¿¤·¤Þ¤·¤¿¡£</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td bgcolor="#5B94FD"><img src="image/spacer.gif" width="555" height="1"></td>
				</tr>
				<tr>
					<td>¡¡</td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="20">
						<input type="image" border="0" name="cancel_btn" src="image/naviedit_delete_btn_cancel.gif" width="39" height="20" alt="Ìá¤ë">
					</td>
				</tr>
			</table>
			</form>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
