<table width="580" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#5B94FD">
    <td colspan="3"><img src="image/naviedit_mail_edit_ttl.gif" width="103" height="25" hspace="10" alt="メルマガ設定"></td>
	</tr>
	<tr>
		<td width="15"><img src="image/spacer.gif" width="15" height="1"></td>
		<td width="555" valign="top">
      <table width="555" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="image/spacer.gif" width="1" height="15"></td>
        </tr>
<{if $mailmag_error_ary}>
				<tr>
					<td class="error"><{foreach from=$mailmag_error_ary item=mailmag_error}>・<{$mailmag_error|escape}><br><{/foreach}></td>
				</tr>
				<tr>
					<td><img src="image/spacer.gif" width="1" height="10"></td>
				</tr>
<{/if}>
        <tr>
          <td bgcolor="#5B94FD"><img src="image/spacer.gif" width="555" height="1"></td>
        </tr>
        <tr>
          <td>　</td>
        </tr>
        <tr>
          <td>
<{if $mailmag_member_regist_flag}>
						<img src="image/m_menu_link02.gif" width="17" height="12" hspace="2" align="absmiddle"><span class="char120"><a href="index.php?module=Member&action=Regist">メンバー登録はこちら</a></span>
<{/if}>
          </td>
        </tr>
      </table>
		</td>
		<td width="10"><img src="image/spacer.gif" width="10" height="1"></td>
	</tr>
</table>
